<template>
    <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mb-0">
                    <div class="col-5">
                        <h4 class="text-left">Expenditure Requests List</h4>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <a class="float-right mr-1 mt-1t btn-sm btn-outline-primary mr-1 mt-1" uk-tooltip="Create New Expenditure" uk-toggle href="#addExpenditure">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>New
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addExpenditure" uk-modal>
                    <div class="uk-modal-dialog uk-width-1-2">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Expenditure Request</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Name</label>
                                    <input
                                        v-model="newExpenditure.name"
                                        
                                        type="text"
                                        class="form-control"
                                        name="name"
                                    />
                                </div>
                                 <div class="col-6">
                                    <label for="username">Date</label>
                                    <input
                                        v-model="newExpenditure.date"
                                        
                                        type="date"
                                        class="form-control"
                                        name="date"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Voucher Number</label>
                                    <input
                                        v-model="newExpenditure.voucher_number"
                                        
                                        type="text"
                                        class="form-control"
                                        name="voucher_number"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="username">Amount</label>
                                    <input
                                        v-model="newExpenditure.amount"
                                        
                                        type="number"
                                        class="form-control"
                                        name="amount"
                                    />
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Department</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newExpenditure.department"
                                    
                                    >
                                        <option value=""></option>
                                        <option 
                                        v-for="department in departments.data.departments" 
                                        :key="department.id" 
                                        :value="department.id"
                                        >
                                            {{department.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="username">Description</label>
                                    <textarea
                                        v-model="newExpenditure.description"
                                        rows="4"
                                        class="form-control"
                                        name="description"
                                    ></textarea>
                                </div>
                                
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="btn btn-outline-primary" @click="saveExpenditure">Create</button>
                        </div>
                    </div>
                </div>
                 
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <th class="font-weight-light" scope="col"></th>
                        <th class="font-weight-light" scope="col">Name</th>
                        <th class="font-weight-light" scope="col">Date</th>
                        <th class="font-weight-light" scope="col">Amount</th>
                        <th class="font-weight-light" scope="col">Status</th>
                        <th class="font-weight-light" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(expenditure, index) in expenditures" :key="expenditure.id"
                        >
                        <td>{{index + 1}}</td>
                        <td>{{expenditure.name}}</td>
                        <td>{{expenditure.date}}</td>
                        <td>{{expenditure.amount}}</td>
                        <td>{{expenditure.status}}</td>
                        <td>
                            <a class="btn float-right btn-sm btn-outline-danger" uk-tooltip="Delete" @click="removeExpenditure(index)">
                                <font-awesome-icon icon="trash"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-danger" uk-tooltip="Reject Expenditure Request" @click="reject(index, 'Expenditure')" v-show="manage_expenditure">
                                <font-awesome-icon icon="ban"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-tooltip="Approve Expenditure Request" @click="approve(index, 'Expenditure')" v-show="manage_expenditure">
                                <font-awesome-icon icon="check"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-tooltip="Edit" uk-toggle href="#editExpenditure" @click="getEditexpenditure(index)">
                                <font-awesome-icon icon="pen"/>
                            </a>
                            <div class="uk-flex-top" id="editExpenditure" uk-modal>
                                <div class="uk-modal-dialog uk-width-1-2">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Edit Expenditure Request</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="username">Name</label>
                                                <input
                                                    v-model="expenditureChange.name"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="name"
                                                />
                                            </div>
                                                <div class="col-6">
                                                <label for="username">Date</label>
                                                <input
                                                    v-model="expenditureChange.date"
                                                    
                                                    type="date"
                                                    class="form-control"
                                                    name="date"
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="username">Voucher Number</label>
                                                <input
                                                    v-model="expenditureChange.voucher_number"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="voucher_number"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="username">Amount</label>
                                                <input
                                                    v-model="expenditureChange.amount"
                                                    
                                                    type="number"
                                                    class="form-control"
                                                    name="amount"
                                                />
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="username">Department</label>
                                                <select 
                                                class="form-control" 
                                                v-model="expenditureChange.department"
                                                
                                                >
                                                    <option 
                                                    :value="expenditureChange.department_id" 
                                                    selected="selected">{{expenditureChange.department}}
                                                    </option>
                                                    <option 
                                                    v-for="department in departments.data.departments" 
                                                    :key="department.id" 
                                                    :value="department.id"
                                                    >
                                                        {{department.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-8">
                                                <label for="username">Description</label>
                                                <textarea
                                                    v-model="expenditureChange.description"
                                                    rows="4"
                                                    class="form-control"
                                                    name="description"
                                                ></textarea>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <button type="button" class="btn btn-outline-primary" @click="updateExpenditure">Update</button>
                                    </div>
                                </div>
                            </div>
                            <a class="mr-3 float-right btn btn-sm btn-outline-warning" uk-toggle uk-tooltip="View" href="#expenditureModal" @click="getExpenditure(index)">
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="uk-flex-top" id="expenditureModal" uk-modal>
                                <div class="uk-modal-dialog uk-width-1-2">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Expenditure {{expenditure.name}}</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Name:</h6><br/>
                                                {{expenditureView.name}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Date:</h6><br/>
                                                {{expenditureView.date}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Amount:</h6><br/>
                                                {{expenditureView.amount}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Voucher Number:</h6><br/>
                                                {{expenditureView.voucher_number}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Description:</h6><br/>
                                                {{expenditureView.description}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Status:</h6><br/>
                                                {{expenditureView.status}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Expenditure')" v-show="manage_expenditure">
                                            Reject
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Expenditure')" v-show="manage_expenditure">
                                            Approve
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Expenditure Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
</template>

<script lang="ts">
   
    import { Component, Vue } from "vue-property-decorator";
    import ExpenditureDataService from "../../../services/ExpenditureService";
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import RequestDataService from "../../../services/Requestservice";
    import DepartmentDataService from "../../../services/DepartmentService";
    import Authorize  from '../../../services/AuthorizationService';
    import bus from '../../../services/eventBusService';
    import $ from 'jquery';
    import UIkit from 'uikit';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");
    
    
    @Component
    export default class Expenditure extends Vue {
        public departments: any = {};
        public expenditureIndex = "";
        public expenditures: any = {};
        public manage_expenditure = false;
        public expenditureSave: any = {};
        public updatedExpenditure: any = {};
        public deletedExpenditure: any = {};
        public expenditureView: any = {};
        public newExpenditure: any = {
            name: "",
            date: "",
            voucher_number: "",
            department_id: "",
            amount: "",
            description: ""
        };

        public expenditureChange: any = {
            name: "",
            date: "",
            voucher_number: "",
            department_id: "",
            department: "",
            amount: "",
            description: ""
        };

        public json_data: any = {};
        public json_fields: any = {
            name: "name",
            date: "date",
            voucher_number: "voucher_number",
            department: "department",
            description: "description",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        // @Auth.Getter
        // public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            // if (this.membershipStatus == "new") {
            //     bus.$emit('navigate', 'user_verify');
            // }
        }

        navigate(path: any){
            router.push({ name: path });

        }

        search(event: any){
            var search = event.target.value;
            console.log(event.target.value);
            this.expenditures = this.expenditures.filter(function(_expenditures: any){
                return _expenditures.taxAndInsurance_id == search;
            });
        }

        showLink(){
            this.manage_expenditure = Authorize.authorizeManageRoute('expenditure');
        }

        retrieveDepartments() {
            DepartmentDataService.getAll()
            .then((response) => {
                this.departments = response;
                console.log(this.departments);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        getEditexpenditure(currentIndex: any){
            console.log(currentIndex);
            this.expenditureIndex = currentIndex;
            this.expenditureChange.plate_number = this.expenditures[this.expenditureIndex].plate_number;
            this.expenditureChange.name = this.expenditures[this.expenditureIndex].name;
            this.expenditureChange.date = this.expenditures[this.expenditureIndex].date;
            this.expenditureChange.voucher_number = this.expenditures[this.expenditureIndex].voucher_number;
            this.expenditureChange.amount = this.expenditures[this.expenditureIndex].amount;
            this.expenditureChange.department = this.expenditures[this.expenditureIndex].department;
            this.expenditureChange.department_id = this.expenditures[this.expenditureIndex].department_id; 
            this.expenditureChange.description = this.expenditures[this.expenditureIndex].description; 
        }

        retrieveExpenditures() {
            ExpenditureDataService.getAll()
            .then((response) => {
                this.expenditures = response.data.expenditures;
                this.json_data = this.expenditures;
                console.log(this.expenditures);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        getExpenditure(expenditureIndex: any){
            this.expenditureView = this.expenditures[expenditureIndex];
        }

        approve(i: any, req: string){
            if(!Authorize.authorizeManageRoute('expenditure')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "approved",
                table: req,
                id: this.expenditures[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
            .then((response) => {
                console.log(response.data);
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                        bus.$emit('failed', response.data.message);
                }
                this.refreshList();
                this.getExpenditure(i);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        reject(i: any, req: string){
            if(!Authorize.authorizeManageRoute('expenditure')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "rejected",
                table: req,
                id: this.expenditures[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
            .then((response) => {
                console.log(response.data);
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                        bus.$emit('failed', response.data.message);
                }
                    this.refreshList();
                    this.getExpenditure(i);
            
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveExpenditures();
            this.retrieveDepartments();
            this.showLink();
        }
        

        saveExpenditure() {
            if(!Authorize.authorizeCreateRoute('expenditure')){
                bus.$emit('block', 'auth');
            }
            var data = {
                name: this.newExpenditure.name,
                date: this.newExpenditure.date,
                voucher_number: this.newExpenditure.voucher_number,
                department_id: this.newExpenditure.department,
                amount: this.newExpenditure.amount, 
                description: this.newExpenditure.description, 
            };
            console.log(data);
            ExpenditureDataService.create(data)
            .then((response) => {
                console.log(response.data);
                this.expenditureSave = response;
                UIkit.modal('#addExpenditure').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
                this.refreshList();
                // this.submitted = true;
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        updateExpenditure() {
            if(!Authorize.authorizeUpdateRoute('expenditure')){
                bus.$emit('block', 'auth');
            }
            var data = {
                name: this.expenditureChange.name,
                date: this.expenditureChange.date,
                voucher_number: this.expenditureChange.voucher_number,
                department_id: this.expenditureChange.department,
                amount: this.expenditureChange.amount, 
                description: this.expenditureChange.description, 
            };
            console.log(data);
            ExpenditureDataService.update(this.expenditures[this.expenditureIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedExpenditure = response;
                UIkit.modal('#editExpenditure').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        removeExpenditure(i: any) {
            if(!Authorize.authorizeDeleteRoute('expenditure')){
                bus.$emit('block', 'auth');
            }
            ExpenditureDataService.delete(this.expenditures[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedExpenditure = response;
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        /* color: #364372; */
    }
</style>