<template>
    <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mb-0">
                    <div class="col-5">
                        <h4 class="text-left">Horse Requests List</h4>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <a class="float-right mt-1 btn btn-sm btn-outline-primary" uk-tooltip="Create New Horse Request" uk-toggle href="#addHorse">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addHorse" uk-modal>
                    <div class="uk-modal-dialog uk-width-2-3">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Horse Request</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="username">Horse Plate Number:</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newhorse.horse_id"
                                    
                                    >
                                        <option 
                                        v-for="horse in horses" 
                                        :key="horse.id" 
                                        :value="horse.id"
                                        >
                                            {{horse.plate_number}}
                                        </option>
                                    </select>
                                </div>
                                 <div class="col-6">
                                    <label for="username">Type Of Request</label>
                                    <input
                                        v-model="newhorse.type_of_request"
                                        
                                        type="date"
                                        class="form-control"
                                        name="type_of_request"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Voucher Number</label>
                                    <input
                                        v-model="newhorse.voucher_number"
                                        
                                        type="text"
                                        class="form-control"
                                        name="voucher_number"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="username">Old Serial Number</label>
                                    <input
                                        v-model="newhorse.old_serial_number"
                                        
                                        type="text"
                                        class="form-control"
                                        name="old_serial_number"
                                    />
                                </div>
                            
                                
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Amount</label>
                                    <input
                                        v-model="newhorse.amount"
                                        
                                        type="number"
                                        class="form-control"
                                        name="amount"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="username">Comment</label>
                                    <input
                                        v-model="newhorse.comment"
                                        
                                        type="text"
                                        class="form-control"
                                        name="comment"
                                    />
                                </div>
                            
                                
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <label for="username">Description</label>
                                    <textarea
                                        v-model="newhorse.description"
                                        rows="4"
                                        class="form-control"
                                        name="description"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="btn btn-outline-primary" @click="saveHorse">Create</button>
                        </div>
                    </div>
                </div>
                 
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <th class="font-weight-light" scope="col"></th>
                        <th class="font-weight-light" scope="col">Plate Number</th>
                        <th class="font-weight-light" scope="col">Type Of Request</th>
                        <th class="font-weight-light" scope="col">Status</th>
                        <th class="font-weight-light" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(horseRequesst, index) in horseRequessts" :key="horseRequesst.id"
                        >
                        <td>{{index + 1}}</td>
                        <td>{{horseRequesst.plate_number}}</td>
                        <td>{{horseRequesst.type_of_request}}</td>
                        <td>{{horseRequesst.status}}</td>
                        <td>
                            <a class="float-right btn btn-sm btn-outline-danger" uk-tooltip="Delete" @click="removeHorse(index)">
                                <font-awesome-icon icon="trash"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-danger" uk-tooltip="Reject Horse Request" @click="reject(index, 'Horse')" v-show="manage_horse">
                                <font-awesome-icon icon="ban"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-tooltip="Approve Horse Request" @click="approve(index, 'Horse')" v-show="manage_horse">
                                <font-awesome-icon icon="check"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-warning" uk-tooltip="Edit" uk-toggle href="#editHorse" @click="getEditHorse(index)">
                                <font-awesome-icon icon="pen"/>
                            </a>
                            <div class="uk-flex-top" id="editHorse" uk-modal>
                                <div class="uk-modal-dialog uk-width-2-3">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Edit Horse Request</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Horse Plate Number:</label>
                                                <select 
                                                class="form-control" 
                                                v-model="horseChange.plate_number"
                                                
                                                >
                                                    <option 
                                                    v-for="horse in horses" 
                                                    :key="horse.id" 
                                                    :value="horse.plate_number"
                                                    >
                                                        {{horse.plate_number}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label for="username">Type Of Request</label>
                                                <input
                                                    v-model="horseChange.type_of_request"
                                                    
                                                    type="date"
                                                    class="form-control"
                                                    name="type_of_request"
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="username">Voucher Number</label>
                                                <input
                                                    v-model="horseChange.voucher_number"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="voucher_number"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="username">Old Serial Number</label>
                                                <input
                                                    v-model="horseChange.old_serial_number"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="old_serial_number"
                                                />
                                            </div>
                                        
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="username">Amount</label>
                                                <input
                                                    v-model="horseChange.amount"
                                                    
                                                    type="number"
                                                    class="form-control"
                                                    name="amount"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="username">Comment</label>
                                                <input
                                                    v-model="horseChange.comment"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="comment"
                                                />
                                            </div>
                                        
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-8">
                                                <label for="username">Description</label>
                                                <textarea
                                                    v-model="horseChange.description"
                                                    rows="4"
                                                    class="form-control"
                                                    name="description"
                                                ></textarea>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <button type="button" class="btn btn-outline-primary" @click="updateHorse">Update</button>
                                    </div>
                                </div>
                            </div>
                            
                            <a class="mr-3 float-right btn btn-sm btn-outline-info" uk-toggle uk-tooltip="View" href="#horseModal" @click="getHorse(index)"> 
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="uk-flex-top" id="horseModal" uk-modal>
                                <div class="uk-modal-dialog uk-width-2-3">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">New Role</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Plate Number:</h6><br/>
                                                {{horseView.plate_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Type Of Request:</h6><br/>
                                                {{horseView.type_of_request}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Old Serial Number:</h6><br/>
                                                {{horseView.old_serial_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Comment:</h6><br/>
                                                {{horseView.comment}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Voucher Number:</h6><br/>
                                                {{horseView.voucher_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Amount:</h6><br/>
                                                {{horseView.amount}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Description:</h6><br/>
                                                {{horseView.description}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Status:</h6><br/>
                                                {{horseView.status}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Horse')" v-show="manage_horse">
                                            Reject
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Horse')" v-show="manage_horse">
                                            Approve
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                        
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Horse Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import HorseStoreDataService from "../../../services/HorseStoreService";
    import HorseDataService from "../../../services/HorseService";
    import RequestDataService from "../../../services/Requestservice";
    import Authorize  from '../../../services/AuthorizationService';
    import bus from '../../../services/eventBusService';
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import $ from 'jquery';
    import UIkit from 'uikit';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");
    
    @Component
    export default class Horse extends Vue {
        public horseRequessts: any = {};
        public horses: any = {};
        public horseIndex = "";
        public manage_horse = false;
        public horseSave: any = {};
        public horseView: any = {};
        public updatedHorse: any = {};
        public deletedHorse: any = {};
        public newhorse: any = {
            horse_id: "",
            type_of_request: "",
            old_serial_number: "",
            voucher_number: "",
            amount: "",
            comment: "",
            description: "",
        };

        public horseChange: any = {
            plate_number: "",
            type_of_request: "",
            old_serial_number: "",
            voucher_number: "",
            amount: "",
            comment: "",
            description: "",
        };
        public json_data: any = {};
        public json_fields: any = {
            type_of_request: "type_of_request",
            old_serial_number: "old_serial_number",
            voucher_number: "voucher_number",
            amount: "amount",
            comment: "comment",
            description: "description",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        // @Auth.Getter
        // public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            // if (this.membershipStatus == "new") {
            //     bus.$emit('navigate', 'user_verify');
            // }
        }

        // search(event: any){
        //     var search = event.target.value;
        //     console.log(event.target.value);
        //     this.horseRequessts = this.horseRequessts.filter(function(_horseRequessts: any){
        //         return _horseRequessts.taxAndInsurance_id == search;
        //     });
        // }

        showLink(){
            this.manage_horse = Authorize.authorizeManageRoute('horse');
        }

        getHorse(horseIndex: any){
            this.horseView = this.horseRequessts[horseIndex];
        }

        approve(i: any, req: string){
            if(!Authorize.authorizeManageRoute('horse')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "approved",
                table: req,
                id: this.horseRequessts[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
            .then((response) => {
                console.log(response.data);
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Updating', response.data.message, 'success');
                }else{
                        bus.$emit('failed', response.data.message);
                     this.$swal('Failed', response.data.message, 'error');
                }
                this.refreshList();
                this.getHorse(i);
            })
            .catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            });
        }

        reject(i: any, req: string){
            if(!Authorize.authorizeManageRoute('horse')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "rejected",
                table: req,
                id: this.horseRequessts[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
            .then((response) => {
                console.log(response.data);
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Updating', response.data.message, 'success');
                }else{
                        bus.$emit('failed', response.data.message);
                     this.$swal('Failed', response.data.message, 'error');
                }
                    this.refreshList();
                    this.getHorse(i);
            
            })
            .catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            });
        }
        navigate(path: any){
            router.push({ name: path });

        }

        getEditHorse(currentIndex: any){
            console.log(currentIndex);
            this.horseIndex = currentIndex;

            this.horseChange.plate_number = this.horseRequessts[this.horseIndex].plate_number;
            this.horseChange.type_of_request = this.horseRequessts[this.horseIndex].type_of_request;
            this.horseChange.old_serial_number = this.horseRequessts[this.horseIndex].old_serial_number;
            this.horseChange.voucher_number = this.horseRequessts[this.horseIndex].voucher_number;
            this.horseChange.amount = this.horseRequessts[this.horseIndex].amount;
            this.horseChange.comment = this.horseRequessts[this.horseIndex].comment;
            this.horseChange.description = this.horseRequessts[this.horseIndex].description;
        }

        retrieveHorses() {
            HorseStoreDataService.getAll()
            .then((response) => {
                this.horses = response.data.horses.filter(function(_horses: any){
                    return _horses.status != 'acquired';
                });
                console.log(this.horses);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveHorseRequests() {
            HorseDataService.getAll()
            .then((response) => {
                this.horseRequessts = response.data.horses;
                this.json_data = this.horseRequessts;
                console.log(this.horseRequessts);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveHorses();
            this.retrieveHorseRequests();
            this.showLink();
        }


        

        saveHorse() {
            if(!Authorize.authorizeCreateRoute('horse')){
                bus.$emit('block', 'auth');
            }
            var data = {
                horse_id: this.newhorse.horse_id,
                type_of_request: this.newhorse.type_of_request,
                old_serial_number: this.newhorse.old_serial_number,
                voucher_number: this.newhorse.voucher_number,
                amount: this.newhorse.amount,
                comment: this.newhorse.comment,
                description: this.newhorse.description,
            };

            HorseDataService.create(data)
            .then((response) => {
                console.log(response.data);
                this.horseSave = response;
                UIkit.modal('#addHorse').hide();
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveHorses();
                this.retrieveHorseRequests();
                this.showLink();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Saving', response.data.message, 'success');
                }else{
                        bus.$emit('failed', response.data.message);
                     this.$swal('Failed', response.data.message, 'error');
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        updateHorse() {
            if(!Authorize.authorizeUpdateRoute('horse')){
                bus.$emit('block', 'auth');
            }
            var data = {
                plate_number: this.horseChange.plate_number,
                type_of_request: this.horseChange.type_of_request,
                old_serial_number: this.horseChange.old_serial_number,
                voucher_number: this.horseChange.voucher_number,
                amount: this.horseChange.amount,
                comment: this.horseChange.comment,
                description: this.horseChange.description,
            };

            HorseDataService.update(this.horses[this.horseIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedHorse = response;
                UIkit.modal('#editHorse').hide();
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveHorses();
                this.retrieveHorseRequests();
                this.showLink();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Updating', response.data.message, 'success');
                }else{
                        bus.$emit('failed', response.data.message);
                     this.$swal('Failed', response.data.message, 'error');
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        removeHorse(i: any) {
            if(!Authorize.authorizeDeleteRoute('horse')){
                bus.$emit('block', 'auth');
            }
            HorseDataService.delete(this.horses[this.horseIndex].id)
            .then((response) => {
                console.log(response.data);
                this.deletedHorse = response;
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Deleting', response.data.message, 'success');
                }else{
                        bus.$emit('failed', response.data.message);
                     this.$swal('Failed', response.data.message, 'error');
                }
                this.retrieveHorses();
                this.retrieveHorseRequests();
                this.showLink();
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        color: #364372;
    }
</style>