<template>
    <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mb-0">
                    <div class="col-5">
                        <h4 class="text-left">office Requests List</h4>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <a class="float-right mt-1 btn btn-sm btn-outline-primary" uk-tooltip="Create New Office Request" uk-toggle href="#addoffice">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addoffice" uk-modal>
                    <div class="uk-modal-dialog uk-width-2-3">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Office Request</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Name</label>
                                    <input
                                        v-model="newOffice.name"
                                        
                                        type="text"
                                        class="form-control"
                                        name="name"
                                    />
                                </div>
                                 <div class="col-6">
                                    <label for="username">Date</label>
                                    <input
                                        v-model="newOffice.date"
                                        
                                        type="date"
                                        class="form-control"
                                        name="date"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Voucher Number</label>
                                    <input
                                        v-model="newOffice.voucher_number"
                                        
                                        type="text"
                                        class="form-control"
                                        name="voucher_number"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="username">Amount</label>
                                    <input
                                        v-model="newOffice.amount"
                                        
                                        type="number"
                                        class="form-control"
                                        name="amount"
                                    />
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <label for="username">Description</label>
                                    <textarea
                                        v-model="newOffice.description"
                                        rows="4"
                                        class="form-control"
                                        name="description"
                                    ></textarea>
                                </div>
                                
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="btn btn-outline-primary" @click="saveOffice">Create</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <th class="font-weight-light" scope="col"></th>
                        <th class="font-weight-light" scope="col">Name</th>
                        <th class="font-weight-light" scope="col">Date</th>
                        <th class="font-weight-light" scope="col">Amount</th>
                        <th class="font-weight-light" scope="col">Status</th>
                        <th class="font-weight-light" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="font-weight-light"
                            v-for="(office, index) in offices" :key="office.id"
                        >
                        <td>{{index + 1}}</td>
                        <td>{{office.name}}</td>
                        <td>{{office.date}}</td>
                        <td>{{office.amount}}</td>
                        <td>{{office.status}}</td>
                        <td>
                            <a class="float-right btn btn-sm btn-outline-danger" uk-tooltip="Delete" @click="removeoffice(index)">
                                <font-awesome-icon icon="trash"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-danger" uk-tooltip="Reject Office Request" @click="reject(index, 'Office')" v-show="manage_office">
                                <font-awesome-icon icon="ban"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-tooltip="Approve Office Request" @click="approve(index, 'Office')" v-show="manage_office">
                                <font-awesome-icon icon="check"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-warning" uk-tooltip="Edit" uk-toggle href="#editoffice" @click="getEditoffice(index)">
                                <font-awesome-icon icon="pen"/>
                            </a>
                            <div class="uk-flex-top" id="editoffice" uk-modal>
                                <div class="uk-modal-dialog uk-width-2-3">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Edit Office Request</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="username">Name</label>
                                                <input
                                                    v-model="officeChange.name"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="name"
                                                />
                                            </div>
                                                <div class="col-6">
                                                <label for="username">Date</label>
                                                <input
                                                    v-model="officeChange.date"
                                                    
                                                    type="date"
                                                    class="form-control"
                                                    name="date"
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="username">Voucher Number</label>
                                                <input
                                                    v-model="officeChange.voucher_number"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="voucher_number"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="username">Amount</label>
                                                <input
                                                    v-model="officeChange.amount"
                                                    
                                                    type="number"
                                                    class="form-control"
                                                    name="amount"
                                                />
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-8">
                                                <label for="username">Description</label>
                                                <textarea
                                                    v-model="officeChange.description"
                                                    rows="4"
                                                    class="form-control"
                                                    name="description"
                                                ></textarea>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <button type="button" class="btn btn-outline-primary" @click="updateOffice">Update</button>
                                    </div>
                                </div>
                            </div>
                            <a class="mr-3 float-right btn btn-sm btn-outline-info" uk-toggle uk-tooltip="View" href="#officeModal" @click="getOffice(index)">
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="uk-flex-top" id="officeModal" uk-modal>
                                <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-2-3">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Office {{office.name}}</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Name:</h6><br/>
                                                {{officeView.name}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Date:</h6><br/>
                                                {{officeView.date}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Voucher Number:</h6><br/>
                                                {{officeView.voucher_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Amount:</h6><br/>
                                                {{officeView.amount}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Description:</h6><br/>
                                                {{officeView.description}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Status:</h6><br/>
                                                {{officeView.status}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Office')" v-show="manage_office">
                                            Reject
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Office')" v-show="manage_office">
                                            Approve
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Office Request Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
</template>

<script lang="ts">
   
    import { Component, Vue } from "vue-property-decorator";
    import OfficeDataService from "../../../services/OfficeService";
    import RequestDataService from "../../../services/Requestservice";
    import Authorize  from '../../../services/AuthorizationService';
    import bus from '../../../services/eventBusService';
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import $ from 'jquery';
    import UIkit from 'uikit';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");

    
    @Component
    export default class office extends Vue {
        public officeIndex = "";
        public offices: any = {};
        public officeSave: any = {};
        public manage_office = false;
        public updatedOffice: any = {};
        public deletedOffice: any = {};
        public officeView: any = {};
        public newOffice: any = {
            name: "",
            date: "",
            description: "",
            voucher_number: "",
            amount: "",
        };

        public officeChange: any = {
            name: "",
            date: "",
            description: "",
            voucher_number: "",
            amount: "",
        };
        public json_data: any = {};
        public json_fields: any = {
            name: "name",
            date: "date",
            description: "description",
            voucher_number: "voucher_number",
            amount: "amount",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        // @Auth.Getter
        // public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            // if (this.membershipStatus == "new") {
            //     bus.$emit('navigate', 'user_verify');
            // }
        }

        // search(event: any){
        //     var search = event.target.value;
        //     console.log(event.target.value);
        //     this.offices = this.offices.filter(function(_offices: any){
        //         return _offices.taxAndInsurance_id == search;
        //     });
        // }
        showLink(){
            this.manage_office = Authorize.authorizeManageRoute('office');
        }

        getOffice(officeIndex: any){
            this.officeView = this.offices[officeIndex];
        }

        approve(i: any, req: string){
            if(!Authorize.authorizeManageRoute('office')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "approved",
                table: req,
                id: this.offices[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
            .then((response) => {
                console.log(response.data);
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                        bus.$emit('failed', response.data.message);
                }
                this.retrieveOffices();
                this.showLink();
                this.getOffice(i);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        reject(i: any, req: string){
            if(!Authorize.authorizeManageRoute('office')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "rejected",
                table: req,
                id: this.offices[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
            .then((response) => {
                console.log(response.data);
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                        bus.$emit('failed', response.data.message);
                }
                    
                    this.retrieveOffices();
                    this.showLink();
                    this.getOffice(i);
            
            })
            .catch((e) => {
                console.log(e);
            });
        }
        getEditOffice(currentIndex: any){
            console.log(currentIndex);
            this.officeIndex = currentIndex;
            this.officeChange.name = this.offices[this.officeIndex].name;
            this.officeChange.date = this.offices[this.officeIndex].date;
            this.officeChange.description = this.offices[this.officeIndex].description;
            this.officeChange.voucher_number = this.offices[this.officeIndex].voucher_number;
            this.officeChange.amount = this.offices[this.officeIndex].amount;
        }

        retrieveOffices() {
            OfficeDataService.getAll()
            .then((response) => {
                this.offices = response.data.offices;
                this.json_data = this.offices;
                console.log(this.offices);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveOffices();
            this.showLink();
        }
        

        saveOffice() {
            if(!Authorize.authorizeCreateRoute('office')){
                bus.$emit('block', 'auth');
            }
            var data = {
                name: this.newOffice.name,
                date: this.newOffice.date,
                description: this.newOffice.description,
                voucher_number: this.newOffice.voucher_number,
                amount: this.newOffice.amount,
                
            };
            console.log(data);
            OfficeDataService.create(data)
            .then((response) => {
                console.log(response.data);
                this.officeSave = response;
                UIkit.modal('#addoffice').hide();
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveOffices();
                this.showLink();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        updateOffice() {
            if(!Authorize.authorizeUpdateRoute('office')){
                bus.$emit('block', 'auth');
            }
            var data = {
                name: this.offices[this.officeIndex].name,
                date: this.offices[this.officeIndex].date,
                description: this.offices[this.officeIndex].description,
                voucher_number: this.offices[this.officeIndex].voucher_number,
                amount: this.offices[this.officeIndex].amount,
            };

            OfficeDataService.update(this.offices[this.officeIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedOffice = response;
                UIkit.modal('#editoffice').hide();
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveOffices();
                this.showLink();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        removeOffice(i: any) {
            if(!Authorize.authorizeDeleteRoute('office')){
                bus.$emit('block', 'auth');
            }
            OfficeDataService.delete(this.offices[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedOffice = response;
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveOffices();
                this.showLink();
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        color: #364372;
    }
</style>