<template>
    <div class="container">
        <!-- <span></span>
        <div class="row">
            <div class="col-4">
                <h3 class="text-left">Requests</h3>
            </div> -->
            <!-- <div class="btn-group btn-group-toggle col-8" data-toggle="buttons">
                <label class="btn btn-outline-warning" >
                    <input type="radio" name="options" id="option1" @click="navigate('expenditure')"> Expenditure
                </label>
                <label class="btn btn-outline-success">
                    <input type="radio" name="options" id="option3" @click="navigate('fuel')"> Office
                </label>
                <label class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="option2" @click="navigate('trailer')"> Trailer
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="option3" @click="navigate('horse')"> Horse
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="option3" @click="navigate('fuel')"> Fuel
                </label>
            </div> -->
        <!-- </div> -->
        
    </div>
</template>

<script lang="ts">
   
    import { Component, Vue } from "vue-property-decorator";
    import bus from '../../../services/eventBusService';
    import router from '../../../router/index';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");
    
    @Component
    export default class Fuel extends Vue {
        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }
        navigate(path: any){
            router.push({ name: path });

        }

        
    }
</script>

<style scoped>
    
    .fa-lg{
        color: #364372;
    }
</style>