<template>
    <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <div class="col-5">
                        <h4 class="text-left">Trailer Requests List</h4>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <a class="float-right mt-1 btn btn-sm btn-outline-primary" uk-tooltip="Create New Trailer Request" uk-toggle href="#addTrailerRequest">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addTrailerRequest" uk-modal>
                    <div class="uk-modal-dialog uk-width-1-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Trailer Request</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <label class="w-100" for="username">Trailers:</label>
                                <select 
                                class="form-control" 
                                v-model="newTrailer.trailer_id"
                                
                                >
                                    <option 
                                    v-for="trailer in trailers" 
                                    :key="trailer.id" 
                                    :value="trailer.id"
                                    >
                                        {{trailer.plate_number}}
                                    </option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="btn btn-outline-primary" @click="saveTrailer">Create</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead class="font-weight-light">
                        <tr>
                        <th class="font-weight-light" scope="col"></th>
                        <th class="font-weight-light" scope="col">Plate Number</th>
                        <th class="font-weight-light" scope="col">Status</th>
                        <th class="font-weight-light" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="font-weight-light"
                            v-for="(trailerRequest, index) in trailerRequests" :key="trailerRequest.id"
                        >
                            <td>{{index + 1}}</td>
                            <td>{{trailerRequest.plate_number}}</td>
                            <td>{{trailerRequest.status}}</td>
                            <td>
                                <a class="float-right btn btn-sm btn-outline-danger" uk-tooltip="Delete" @click="removeTrailer(index)">
                                    <font-awesome-icon icon="trash"/>
                                </a>
                                <a class="mr-3 float-right btn btn-sm btn-outline-danger" uk-tooltip="Reject Trailer Request" @click="reject(index, 'Trailer')" v-show="manage_trailer">
                                    <font-awesome-icon icon="ban"/>
                                </a>
                                <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-tooltip="Approve Trailer Request" @click="approve(index, 'Trailer')" v-show="manage_trailer">
                                    <font-awesome-icon icon="check"/>
                                </a>
                                <a class="mr-3 float-right btn btn-sm btn-outline-warning" uk-tooltip="Edit" uk-toggle href="#editTrailerRequest" @click="getEdittrailer(index)">
                                    <font-awesome-icon icon="pen"/>
                                </a>
                                <div class="uk-flex-top" id="editTrailerRequest" uk-modal>
                                    <div class="uk-modal-dialog uk-width-1-4">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header">
                                            <h5 class="uk-modal-title" id="addHorseLabel">Edit Trailer Request</h5>
                                        </div>
                                        <div class="uk-modal-body" uk-overflow-auto>
                                            <div class="row">
                                                <label class="w-100" for="username">Trailers:</label>
                                                <select 
                                                class="form-control" 
                                                v-model="trailerChange.trailer_id"
                                                
                                                >
                                                    <option 
                                                    v-for="trailer in trailers" 
                                                    :key="trailer.id" 
                                                    :value="trailer.id"
                                                    >
                                                        {{trailer.plate_number}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-modal-footer uk-text-right">
                                            <button type="button" class="btn btn-outline-primary" @click="updateTrailer">Update</button>
                                        </div>
                                    </div>
                                </div>
                                <a class="mr-3 float-right btn btn-sm btn-outline-info" uk-toggle uk-tooltip="View" href="#trailerModal" @click="getTrailer(index)">
                                    <font-awesome-icon icon="file"/>
                                </a>
                                <div class="uk-flex-top" id="trailerModal" uk-modal>
                                    <div class="uk-modal-dialog uk-width-2-3">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header">
                                            <h5 class="uk-modal-title" id="addHorseLabel">Trailer {{trailerRequest.plate_number}}</h5>
                                        </div>
                                        <div class="uk-modal-body" uk-overflow-auto>
                                            <div class="row mb-5">
                                                <div class="col-6">
                                                    <h6>Plate Number:</h6><br/>
                                                    {{trailerView.plate_number}}
                                                </div>
                                                <div class="col-6">
                                                    <h6>Model:</h6><br/>
                                                    {{trailerView.model}}
                                                </div>
                                            </div>
                                            <div class="row mb-5">
                                                <div class="col-6">
                                                    <h6>Make:</h6><br/>
                                                    {{trailerView.make}}
                                                </div>
                                                <div class="col-6">
                                                    <h6>Tone:</h6><br/>
                                                    {{trailerView.tone}}
                                                </div>
                                            </div>
                                            <div class="row mb-5">
                                                <div class="col-6">
                                                    <h6>Gvm:</h6><br/>
                                                    {{trailerView.gvm}}
                                                </div>
                                                <div class="col-6">
                                                    <h6>Color:</h6><br/>
                                                    {{trailerView.color}}
                                                </div>
                                            </div>
                                            <div class="row mb-5">
                                                <div class="col-6">
                                                    <h6>Disposal Date:</h6><br/>
                                                    {{trailerView.disposal_date}}
                                                </div>
                                                <div class="col-6">
                                                    <h6>Class:</h6><br/>
                                                    {{trailerView.class}}
                                                </div>
                                            </div>
                                            <div class="row mb-5">
                                                <div class="col-6">
                                                    <h6>Unloaded Gym:</h6><br/>
                                                    {{trailerView.unloaded_gvm}}
                                                </div>
                                                <div class="col-6">
                                                    <h6>Loaded Gym:</h6><br/>
                                                    {{trailerView.loaded_gvm}}
                                                </div>
                                            </div>
                                            <div class="row mb-5">
                                                <div class="col-6">
                                                    <h6>Year Of Manufacture:</h6><br/>
                                                    {{trailerView.year_of_manufacture}}
                                                </div>
                                                <div class="col-6">
                                                    <h6>Type:</h6><br/>
                                                    {{trailerView.type}}
                                                </div>
                                            </div>
                                            <div class="row mb-5">
                                                <div class="col-8">
                                                    <h6>Status:</h6><br/>
                                                    {{trailerView.status}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-modal-footer uk-text-right">
                                            <a class="btn btn-sm btn-outline-danger float-right" uk-tooltip="Reject" @click="reject(index, 'Trailer')" v-show="manage_trailer">
                                                Reject
                                                <font-awesome-icon icon="ban"/>
                                            </a>
                                            <a class="btn btn-sm btn-outline-success float-right" uk-tooltip="Approve" @click="approve(index, 'Trailer')" v-show="manage_trailer">
                                                Approve
                                                <font-awesome-icon icon="check"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Trailer Request Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from "vue-property-decorator";
    import TrailerService from "../../../services/TrailerService";
    import TrailerStoreService from "../../../services/TrailerStoreService";
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import RequestDataService from "../../../services/Requestservice";
    import Authorize  from '../../../services/AuthorizationService';
    import bus from '../../../services/eventBusService';
    import $ from 'jquery';
    import UIkit from 'uikit';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");
    
    @Component
    export default class Trailer extends Vue {
        
        public trailerIndex = "";
        public trailers: any = {};
        public trailerRequests: any = {};
        public manage_trailer: any = false;
        public trailerSave: any = {};
        public trailerView: any = {};
        public updatedTrailer: any = {};
        public deletedTrailer: any = {};
        public selectedTrailer: any = {};
        @Prop({ required: true })
        newTrailer: any = {
            trailer_id: "",
        };

        public trailerChange: any = {
            trailer_id: "",
        };

        public json_data: any = {};
        public json_fields: any = {
            plate_number: "plate_number",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        // @Auth.Getter
        // public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            // if (this.membershipStatus == "new") {
            //     bus.$emit('navigate', 'user_verify');
            // }
        }

        // search(event: any){
        //     var search = event.target.value;
        //     console.log(event.target.value);
        //     this.trailerRequests = this.trailerRequests.filter(function(_trailerRequests: any){
        //         return _trailerRequests.taxAndInsurance_id == search;
        //     });
        // }

        showLink(){
            this.manage_trailer = Authorize.authorizeManageRoute('trailer');
        }

        getTrailer(trailerIndex: any){
            this.selectedTrailer = this.trailerRequests[trailerIndex];
            var triler_id = this.selectedTrailer.id;
            var _trailerView = this.trailers.filter(function(_trailer: any){
                return _trailer.id == triler_id;
            });
            this.trailerView = _trailerView[0];
        }

        approve(i: any, req: string){
            if(!Authorize.authorizeManageRoute('trailer')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "approved",
                table: req,
                id: this.trailerRequests[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
            .then((response) => {
                console.log(response.data);
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                        bus.$emit('failed', response.data.message);
                }
                
                this.retrieveTrailerRequests();
                this.retrieveTrailers();
                this.showLink();
                this.getTrailer(i);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        reject(i: any, req: string){
            if(!Authorize.authorizeManageRoute('trailer')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "rejected",
                table: req,
                id: this.trailerRequests[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
            .then((response) => {
                console.log(response.data);
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                        bus.$emit('failed', response.data.message);
                }
                    
                this.retrieveTrailerRequests();
                this.retrieveTrailers();
                this.showLink();
                    this.getTrailer(i);
            
            })
            .catch((e) => {
                console.log(e);
            });
        }

        navigate(path: any){
            router.push({ name: path });

        }

        getEdittrailer(currentIndex: any){
            console.log(currentIndex);
            this.trailerIndex = currentIndex;
            this.trailerChange.trailer_id = this.trailerRequests[this.trailerIndex].trailer_id;
        }

        retrieveTrailers() {
            TrailerStoreService.getAll()
            .then((response) => {
                this.trailers = response.data.trailers.filter(function(_trailers: any){
                    return _trailers.status != 'acquired';
                });
                console.log(this.trailers);
            })
            .catch((e) => {
                console.log(e);
            });
        }
        retrieveTrailerRequests() {
            TrailerService.getAll()
            .then((response) => {
                console.log(response);
                this.trailerRequests = response.data.trailers;
                this.json_data = this.trailerRequests;
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveTrailerRequests();
            this.retrieveTrailers();
            this.showLink();
        }
        

        saveTrailer() {
            if(!Authorize.authorizeCreateRoute('trailer')){
                bus.$emit('block', 'auth');
            }
            var data = {
                trailer_id: this.newTrailer.trailer_id,
            };
            console.log(data);
            TrailerService.create(data)
            .then((response) => {
                console.log(response.data);
                this.trailerSave = response;
                UIkit.modal('#addTrailerRequest').hide();
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveTrailerRequests();
                this.retrieveTrailers();
                this.showLink();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Saving', response.data.message, 'success');
                }else{
                        bus.$emit('failed', response.data.message);
                     this.$swal('Failed', response.data.message, 'error');
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        updateTrailer() {
            if(!Authorize.authorizeUpdateRoute('trailer')){
                bus.$emit('block', 'auth');
            }
            var data = {
                trailer_id: this.newTrailer.trailer_id,
            };

            TrailerService.update(this.trailers[this.trailerIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedTrailer = response;
                UIkit.modal('#editTrailerRequest').hide();
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveTrailerRequests();
                this.retrieveTrailers();
                this.showLink();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Updating', response.data.message, 'success');
                }else{
                        bus.$emit('failed', response.data.message);
                     this.$swal('Failed', response.data.message, 'error');
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        removeTrailer(i: any) {
            if(!Authorize.authorizeDeleteRoute('trailer')){
                bus.$emit('block', 'auth');
            }
            TrailerService.delete(this.trailers[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedTrailer = response;
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Deleting', response.data.message, 'success');
                }else{
                        bus.$emit('failed', response.data.message);
                     this.$swal('Failed', response.data.message, 'error');
                }
                this.retrieveTrailerRequests();
                this.retrieveTrailers();
                this.showLink();
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>

<style scoped>
    
</style>