<template>
    <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <div class="col-5">
                        <h4 class="text-left">Vehicles List</h4>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <a class="float-right mt-1 btn btn-sm btn-out-primary" uk-tooltip="Create New Vehicle" uk-toggle href="#addVehicle">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addVehicle" uk-modal>
                    <div class="uk-modal-dialog uk-width-1-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Vehicle Request</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="username">Vehicles:</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newVehicle.vehicle_id"
                                    
                                    >
                                        <option 
                                        v-for="vehicle in vehicles" 
                                        :key="vehicle.id" 
                                        :value="vehicle.id"
                                        >
                                            {{vehicle.plate_number}}
                                        </option>
                                    </select>
                                </div>
                                 
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="btn btn-outline-primary" @click="saveVehicle">Create</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead class="font-weight-light">
                        <tr>
                        <th class="font-weight-light" scope="col"></th>
                        <th class="font-weight-light" scope="col">Plate Number</th>
                        <th class="font-weight-light" scope="col">Status</th>
                        <th class="font-weight-light" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(vehicleRequest, index) in vehicleRequests" :key="vehicleRequest.id"
                        >
                        <td>{{index + 1}}</td>
                        <td>{{vehicleRequest.plate_number}}</td>
                        <td>{{vehicleRequest.status}}</td>
                        <td>
                            <a class="float-right btn btn-sm btn-outline-danger" uk-tooltip="Delete" @click="removeVehicle(index)">
                                <font-awesome-icon icon="trash"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-danger" uk-tooltip="Reject Trailer Request" @click="reject(index, 'Vehicle')" v-show="manage_vehicle">
                                <font-awesome-icon icon="ban"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-tooltip="Approve Trailer Request" @click="approve(index, 'Vehicle')" v-show="manage_vehicle">
                                <font-awesome-icon icon="check"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-warning" uk-tooltip="Edit" uk-toggle href="#editVehicle" @click="getEditvehicle(index)">
                                <font-awesome-icon icon="pen"/>
                            </a>
                            <div class="uk-flex-top" id="editVehicle" uk-modal>
                                <div class="uk-modal-dialog uk-width-1-4">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Edit Vehicle Request</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Vehicles:</label>
                                            <select 
                                            class="form-control" 
                                            v-model="vehicleChange.vehicle_id"
                                            
                                            >
                                                <option 
                                                v-for="vehicle in vehicles" 
                                                :key="vehicle.id" 
                                                :value="vehicle.id"
                                                >
                                                    {{vehicle.plate_number}}
                                                </option>
                                            </select>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <button type="button" class="btn btn-outline-primary" @click="updateVehicle">Update</button>
                                    </div>
                                </div>
                            </div>
                            <a class="mr-3 float-right btn btn-sm btn-outline-info" uk-toggle uk-tooltip="View" href="#vehicleModal" @click="getVehicle(index)">
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="uk-flex-top" id="vehicleModal" uk-modal>
                                <div class="uk-modal-dialog uk-width-1-2">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Vehicle {{vehicleRequest.plate_number}}</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Plate Number:</h6><br/>
                                                {{vehicleView.plate_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Model:</h6><br/>
                                                {{vehicleView.model}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Current Mileage:</h6><br/>
                                                {{vehicleView.current_mileage}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Fuel Type:</h6><br/>
                                                {{vehicleView.fuel_type}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Make:</h6><br/>
                                                {{vehicleView.make}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Tone:</h6><br/>
                                                {{vehicleView.tone}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Gvm:</h6><br/>
                                                {{vehicleView.gvm}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Color:</h6><br/>
                                                {{vehicleView.color}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Disposal Date:</h6><br/>
                                                {{vehicleView.disposal_date}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Class:</h6><br/>
                                                {{vehicleView.class}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Unloaded Gym:</h6><br/>
                                                {{vehicleView.unloaded_gvm}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Loaded Gym:</h6><br/>
                                                {{vehicleView.loaded_gvm}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Year Of Manufacture:</h6><br/>
                                                {{vehicleView.year_of_manufacture}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Type:</h6><br/>
                                                {{vehicleView.type}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-8">
                                                <h6>Status:</h6><br/>
                                                {{vehicleView.status}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Vehicle')" v-show="manage_vehicle">
                                            Reject
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Vehicle')" v-show="manage_vehicle">
                                            Approve
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Horse Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from "vue-property-decorator";
    import VehicleService from "../../../services/VehicleService";
    import VehicleStoreService from "../../../services/VehicleStoreService";
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import RequestDataService from "../../../services/Requestservice";
    import Authorize  from '../../../services/AuthorizationService';
    import bus from '../../../services/eventBusService';
    import $ from 'jquery';
    import UIkit from 'uikit';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");
    
    @Component
    export default class Vehicle extends Vue {
        public vehicleIndex = "";
        public vehicles: any = {};
        public vehicleRequests: any = {};
        public manage_vehicle: any = false;
        public vehicleSave: any = {};
        public updatedVehicle: any = {};
        public deletedVehicle: any = {};
        public vehicleView: any = {};
        public selectedVehicle: any = {};
        @Prop({ required: true })
        newVehicle: any = {
            vehicle_id: "",
        };

        public vehicleChange: any = {
            vehicle_id: "",
        };

        public json_data: any = {};
        public json_fields: any = {
            plate_number: "plate_number",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        // @Auth.Getter
        // public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            // if (this.membershipStatus == "new") {
            //     bus.$emit('navigate', 'user_verify');
            // }
        }

        showLink(){
            this.manage_vehicle = Authorize.authorizeManageRoute('vehicle');
        }

        search(event: any){
            var search = event.target.value;
            console.log(event.target.value);
            this.vehicleRequests = this.vehicleRequests.filter(function(_vehicleRequests: any){
                return _vehicleRequests.taxAndInsurance_id == search;
            });
        }

        getVehicle(vehicleIndex: any){
            this.selectedVehicle = this.vehicleRequests[vehicleIndex];
            var vehicle_id = this.selectedVehicle.id;
            var _vehicleView = this.vehicles.filter(function(_vehicle: any){
                return _vehicle.id == vehicle_id;
            });
            this.vehicleView = _vehicleView[0];
        }

        approve(i: any, req: string){
            if(!Authorize.authorizeManageRoute('vehicle')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "approved",
                table: req,
                id: this.vehicleRequests[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
            .then((response) => {
                console.log(response.data);
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                        bus.$emit('failed', response.data.message);
                }
                this.refreshList();
                this.getVehicle(i);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        reject(i: any, req: string){
            if(!Authorize.authorizeManageRoute('vehicle')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "rejected",
                table: req,
                id: this.vehicleRequests[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
            .then((response) => {
                console.log(response.data);
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                        bus.$emit('failed', response.data.message);
                }
                    this.refreshList();
                    this.getVehicle(i);
            
            })
            .catch((e) => {
                console.log(e);
            });
        }

        navigate(path: any){
            router.push({ name: path });

        }

        getEditvehicle(currentIndex: any){
            console.log(currentIndex);
            this.vehicleIndex = currentIndex;

            this.vehicleChange.vehicle_id = this.vehicleRequests[this.vehicleIndex].vehicle_id;
        }

        retrieveVehicles() {
            VehicleStoreService.getAll()
            .then((response) => {
                this.vehicles = response.data.vehicles.filter(function(_vehicles: any){
                    return _vehicles.status != 'acquired';
                });
                console.log(this.vehicles);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveVehicleRequests() {
            VehicleService.getAll()
            .then((response) => {
                this.vehicleRequests = response.data.vehicles;
                this.json_data = this.vehicleRequests;
                console.log(this.vehicleRequests);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveVehicles();
            this.retrieveVehicleRequests();
            this.showLink();
        }
        

        saveVehicle() {
            if(!Authorize.authorizeCreateRoute('vehicle')){
                bus.$emit('block', 'auth');
            }
            var data = {

                vehicle_id: this.newVehicle.vehicle_id,
            };
            console.log(data);
            VehicleService.create(data)
            .then((response) => {
                console.log(response.data);
                this.vehicleSave = response;
                UIkit.modal('#addVehicle').hide();
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveVehicles();
                this.retrieveVehicleRequests();
                this.showLink();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Saving', response.data.message, 'success');
                }else{
                     this.$swal('Failed', response.data.message, 'error');
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            });
            
        }

        updateVehicle() {
            if(!Authorize.authorizeUpdateRoute('vehicle')){
                bus.$emit('block', 'auth');
            }
            var data = {
                vehicle_id: this.vehicleChange.vehicle_id,
            };

            VehicleService.update(this.vehicles[this.vehicleIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedVehicle = response;
                UIkit.modal('#editVehicle').hide();
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveVehicles();
                this.retrieveVehicleRequests();
                this.showLink();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Updating', response.data.message, 'success');
                }else{
                     bus.$emit('failed', response.data.message);
                     this.$swal('Failed', response.data.message, 'error');
                }
            })
            .catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            });
            
        }

        removeVehicle(i: any) {
            if(!Authorize.authorizeDeleteRoute('vehicle')){
                bus.$emit('block', 'auth');
            }
            VehicleService.delete(this.vehicles[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedVehicle = response;
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    this.$swal('Deleting', response.data.message, 'success');
                }else{
                     bus.$emit('failed', response.data.message);
                     this.$swal('Failed', response.data.message, 'error');
                }
                this.retrieveVehicles();
                this.retrieveVehicleRequests();
                this.showLink();
            })
            .catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>

<style scoped>
    .fa-lg{
        color: #364372;
    }
</style>