<template>
    <div class="container-fluid">
        <h4 class="m-0">Creditors</h4>
        <div class="mb-2">
            <small class="font-weight-light font-italic">All the creditors belongs to our company</small>
        </div>
        <table class="table table-sm table-hover table-striped">
            <thead>
            <tr>
                <th class="font-weight-normal">Client Name</th>
                <th class="font-weight-normal">Client Phone</th>
                <th class="font-weight-normal">Client Email</th>
                <th class="font-weight-normal">Client Company Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="creditor in creditors" :key="creditor.id">
                <td class="font-weight-light">{{creditor.sender_name}}</td>
                <td class="font-weight-light">{{creditor.sender_mobile_number}}</td>
                <td class="font-weight-light">{{creditor.sender_email}}</td>
                <td class="font-weight-light">{{creditor.sender_company_name}}</td>
                <td>
                    <router-link :to="{name: 'invoice', params: { id: creditor.id}}">
                        <button class="btn btn-sm btn-outline-success" uk-tooltip="More details">
                            <font-awesome-icon icon="eye" class="fa-sm"/>
                        </button>
                    </router-link>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script lang="ts">
    import { Component, Prop,Vue } from "vue-property-decorator";
    import AccountDataService from "../../../services/Accountant";
    // import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    // import router from '../../../router/index';

    @Component
    export default class Debtors extends Vue{
        public creditors: any = {};

        viewCreditors(){
            AccountDataService.AllCreditors()
                .then((response) => {
                    this.creditors = response.data.creditors;
                }).catch((e) => {
                console.log(e)
            })
        }

        mounted(){
            this.viewCreditors()
        }
    }

</script>

