<template>
    <div class="container-fluid">
        <div class="card card-body">
            <div class="text-center">
                <span class="text-uppercase text-muted ">{{company.name}}</span><br>
                <span class=" text-muted ">{{company.address}}, {{company.physical_address}}</span><br>
                <span class=" text-muted ">{{company.email}}</span><br>
                <span class=" text-muted ">{{company.phone_number}}</span>
            </div>
            <div class="card-header ">
                <h5 class="m-0">Cargo Details</h5>
            </div>

            <div class="row">
                    <div class="col">
                        <ul class="uk-list-divider none-list p-0">
                        <li class="p-0 "><small class="font-weight-bold">Size:</small> <small>{{cargo.cargo_size}}</small></li>
                        <li class="p-0 "><small class="font-weight-bold">Sender Name:</small> <small>{{cargo.sender_name}}</small></li>
                        <li class="p-0 "><small class="font-weight-bold">Sender Email:</small> <small>{{cargo.sender_email}}</small></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="uk-list-divider none-list p-0">
                            <li class="p-0 "><small class="font-weight-bold">Sender Phone:</small> <small>{{cargo.sender_mobile_number}}</small></li>
                            <li class="p-0 "><small class="font-weight-bold">Receiver Name:</small> <small>{{cargo.receiver_name}}</small></li>
                            <li class="p-0 "><small class="font-weight-bold">Receiver Email:</small> <small>{{cargo.receiver_email}}</small></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="uk-list-divider none-list p-0">
                            <li class="p-0 "><small class="font-weight-bold">Receiver Phone:</small> <small>{{cargo.receiver_mobile_number}}</small></li>
                            <li class="p-0 "><small class="font-weight-bold">Sender Company:</small> <small>{{cargo.sender_company_name}}</small></li>
                            <li class="p-0 "><small class="font-weight-bold">Receiver Company:</small> <small>{{cargo.receiver_company_name}}</small></li>
                        </ul>
                    </div>
            </div>

            <div class="mb-3">
                <div class="mb-0"><small class="font-weight-bold">Description:</small></div>
                <div><small>{{cargo.description}}</small></div>
            </div>



            <div v-if="booking != null">
                <div class="card-header ">
                    <h5 class="m-0">Booking Details</h5>
                </div>
                <div class="row" >
                    <div class="col">
                        <ul class="uk-list-divider none-list p-0">
                            <li class="p-0 "><small class="font-weight-bold">From:</small> <small>{{booking.from}}</small></li>
                            <li class="p-0 "><small class="font-weight-bold">To:</small> <small>{{booking.to}}</small></li>
                            <li class="p-0 "><small class="font-weight-bold">Pick Up Point:</small> <small>{{booking.to}}</small></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="uk-list-divider none-list p-0">
                            <li class="p-0 "><small class="font-weight-bold">Drop Of Point:</small> <small>{{booking.drop_off_point}}</small></li>
                            <li class="p-0 "><small class="font-weight-bold">Horse Plate Number:</small> <small>{{booking.horse_plate_number}}</small></li>
                            <li class="p-0 "><small class="font-weight-bold">Trailer Plate Number:</small> <small>{{booking.trailer_plate_number}}</small></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="uk-list-divider none-list p-0">
                            <li class="p-0 "><small class="font-weight-bold">Transportation Cost:</small> <small>{{booking.transportation_cost}}</small></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-header ">
                <h5 class="m-0">Payment Details</h5>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="">
                        <strong class="text-uppercase">Total Amount Cost:</strong>
                    </div>
                    <div>
                        <span class="font-weight-light uk-heading-small">{{totalAmount}}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="">
                        <strong class="text-uppercase">Paid Amount:</strong>
                    </div>
                    <div>
                        <span class="font-weight-light uk-heading-small">{{totalPaid}}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="">
                        <strong class="text-uppercase">Debt:</strong>
                    </div>
                    <div>
                        <span class="font-weight-light uk-heading-small">{{Unpaid}}</span>
                    </div>
                </div>
            </div>
        <div class="card-footer">
            <div class="text-center text-muted">
                <small>{{company.footer}}</small>
            </div>
        </div>

        </div>
        <div class="mt-1 mb-2">
            <button class="float-right btn btn-sm btn-outline-success">Print</button>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop,Vue } from "vue-property-decorator";
    import AccountDataService from "../../../services/Accountant";
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';

    @Component
    export default class Invoice extends Vue{
        @Prop({required: true}) readonly id: any;
        public cargo: any = {};
        public company: any = {};
        public booking: any = {};
        public totalAmount: any = {};
        public totalPaid: any = {};
        public Unpaid: any = {};

        InvoiceList(){
            AccountDataService.InvoiceData(this.id)
            .then((response) => {
                console.log(response.data.cargo)
                this.cargo = response.data.cargo;
                this.company = response.data.company;
                this.booking = response.data.booking;
                this.totalAmount = response.data.total_amount;
                this.totalPaid = response.data.total_paid;
                this.Unpaid = response.data.unpaid;
            }).catch((e) => {
                console.log(e)
            })
        }

        mounted(){
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.InvoiceList()
        }

    }
</script>

<style>
    .none-list {
        list-style: none;
    }
</style>
