<template>
    <div class="container-fluid">
        <h4 class="text-uppercase mb-3">Details of your company</h4>
        <hr>
        <div class="row mb-2">
            <div class="col">
                <div class="mb-3">
                    <div class="mb-2">
                        <strong>Name</strong>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.name}}</span>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <strong>Email</strong>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.email}}</span>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <strong>Phone Number</strong>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.phone_number}}</span>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <strong>Address</strong>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.address}}</span>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <b>Physical Address</b>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.physical_address}}</span>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <strong>Telephone</strong>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.telephone}}</span>
                </div>

            </div>
            <div class="col">
                <div class="mb-3">
                    <div class="mb-2">
                        <strong>Tin Number</strong>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.tin_number}}</span>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <strong>Vrn Number</strong>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.vrn_number}}</span>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <strong>Emergency Number</strong>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.emergency_number}}</span>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <strong>Header</strong>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.header}}</span>
                </div>

                <div class="mb-3">
                    <div class="mb-2">
                        <strong>Footer</strong>
                    </div>
                    <hr class="p-0 m-0 font-weight-bold w-75">
                    <span class="font-weight-light font-italic text-center">{{Company.footer}}</span>
                </div>

<!--                modal-->
                <div class="mb-3 mt-3">
                    <button class="btn btn-sm btn-outline-warning" uk-tooltip="edit" uk-toggle href="#editBooking" @click="getEditCompany">
                        <font-awesome-icon icon="pen" class="fa-sm"/> <span>Edit Your Company Details</span>
                    </button>
                    <div class="uk-flex-top" id="editBooking" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <div class="uk-modal-header">
                                <h5 class="uk-modal-title" id="addHorseLabel">Edit Company Details</h5>
                            </div>
                            <div class="uk-modal-body" uk-overflow-auto>
                                <form @submit.prevent="EditCompany">
                                    <div class="row mt-2 mb-2">
                                        <div class="col-6">
                                            <label for="size" class="">Name</label>
                                            <input type="text" class="uk-input mt-1" name="name" v-model="companyUpdate.name"/>
                                        </div>

                                        <div class="col-6">
                                            <label for="username" class="">Email</label>
                                            <input type="email" class="uk-input mt-1" name="email" v-model="companyUpdate.email"/>
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-2">
                                        <div class="col-6">
                                            <label for="size" class="">Phone Number</label>
                                            <input type="text" class="uk-input mt-1" name="phone_number" v-model="companyUpdate.phone_number"/>
                                        </div>

                                        <div class="col-6">
                                            <label for="username" class="">Address</label>
                                            <input type="text" class="uk-input mt-1" name="address" v-model="companyUpdate.address"/>
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-2">
                                        <div class="col-6">
                                            <label for="size" class="">Physical Address</label>
                                            <input type="text" class="uk-input mt-1" name="physical_address" v-model="companyUpdate.physical_address"/>
                                        </div>

                                        <div class="col-6">
                                            <label for="username" class="">Telephone</label>
                                            <input type="text" class="uk-input mt-1" name="telephone" v-model="companyUpdate.telephone"/>
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-2">
                                        <div class="col-6">
                                            <label for="size" class="">Tin Number</label>
                                            <input type="text" class="uk-input mt-1" name="tin_number" v-model="companyUpdate.tin_number"/>
                                        </div>

                                        <div class="col-6">
                                            <label for="username" class="">Vrn Number</label>
                                            <input type="text" class="uk-input mt-1" name="vrn_number" v-model="companyUpdate.vrn_number"/>
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-2">
                                        <div class="col-6">
                                            <label for="size" class="">Emergency Number</label>
                                            <input type="text" class="uk-input mt-1" name="emergency_number" v-model="companyUpdate.emergency_number"/>
                                        </div>

                                        <div class="col-6">
                                            <label for="username" class="">Header</label>
                                            <input type="text" class="uk-input mt-1" name="header" v-model="companyUpdate.header"/>
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-2">
                                        <div class="col-6">
                                            <label for="size" class="">Footer</label>
                                            <input type="text" class="uk-input mt-1" name="footer" v-model="companyUpdate.footer"/>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-sm btn-outline-success">Edit Details</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import SettingDataService from "../../../services/Settings";
    import bus from '../../../services/eventBusService';
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import UIkit from 'uikit';
    import $ from 'jquery';

    @Component
    export  default class Setting extends Vue{
        public Company: any = {};
        public Positions: any = {};
        public showDepartments: any = {};
        public CompanyEdited: any = {};
        public companyUpdate: any = {
            name: "",
            email: "",
            phone_number: "",
            address: "",
            physical_address: "",
            telephone: "",
            tin_number: "",
            vrn_number: "",
            emergency_number: "",
            header: "",
            footer: "",
        };

        showDetails(){
            SettingDataService.CompanyDetails()
            .then((response) => {
                console.log(response.data.departments)
                this.Company = response.data.company;
                this.showDepartments = response.data.departments;
                this.Positions = response.data.positions;
            }).catch((e) => {
                console.log(e);
            })
        }

        mounted(){
            this.showDetails()
        }

        getEditCompany(){
            this.companyUpdate.name = this.Company.name;
            this.companyUpdate.email = this.Company.email;
            this.companyUpdate.phone_number = this.Company.phone_number;
            this.companyUpdate.address = this.Company.address;
            this.companyUpdate.physical_address = this.Company.physical_address;
            this.companyUpdate.telephone = this.Company.telephone;
            this.companyUpdate.tin_number = this.Company.tin_number;
            this.companyUpdate.vrn_number = this.Company.vrn_number;
            this.companyUpdate.emergency_number = this.Company.emergency_number;
            this.companyUpdate.header = this.Company.header;
            this.companyUpdate.footer = this.Company.footer;
        }

        EditCompany(){
            var data = {
                name: this.companyUpdate.name,
                email: this.companyUpdate.email,
                phone_number: this.companyUpdate.phone_number,
                address: this.companyUpdate.address,
                physical_address: this.companyUpdate.physical_address,
                telephone: this.companyUpdate.telephone,
                tin_number: this.companyUpdate.tin_number,
                vrn_number: this.companyUpdate.vrn_number,
                emergency_number: this.companyUpdate.emergency_number,
                header: this.companyUpdate.header,
                footer: this.companyUpdate.footer,
            };
            SettingDataService.editCompanyDetails(this.Company.id, data)
            .then((response) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.CompanyEdited = response;
                this.$swal('Updated', 'Details Updated Success', 'success');
                this.refreshPage()
            }).catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('Failed', 'Oops Something Went wrong', 'error');
                console.log(e);
            })
        }

        refreshPage(){
            // if(AuthorizeUserStatus.auth()){
            //     setTimeout(function(){
            //         router.push({ name: 'user_verify' }).catch(err => {});
            //     }.bind(this), 2000);
            // }
            this.showDetails();
        }
    }
</script>
