<template>
    <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-1 p-0 mb-0">
                    <div class="col-5">
                        <h4 class="text-left">Horses List</h4>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            /> -->
                            <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <a class="float-right mt-1 btn btn-sm btn-outline-primary" uk-tooltip="Create New Horse Request" data-toggle="modal" href="#addHorse">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addHorse" uk-modal>
                    <div class="uk-modal-dialog uuk-width-1-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Horse</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row pl-4 pr-4">
                                <label for="username">Plate Number</label>
                                <input
                                    v-model="newhorse.plate_number"
                                    
                                    type="text"
                                    class="form-control"
                                    name="plate_number"
                                />
                            </div>
                        </div>
                        <div class="uk-modal-footer">
                            <button type="button" class="btn btn-outline-primary" @click="saveHorse">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped table-sm">
                    <thead>
                        <tr class="font-weight-light">
                        <th class="font-weight-light" scope="col"></th>
                        <th class="font-weight-light" scope="col">Plate Number</th>
                        <th class="font-weight-light" scope="col">Status</th>
                        <th class="font-weight-light" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(horse, index) in horses" :key="horse.id"
                        >
                        <td>{{index + 1}}</td>
                        <td>{{horse.plate_number}}</td>
                        <td>{{horse.status}}</td>
                        <!-- <td> -->
                            <!-- <a class="">
                                <font-awesome-icon icon="bookmark"/>
                            </a> -->
                            <!-- <span v-tool></span> -->
                        <!-- </td> -->
                        <!-- <td>
                            <a class="btn btn-sm btn-outline-success" uk-tooltip="Edit" data-toggle="modal" href="#editHorse" @click="getEditHorse(index)">
                                <font-awesome-icon icon="pen"/>
                            </a>
                            <div class="modal fade" id="editHorse" tabindex="-1" aria-labelledby="editHorseLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editHorseLabel">Edit Horse</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row pr-4 pl-4">
                                            <label for="username">Plate Number</label>
                                            <input
                                                v-model="horseChange.plate_number"
                                                
                                                type="text"
                                                class="form-control"
                                                name="plate_number"
                                            />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary" @click="updateHorse">Update</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                        </td> -->
                        <td>
                            <a class="btn btn-sm btn-outline-danger" uk-tooltip="Delete" @click="removeHorse(index)">
                                <font-awesome-icon icon="trash"/>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Horses Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import HorseStoreDataService from "../../../services/HorseStoreService";
    import router from '../../../router/index';
    import Authorize  from '../../../services/AuthorizationService';
    import UIkit from 'uikit';
    import bus from '../../../services/eventBusService';
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import $ from 'jquery';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");
    
    @Component
    export default class Horse extends Vue {
        public horses: any = {};
        public horseIndex = "";
        public horseSave: any = {};
        public updatedHorse: any = {};
        public deletedHorse: any = {};
        public newhorse: any = {
            plate_number: "",
        };

        public horseChange: any = {
            plate_number: "",
        };
        public json_data: any = {};
        public json_fields: any = {
            plate_number: "plate_number",
            status: "status"
        };
        navigate(path: any){
            router.push({ name: path });

        }

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }

        // search(event: any){
        //     var search = event.target.value;
        //     console.log(event.target.value);
        //     this.horses = this.horses.filter(function(_horses: any){
        //         return _horses.taxAndInsurance_id == search;
        //     });
        // }
        getEditHorse(currentIndex: any){
            console.log(currentIndex);
            this.horseIndex = currentIndex;

            this.horseChange.plate_number = this.horses[this.horseIndex].plate_number;
        }

        retrieveHorses() {
            HorseStoreDataService.getAll()
            .then((response) => {
                this.horses = response.data.horses;
                this.json_data = this.horses;
                console.log(this.horses);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveHorses();
        }


        

        saveHorse() {
            if(!Authorize.authorizeCreateRoute('horses')){
                bus.$emit('block', 'auth');
            }
            var data = {
                plate_number: this.newhorse.plate_number,
            };

            HorseStoreDataService.create(data)
            .then((response) => {
                console.log(response.data);
                this.horseSave = response;
                UIkit.modal('#addHorse').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        updateHorse() {
            if(!Authorize.authorizeUpdateRoute('horses')){
                bus.$emit('block', 'auth');
            }
            var data = {
                plate_number: this.horseChange.plate_number,
            };

            HorseStoreDataService.update(this.horses.data.horses[this.horseIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedHorse = response;
                UIkit.modal('#editHorse').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        removeHorse(i: any) {
            if(!Authorize.authorizeDeleteRoute('horses')){
                bus.$emit('block', 'auth');
            }
            HorseStoreDataService.delete(this.horses.data.horses[this.horseIndex].id)
            .then((response) => {
                console.log(response.data);
                this.deletedHorse = response;
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
                this.refreshList();
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.retrieveHorses();
        }
    }
</script>

<style scoped>
    .fa-lg{
        color: #364372;
    }
</style>