<template>
    <div class="container">
        <div class="row _header mt-0 ml-3">
            <div class="col-lg-7 col-md-4 col-sm-6">
                <h4 class="text-left">Insurances</h4>
            </div>
            <!-- <div class="col-lg-3 col-md-4 col-sm-3 float-lg-right float-md-left">
                <button type="button" class="btn btn-outline-secondary" @click="navigate('employees')">Employees</button>      
            </div>
            <div class="col-lg-2 col-md-4 col-sm-3 float-lg-right float-md-left">
                   <button type="button" class="btn btn-outline-secondary" @click="navigate('department')">Departments</button>      
            </div> -->
        </div>
        <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <div class="col-5">
                        <h5 class="text-left">Insurances List</h5>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <a class="float-right mt-1 btn-sm btn-outline-primary" uk-tooltip="Create New Role" uk-toggle href="#addRole">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addRole" uk-modal>
                    <div class="uk-modal-dialog uk-width-2-3">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Insurance</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="options" @change="setVehicle($event)" value="vehicle" id="option1" checked> Vehicle
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="options" @change="setVehicle($event)" value="horse" id="option2"> Horse
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-6" v-show="vehicle_">
                                    <label class="w-100" for="username">Vehicle:</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newInsurance.plate_number"
                                    >
                                        <option 
                                        v-for="vehicle in vehicles.data.vehicles" 
                                        :key="vehicle.id" 
                                        :value="vehicle.plate_number"
                                        >
                                            {{vehicle.plate_number}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-6"  v-show="!vehicle_">
                                    <label class="w-100" for="username">Horse:</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newInsurance.plate_number"
                                    >
                                        <option 
                                        v-for="horse in horses.data.horses" 
                                        :key="horse.plate_number" 
                                        :value="horse.plate_number"
                                        >
                                            {{horse.plate_number}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">Insurance Type:</label>
                                    <input
                                    v-model="newInsurance.insurance_type"
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="username">Start Date:</label>
                                    <input
                                    v-model="newInsurance.start_date"
                                    type="date"
                                    class="form-control"
                                    name="end_date"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">End Date:</label>
                                    <input
                                    v-model="newInsurance.end_date"
                                    type="date"
                                    class="form-control"
                                    name="end_date"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="username">Insured By:</label>
                                    <input
                                    v-model="newInsurance.insured_by"
                                    type="text"
                                    class="form-control"
                                    name="insured_by"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">Phone Number:</label>
                                    <input
                                    v-model="newInsurance.phone_number"
                                    type="number"
                                    class="form-control"
                                    name="phone_number"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footerv uk-text-right">
                            <button type="button" class="btn btn-primary" @click="saveInsurance">Add Insurance</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped table-sm">
                    <thead>
                        <tr class="font-weight-light">
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Plate Number</th>
                        <th scope="col"></th>
                        <!-- <th scope="col"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(insurance, index) in insurances" :key="insurance.id"
                        >
                            <td>{{index + 1}}</td>
                            <td>{{insurance.insured_by}}</td>
                            <td>{{insurance.plate_number}}</td>
                            <td>
                                <a class="btn float-right btn-sm btn-outline-danger" @click="removeInsurance(index)">
                                    <font-awesome-icon icon="trash"/>
                                </a>
                                <a class="mr-3 btn float-right btn-sm btn-outline-success" data-toggle="modal" href="#editInsurance" @click="getEditInsurance(index)">
                                    <font-awesome-icon icon="pen"/>
                                </a>
                                <div class="uk-flex-top" id="editInsurance" uk-modal>
                                    <div class="uk-modal-dialog uk-width-2-3">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header">
                                            <h5 class="uk-modal-title" id="addHorseLabel">Update Insurance</h5>
                                        </div>
                                        <div class="uk-modal-body" uk-overflow-auto>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="w-100" for="username">Insurance Type:</label>
                                                    <input
                                                    v-model="insuranceChange.insurance_type"
                                                    type="text"
                                                    class="form-control"
                                                    name="name"
                                                    />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="w-100" for="username">Start Date:</label>
                                                    <input
                                                    v-model="insuranceChange.start_date"
                                                    type="date"
                                                    class="form-control"
                                                    name="end_date"
                                                    />
                                                </div>
                                                <div class="col-6">
                                                    <label class="w-100" for="username">End Date:</label>
                                                    <input
                                                    v-model="insuranceChange.end_date"
                                                    type="date"
                                                    class="form-control"
                                                    name="end_date"
                                                    />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="w-100" for="username">Insured By:</label>
                                                    <input
                                                    v-model="insuranceChange.insured_by"
                                                    type="text"
                                                    class="form-control"
                                                    name="insured_by"
                                                    />
                                                </div>
                                                <div class="col-6">
                                                    <label class="w-100" for="username">Phone Number:</label>
                                                    <input
                                                    v-model="insuranceChange.phone_number"
                                                    type="number"
                                                    class="form-control"
                                                    name="phone_number"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-modal-footer uk-text-right">
                                            <button type="button" class="btn btn-primary" @click="updateInsurance">Update Role</button>
                                        </div>
                                    </div>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-7">
                        
                    </span>
                    <span class="col-5 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Insuarance Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import router from '../../../router/index';
    import HorseStoreDataService from "../../../services/HorseStoreService";
    import InsuranceDataService from "../../../services/InsuranceService";
    import VehicleStoreService from "../../../services/VehicleStoreService";
    import Authorize  from '../../../services/AuthorizationService';
    import bus from '../../../services/eventBusService';
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import UIkit from 'uikit';
    import $ from 'jquery';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");

    @Component
    export default class Insurance extends Vue {
        public insurances: any = {};
        public vehicles: any = {};
        public horses: any = {};
        public vehicle_: any = true;
        public insuranceIndex = "";
        public insuranceSave: any = {};
        public updatedInsurance: any = {};
        public deletedInsurance: any = {};
        public newInsurance: any = {
            plate_number: "",
            start_date: "",
            type: "",
            end_date: "",
            insurance_type: "",
            insured_by: "",
            phone_number: ""
        };

        public insuranceChange: any = {
            // plate_number: "",
            start_date: "",
            type: "",
            end_date: "",
            insurance_type: "",
            insured_by: "",
            phone_number: ""
        };

        public json_data: any = {};
        public json_fields: any = {
            plate_number: "plate_number",
            start_date: "start_date",
            type: "type",
            end_date: "end_date",
            insurance_type: "end_date",
            insured_by: "insured_by",
            phone_number: "phone_number",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }

        // search(event: any){
        //     var search = event.target.value;
        //     console.log(event.target.value);
        //     this.insurances = this.insurances.filter(function(_insurances: any){
        //         return _insurances.taxAndInsurance_id == search;
        //     });
        // }

        retrieveVehicles() {
            VehicleStoreService.getAll()
            .then((response) => {
                this.vehicles = response;
                console.log(this.vehicles);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveHorses() {
            HorseStoreDataService.getAll()
            .then((response) => {
                this.horses = response;
                console.log(this.horses);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        navigate(path: any){
            // router.push({ name: path });
            bus.$emit('navigate', path);
        }

        getEditInsurance(currentIndex: any){
            this.insuranceIndex = currentIndex;
            this.insuranceChange.type = this.insurances[this.insuranceIndex].type,
            this.insuranceChange.start_date = this.insurances[this.insuranceIndex].start_date,
            this.insuranceChange.end_date = this.insurances[this.insuranceIndex].end_date,
            this.insuranceChange.insurance_type = this.insurances[this.insuranceIndex].insurance_type,
            this.insuranceChange.insured_by = this.insurances[this.insuranceIndex].insured_by,
            this.insuranceChange.phone_number = this.insurances[this.insuranceIndex].phone_number
        }    

        saveInsurance() {
            if(!Authorize.authorizeCreateRoute('insurance')){
                bus.$emit('block', 'auth');
            }
            if(this.vehicle_){
                this.newInsurance.type = 'vehicle';
            }else{
                this.newInsurance.type = 'horse';
            }
            var data = {
                plate_number: this.newInsurance.plate_number,
                type: this.newInsurance.type,
                start_date: this.newInsurance.start_date,
                end_date: this.newInsurance.end_date,
                insurance_type: this.newInsurance.insurance_type,
                insured_by: this.newInsurance.insured_by,
                phone_number: this.newInsurance.phone_number
            };
            console.log(data);
            InsuranceDataService.create(data)
            .then((response) => {
                console.log(response);
                this.insuranceSave = response;
                UIkit.modal('#addRole').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
                // this.submitted = true;
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        retrieveInsurances() {
            InsuranceDataService.getAll()
            .then((response) => {
                this.insurances = response.data.insurances;
                this.json_data = this.insurances;
                console.log(this.insurances);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        setVehicle(event: any){
            console.log(event.target.value)
            if(event.target.value == "vehicle"){
                this.vehicle_ = true;
            }else{
                this.vehicle_ = false;
            }
        }

        refreshList() {
            this.retrieveInsurances();
            this.retrieveVehicles();
            this.retrieveHorses();
            this.newInsurance = {
                plate_number: "",
                start_date: "",
                type: "",
                end_date: "",
                insurance_type: "",
                insured_by: "",
                phone_number: ""
            };
        }

        updateInsurance(){
            if(!Authorize.authorizeUpdateRoute('insurance')){
                bus.$emit('block', 'auth');
            }
            var data = {
                type: this.insuranceChange.type,
                start_date: this.insuranceChange.start_date,
                end_date: this.insuranceChange.end_date,
                insurance_type: this.insuranceChange.insurance_type,
                insured_by: this.insuranceChange.insured_by,
                phone_number: this.insuranceChange.phone_number
            };

            InsuranceDataService.update(this.insurances[this.insuranceIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedInsurance = response;
                UIkit.modal('#editInsurance').hide();
                this.refreshList();
                 if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
        }

        removeInsurance(i: any) {
            if(!Authorize.authorizeDeleteRoute('insurance')){
                bus.$emit('block', 'auth');
            }
            InsuranceDataService.delete(this.insurances[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedInsurance = response;
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        /* color: #045463; */
    }
    ._header{

    }
</style>