<template>
    <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-5">
                        <h4 class="text-left">Trailers List</h4>
                    </span>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <span class="col-2 pr-0">
                        <a class="float-right mt-1 btn btn-sm btn-out-primary" uk-tooltip="Create New Trailer Request" uk-toggle href="#addTrailer">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </span>
                </div>
                <div class="uk-flex-top" id="addTrailer" uk-modal>
                    <div class="uk-modal-dialog uk-width-2-3">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Trailer</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Plate Number</label>
                                    <input
                                        v-model="newTrailer.plate_number"
                                        
                                        type="text"
                                        class="form-control"
                                        name="plate_number"
                                    />
                                </div>
                                 <div class="col-6">
                                    <label for="username">Model</label>
                                    <input
                                        v-model="newTrailer.model"
                                        
                                        type="text"
                                        class="form-control"
                                        name="type_of_request"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="make">Make</label>
                                    <input
                                        v-model="newTrailer.make"
                                        
                                        type="text"
                                        class="form-control"
                                        name="make"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="username">Tone </label>
                                    <input
                                        v-model="newTrailer.tone"
                                        
                                        type="text"
                                        class="form-control"
                                        name="tone"
                                    />
                                </div>
                            
                                
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="gvm">GVM</label>
                                    <input
                                        v-model="newTrailer.gvm"
                                        
                                        type="text"
                                        class="form-control"
                                        name="amount"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="color">Color</label>
                                    <input
                                        v-model="newTrailer.color"
                                        
                                        type="text"
                                        class="form-control"
                                        name="color"
                                    />
                                </div>
                            
                                
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="gvm">Disposal Date</label>
                                    <input
                                        v-model="newTrailer.disposal_date"
                                        
                                        type="date"
                                        class="form-control"
                                        name="disposal_date"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="color">Class</label>
                                    <input
                                        v-model="newTrailer.class"
                                        
                                        type="text"
                                        class="form-control"
                                        name="color"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="unloaded_gvm">Unloaded Gvm</label>
                                    <input
                                        v-model="newTrailer.unloaded_gvm"
                                        
                                        type="text"
                                        class="form-control"
                                        name="unloaded_gvm"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="loaded_gvm">Loaded Gvm</label>
                                    <input
                                        v-model="newTrailer.loaded_gvm"
                                        
                                        type="text"
                                        class="form-control"
                                        name="loaded_gvm"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="gvm">Year Of Manufacture</label>
                                    <input
                                        v-model="newTrailer.year_of_manufacture"
                                        
                                        type="number"
                                        class="form-control"
                                        name="year_of_manufacture"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="color">Type</label>
                                    <input
                                        v-model="newTrailer.type"
                                        
                                        type="text"
                                        class="form-control"
                                        name="type"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="btn btn-outline-primary" @click="saveTrailer">Create</button>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead class="font-weight-light">
                        <tr>
                        <th class="font-weight-light" scope="col"></th>
                        <th class="font-weight-light" scope="col">Plate Number</th>
                        <th class="font-weight-light" scope="col">Modal</th>
                        <th class="font-weight-light" scope="col">Tone</th>
                        <th class="font-weight-light" scope="col">Status</th>
                        <th class="font-weight-light" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(trailer, index) in trailers" :key="trailer.id"
                        >
                        <td>{{index + 1}}</td>
                        <td>{{trailer.plate_number}}</td>
                        <td>{{trailer.model}}</td>
                        <td>{{trailer.tone}}</td>
                        <td>{{trailer.status}}</td>
                        <td>
                            <a class="float-right btn btn-sm btn-outline-danger" uk-tooltip="Delete" @click="removeTrailer(index)">
                                <font-awesome-icon icon="trash"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-tooltip="Edit" uk-toggle href="#editTrailer" @click="getEdittrailer(index)">
                                <font-awesome-icon icon="pen"/>
                            </a>
                            <div class="uk-flex-top" id="editTrailer" uk-modal>
                                <div class="uk-modal-dialog uk-width-2-3">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Edit Trailer</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="username">Plate Number</label>
                                                <input
                                                    v-model="trailerChange.plate_number"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="plate_number"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="username">Model</label>
                                                <input
                                                    v-model="trailerChange.model"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="type_of_request"
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="make">Make</label>
                                                <input
                                                    v-model="trailerChange.make"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="make"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="username">Tone </label>
                                                <input
                                                    v-model="trailerChange.tone"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="tone"
                                                />
                                            </div>
                                        
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="gvm">GVM</label>
                                                <input
                                                    v-model="trailerChange.gvm"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="amount"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="color">Color</label>
                                                <input
                                                    v-model="trailerChange.color"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="color"
                                                />
                                            </div>
                                        
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="gvm">Disposal Date</label>
                                                <input
                                                    v-model="trailerChange.disposal_date"
                                                    
                                                    type="date"
                                                    class="form-control"
                                                    name="disposal_date"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="color">Class</label>
                                                <input
                                                    v-model="trailerChange.class"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="color"
                                                />
                                            </div>
                                        </div>
                                       <div class="row">
                                            <div class="col-6">
                                                <label for="unloaded_gvm">Unloaded Gvm</label>
                                                <input
                                                    v-model="trailerChange.unloaded_gvm"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="unloaded_gvm"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="loaded_gvm">Loaded Gvm</label>
                                                <input
                                                    v-model="trailerChange.loaded_gvm"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="loaded_gvm"
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="gvm">Year Of Manufacture</label>
                                                <input
                                                    v-model="trailerChange.year_of_manufacture"
                                                    
                                                    type="number"
                                                    class="form-control"
                                                    name="year_of_manufacture"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="color">Type</label>
                                                <input
                                                    v-model="trailerChange.type"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="type"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <button type="button" class="btn btn-outline-primary" @click="updateTrailer">Update</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Trailers Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from "vue-property-decorator";
    import TrailerStoreService from "../../../services/TrailerStoreService";
    import router from '../../../router/index';
    import Authorize  from '../../../services/AuthorizationService';
    import bus from '../../../services/eventBusService';
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import UIkit from 'uikit';
    import $ from 'jquery';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");
    
    @Component
    export default class Trailer extends Vue {
        
        public trailerIndex = "";
        public trailers: any = {};
        public trailerSave: any = {};
        public updatedTrailer: any = {};
        public deletedTrailer: any = {};
        @Prop({ required: true })
        newTrailer: any = {
            plate_number: "",
            model: "",
            make: "",
            tone: "",
            gvm: "",
            color: "",
            disposal_date: "",
            class: "",
            unloaded_gvm: "",
            loaded_gvm: "",
            year_of_manufacture: "",
            type: "",
        };

        public trailerChange: any = {
            plate_number: "",
            model: "",
            make: "",
            tone: "",
            gvm: "",
            color: "",
            disposal_date: "",
            class: "",
            unloaded_gvm: "",
            loaded_gvm: "",
            year_of_manufacture: "",
            type: "",
        };

        public json_data: any = {};
        public json_fields: any = {
            plate_number: "plate_number",
            model: "model",
            make: "make",
            tone: "tone",
            gvm: "gvm",
            color: "color",
            disposal_date: "disposal_date",
            class: "class",
            unloaded_gvm: "unloaded_gvm",
            loaded_gvm: "loaded_gvm",
            year_of_manufacture: "year_of_manufacture",
            type: "type",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }

        // search(event: any){
        //     var search = event.target.value;
        //     console.log(event.target.value);
        //     this.trailers = this.trailers.filter(function(_trailers: any){
        //         return _trailers.taxAndInsurance_id == search;
        //     });
        // }

        getEdittrailer(currentIndex: any){
            console.log(currentIndex);
            this.trailerIndex = currentIndex;

            this.trailerChange.plate_number = this.trailers[this.trailerIndex].plate_number;
            this.trailerChange.model = this.trailers[this.trailerIndex].model;
            this.trailerChange.make = this.trailers[this.trailerIndex].make;
            this.trailerChange.tone = this.trailers[this.trailerIndex].tone;
            this.trailerChange.gvm = this.trailers[this.trailerIndex].gvm;
            this.trailerChange.color = this.trailers[this.trailerIndex].color;
            this.trailerChange.disposal_date = this.trailers[this.trailerIndex].disposal_date;
            this.trailerChange.class = this.trailers[this.trailerIndex].class;
            this.trailerChange.unloaded_gvm = this.trailers[this.trailerIndex].unloaded_gvm;
            this.trailerChange.loaded_gvm = this.trailers[this.trailerIndex].loaded_gvm;
            this.trailerChange.year_of_manufacture = this.trailers[this.trailerIndex].year_of_manufacture;
            this.trailerChange.type = this.trailers[this.trailerIndex].type;
        }

        retrieveTrailers() {
            TrailerStoreService.getAll()
            .then((response) => {
                this.trailers = response.data.trailers;
                this.json_data = this.trailers;
                console.log(this.trailers);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveTrailers();
        }
        

        saveTrailer() {
            if(!Authorize.authorizeCreateRoute('trailers')){
                bus.$emit('block', 'auth');
            }
            var data = {

                plate_number: this.newTrailer.plate_number,
                model: this.newTrailer.model,
                make: this.newTrailer.make,
                tone: this.newTrailer.tone,
                gvm: this.newTrailer.gvm,
                color: this.newTrailer.color,
                disposal_date: this.newTrailer.disposal_date,
                class: this.newTrailer.class,
                unloaded_gvm: this.newTrailer.unloaded_gvm,
                loaded_gvm: this.newTrailer.loaded_gvm,
                year_of_manufacture: this.newTrailer.year_of_manufacture,
                type: this.newTrailer.type,
            };
            console.log(data);
            TrailerStoreService.create(data)
            .then((response) => {
                console.log(response.data);
                this.trailerSave = response;
                UIkit.modal('#addTrailer').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        updateTrailer() {
            if(!Authorize.authorizeUpdateRoute('trailers')){
                bus.$emit('block', 'auth');
            }
            var data = {
                plate_number: this.trailerChange.plate_number,
                model: this.trailerChange.model,
                make: this.trailerChange.make,
                tone: this.trailerChange.tone,
                gvm: this.trailerChange.gvm,
                color: this.trailerChange.color,
                disposal_date: this.trailerChange.disposal_date,
                class: this.trailerChange.class,
                unloaded_gvm: this.trailerChange.unloaded_gvm,
                loaded_gvm: this.trailerChange.loaded_gvm,
                year_of_manufacture: this.trailerChange.year_of_manufacture,
                type: this.trailerChange.type,
            };

            TrailerStoreService.update(this.trailers[this.trailerIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedTrailer = response;
                UIkit.modal('#editTrailer').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        removeTrailer(i: any) {
            if(!Authorize.authorizeDeleteRoute('trailers')){
                bus.$emit('block', 'auth');
            }
            TrailerStoreService.delete(this.trailers[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedTrailer = response;
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
                this.refreshList();
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.retrieveTrailers();
        }
    }
</script>

<style scoped>
    .fa-lg{
        color: #364372;
    }
</style>