<template>
    <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-5">
                        <h4 class="text-left">Vehicles List</h4>
                    </span>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <span class="col-2 pr-0">
                        <a class="float-right mt-1 btn btn-sm btn-out-primary" uk-tooltip="Create New Vehicle" uk-toggle href="#addVehicle">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </span>
                </div>
                <div class="uk-flex-top" id="addVehicle" uk-modal>
                    <div class="uk-modal-dialog uk-width-2-3">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Vehicle</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Plate Number</label>
                                    <input
                                        v-model="newVehicle.plate_number"
                                        
                                        type="text"
                                        class="form-control"
                                        name="plate_number"
                                    />
                                </div>
                                 <div class="col-6">
                                    <label for="username">Model</label>
                                    <input
                                        v-model="newVehicle.model"
                                        
                                        type="text"
                                        class="form-control"
                                        name="type_of_request"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="current_mileage">Current Mileage</label>
                                    <input
                                        v-model="newVehicle.current_mileage"
                                        
                                        type="text"
                                        class="form-control"
                                        name="current_mileage"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="fuel_type">Fuel Type</label>
                                    <input
                                        v-model="newVehicle.fuel_type"
                                        
                                        type="text"
                                        class="form-control"
                                        name="fuel_type"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="make">Make</label>
                                    <input
                                        v-model="newVehicle.make"
                                        
                                        type="text"
                                        class="form-control"
                                        name="make"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="username">Tone </label>
                                    <input
                                        v-model="newVehicle.tone"
                                        
                                        type="text"
                                        class="form-control"
                                        name="tone"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="gvm">GVM</label>
                                    <input
                                        v-model="newVehicle.gvm"
                                        
                                        type="text"
                                        class="form-control"
                                        name="amount"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="color">Color</label>
                                    <input
                                        v-model="newVehicle.color"
                                        
                                        type="text"
                                        class="form-control"
                                        name="color"
                                    />
                                </div>
                            
                                
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="gvm">Disposal Date</label>
                                    <input
                                        v-model="newVehicle.disposal_date"
                                        
                                        type="date"
                                        class="form-control"
                                        name="disposal_date"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="color">Class</label>
                                    <input
                                        v-model="newVehicle.class"
                                        
                                        type="text"
                                        class="form-control"
                                        name="color"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="unloaded_gvm">Unloaded Gvm</label>
                                    <input
                                        v-model="newVehicle.unloaded_gvm"
                                        
                                        type="text"
                                        class="form-control"
                                        name="unloaded_gvm"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="loaded_gvm">Loaded Gvm</label>
                                    <input
                                        v-model="newVehicle.loaded_gvm"
                                        
                                        type="text"
                                        class="form-control"
                                        name="loaded_gvm"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="gvm">Year Of Manufacture</label>
                                    <input
                                        v-model="newVehicle.year_of_manufacture"
                                        
                                        type="number"
                                        class="form-control"
                                        name="year_of_manufacture"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="color">Type</label>
                                    <input
                                        v-model="newVehicle.type"
                                        
                                        type="text"
                                        class="form-control"
                                        name="type"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="btn btn-outline-primary" @click="saveVehicle">Create</button>
                        </div>
                    </div>
                </div> 
                
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead class="font-weight-light">
                        <tr>
                        <th class="font-weight-light" scope="col"></th>
                        <th class="font-weight-light" scope="col">Plate Number</th>
                        <th class="font-weight-light" scope="col">Modal</th>
                        <th class="font-weight-light" scope="col">Tone</th>
                        <th class="font-weight-light" scope="col">Status</th>
                        <th class="font-weight-light" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(vehicle, index) in vehicles" :key="vehicle.id"
                        >
                        <td>{{index + 1}}</td>
                        <td>{{vehicle.plate_number}}</td>
                        <td>{{vehicle.model}}</td>
                        <td>{{vehicle.tone}}</td>
                        <td>{{vehicle.status}}</td>
                        <td>
                            <a class="float-right btn btn-sm btn-outline-danger" uk-tooltip="Delete" @click="removeVehicle(index)">
                                <font-awesome-icon icon="trash"/>
                            </a>
                            <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-tooltip="Edit" uk-toggle href="#editVehicle" @click="getEditvehicle(index)">
                                <font-awesome-icon icon="pen"/>
                            </a>
                            <div class="uk-flex-top" id="editVehicle" uk-modal>
                                <div class="uk-modal-dialog uk-width-2-3">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Edit Vehicle</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="plate_number">Plate Number</label>
                                                <input
                                                    v-model="vehicleChange.plate_number"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="plate_number"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="model">Model</label>
                                                <input
                                                    v-model="vehicleChange.model"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="model"
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="current_mileage">Current Mileage</label>
                                                <input
                                                    v-model="vehicleChange.current_mileage"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="current_mileage"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="fuel_type">Fuel Type</label>
                                                <input
                                                    v-model="vehicleChange.fuel_type"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="fuel_type"
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="make">Make</label>
                                                <input
                                                    v-model="vehicleChange.make"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="make"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="tone">Tone </label>
                                                <input
                                                    v-model="vehicleChange.tone"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="tone"
                                                />
                                            </div>
                                        
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="gvm">GVM</label>
                                                <input
                                                    v-model="vehicleChange.gvm"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="gvm"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="color">Color</label>
                                                <input
                                                    v-model="vehicleChange.color"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="color"
                                                />
                                            </div>
                                        
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="disposal_date">Disposal Date</label>
                                                <input
                                                    v-model="vehicleChange.disposal_date"
                                                    
                                                    type="date"
                                                    class="form-control"
                                                    name="disposal_date"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="color">Class</label>
                                                <input
                                                    v-model="vehicleChange.class"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="color"
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="unloaded_gvm">Unloaded Gvm</label>
                                                <input
                                                    v-model="vehicleChange.unloaded_gvm"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="unloaded_gvm"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="loaded_gvm">Loaded Gvm</label>
                                                <input
                                                    v-model="vehicleChange.loaded_gvm"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="loaded_gvm"
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="year_of_manufacture">Year Of Manufacture</label>
                                                <input
                                                    v-model="vehicleChange.year_of_manufacture"
                                                    
                                                    type="number"
                                                    class="form-control"
                                                    name="year_of_manufacture"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label for="color">Type</label>
                                                <input
                                                    v-model="vehicleChange.type"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="type"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <button type="button" class="btn btn-outline-primary" @click="updateVehicle">Update</button>
                                    </div>
                                </div>
                            </div> 
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-6">
                        
                    </span>
                    <span class="col-5 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Vehicles Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
            
        </div>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from "vue-property-decorator";
    import VehicleStoreService from "../../../services/VehicleStoreService";
    import router from '../../../router/index';
    import Authorize  from '../../../services/AuthorizationService';
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import bus from '../../../services/eventBusService';
    import UIkit from 'uikit';
    import $ from 'jquery';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");
    
    @Component
    export default class Vehicle extends Vue {
        
        public vehicleIndex = "";
        public vehicles: any = {};
        public vehicleSave: any = {};
        public updatedVehicle: any = {};
        public deletedVehicle: any = {};
        @Prop({ required: true })
        newVehicle: any = {
            plate_number: "",
            current_mileage: "",
            fuel_type: "",
            model: "",
            make: "",
            tone: "",
            gvm: "",
            color: "",
            disposal_date: "",
            class: "",
            unloaded_gvm: "",
            loaded_gvm: "",
            year_of_manufacture: "",
            type: "",
        };

        public vehicleChange: any = {
            plate_number: "",
            current_mileage: "",
            fuel_type: "",
            model: "",
            make: "",
            tone: "",
            gvm: "",
            color: "",
            disposal_date: "",
            class: "",
            unloaded_gvm: "",
            loaded_gvm: "",
            year_of_manufacture: "",
            type: "",
        };

        public json_data: any = {};
        public json_fields: any = {
            plate_number: "plate_number",
            current_mileage: "current_mileage",
            fuel_type: "fuel_type",
            model: "model",
            make: "make",
            tone: "tone",
            gvm: "gvm",
            color: "color",
            disposal_date: "disposal_date",
            class: "class",
            unloaded_gvm: "unloaded_gvm",
            loaded_gvm: "loaded_gvm",
            year_of_manufacture: "year_of_manufacture",
            type: "type",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }

        // search(event: any){
        //     var search = event.target.value;
        //     console.log(event.target.value);
        //     this.vehicles = this.vehicles.filter(function(_vehicles: any){
        //         return _vehicles.taxAndInsurance_id == search;
        //     });
        // }

        getEditvehicle(currentIndex: any){
            console.log(currentIndex);
            this.vehicleIndex = currentIndex;

            this.vehicleChange.plate_number = this.vehicles[this.vehicleIndex].plate_number;
            this.vehicleChange.current_mileage = this.vehicles[this.vehicleIndex].current_mileage;
            this.vehicleChange.fuel_type = this.vehicles[this.vehicleIndex].fuel_type;
            this.vehicleChange.model = this.vehicles[this.vehicleIndex].model;
            this.vehicleChange.make = this.vehicles[this.vehicleIndex].make;
            this.vehicleChange.tone = this.vehicles[this.vehicleIndex].tone;
            this.vehicleChange.gvm = this.vehicles[this.vehicleIndex].gvm;
            this.vehicleChange.color = this.vehicles[this.vehicleIndex].color;
            this.vehicleChange.disposal_date = this.vehicles[this.vehicleIndex].disposal_date;
            this.vehicleChange.class = this.vehicles[this.vehicleIndex].class;
            this.vehicleChange.unloaded_gvm = this.vehicles[this.vehicleIndex].unloaded_gvm;
            this.vehicleChange.loaded_gvm = this.vehicles[this.vehicleIndex].loaded_gvm;
            this.vehicleChange.year_of_manufacture = this.vehicles[this.vehicleIndex].year_of_manufacture;
            this.vehicleChange.type = this.vehicles[this.vehicleIndex].type;
        }

        retrieveVehicles() {
            VehicleStoreService.getAll()
            .then((response) => {
                this.vehicles = response.data.vehicles;
                this.json_data = this.vehicles
                console.log(this.vehicles);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveVehicles();
        }
        

        saveVehicle() {
            if(!Authorize.authorizeCreateRoute('vehicles')){
                bus.$emit('block', 'auth');
            }
            var data = {
                plate_number: this.newVehicle.plate_number,
                current_mileage: this.newVehicle.current_mileage,
                fuel_type: this.newVehicle.fuel_type,
                model: this.newVehicle.model,
                make: this.newVehicle.make,
                tone: this.newVehicle.tone,
                gvm: this.newVehicle.gvm,
                color: this.newVehicle.color,
                disposal_date: this.newVehicle.disposal_date,
                class: this.newVehicle.class,
                unloaded_gvm: this.newVehicle.unloaded_gvm,
                loaded_gvm: this.newVehicle.loaded_gvm,
                year_of_manufacture: this.newVehicle.year_of_manufacture,
                type: this.newVehicle.type,
            };
            console.log(data);
            VehicleStoreService.create(data)
            .then((response) => {
                console.log(response.data);
                this.vehicleSave = response;
                UIkit.modal('#addVehicle').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        updateVehicle() {
            if(!Authorize.authorizeUpdateRoute('vehicles')){
                bus.$emit('block', 'auth');
            }
            var data = {
                plate_number: this.vehicleChange.plate_number,
                current_mileage: this.vehicleChange.current_mileage,
                fuel_type: this.vehicleChange.fuel_type,
                model: this.vehicleChange.model,
                make: this.vehicleChange.make,
                tone: this.vehicleChange.tone,
                gvm: this.vehicleChange.gvm,
                color: this.vehicleChange.color,
                disposal_date: this.vehicleChange.disposal_date,
                class: this.vehicleChange.class,
                unloaded_gvm: this.vehicleChange.unloaded_gvm,
                loaded_gvm: this.vehicleChange.loaded_gvm,
                year_of_manufacture: this.vehicleChange.year_of_manufacture,
                type: this.vehicleChange.type,
            };
            // console.log(this.vehicles[this.vehicleIndex]);

            VehicleStoreService.update(this.vehicles[this.vehicleIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedVehicle = response;
                UIkit.modal('#editVehicle').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        removeVehicle(i: any) {
            if(!Authorize.authorizeDeleteRoute('vehicles')){
                bus.$emit('block', 'auth');
            }
            VehicleStoreService.delete(this.vehicles[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedVehicle = response;
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
                this.refreshList();
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.retrieveVehicles();
        }
    }
</script>

<style scoped>
    .fa-lg{
        color: #364372;
    }
</style>