<template>
    <div>
        <div v-show="appLayout">
            <Navigation></Navigation>
        </div>
        
        
        <div class="sidenav" v-bind:style="{width: showSideBar ? '200px' : '70px'}" v-show="appLayout">
            <side-nav></side-nav>
        </div>
        <div class="main_content_first" v-show="!appLayout">
            <Main></Main>
        </div>
        <div class="main_content" v-bind:class="{main_content_margin: showSideBar}" v-show="appLayout">
            <div class="alert alert-success w-75 alert-dismissible successfull fade show" role="alert">
                <strong>Success!</strong> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="successAlert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger w-75 alert-dismissible failure fade show" role="alert">
                <strong>Failed!</strong> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="failedAlert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger w-75 alert-dismissible access fade show" role="alert">
                <strong>Failed!</strong> You are not authorized
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="authAlert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="request_dashboard w-75" v-show="reqDash">
                <request></request>
            </div>
            <!-- <div class="request_dashboard w-75" v-show="secDash">
                <security></security>
            </div> -->
            <div class="request_dashboard w-75" v-show="storeDash">
                <store></store>
            </div>
            <div class="request_dashboard w-75" v-show="payrollDash">
                <payroll></payroll>
            </div>
            <Main></Main>
        </div>
    </div>
   

</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import Navigation from './navbar.vue'
    import SideNav from './sidebar.vue'
    import Main from './main.vue';
    import router from '../../router/index';
    import ToggleNav from './toggleNav.vue';
    import Request from './requestDash.vue';
    import security from './securityDash.vue';
    import store from './storeDash.vue';
    import Payroll from './payrollDash.vue';
    import UIkit from 'uikit';
    import Authorize  from '../../services/AuthorizationService';
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
    import $ from 'jquery';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");

    
    
    import bus from '../../services/eventBusService';

    @Component({
        components: {
            Navigation,
            Main,
            SideNav,
            ToggleNav,
            Request,
            security,
            store,
            Payroll
        }
    })
    export default class Layout extends Vue {
        
     
        public showSideBar = true;
        public messageSuccess = true;
        public messageFailed = false;
        public messageAuth = false;
        public reqDash = false;
        public secDash = false;
        public storeDash = false;
        public payrollDash = false;
        public appLayout = true;
        public message = "";

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        checkCurrentRoute(){
                console.log(router.currentRoute.name);
        }
        successAlert(){
            this.messageSuccess = false;
        }
        failedAlert(){
            this.messageFailed = false;
        }
        authAlert(){
            this.messageAuth = false;
        }
        openModal(){
            UIkit.modal('#Unauthorized').show();
        }

        setBoolean(_state:boolean){
            var state;
            if(_state){
                setTimeout(function(){
                    state = false;
                }.bind(this), 3000)
            }else{
                setTimeout(function(){
                    state = true;
                }.bind(this), 3000)
            }
            return state;
        }

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
            
            bus.$on('showModal', () => {
                console.log("russle");
                UIkit.modal('#Unauthorized').show();
            }),
            bus.$on('logout', (data: string) => {
                console.log(data);
                localStorage.removeItem('user');
                localStorage.removeItem('role');
                localStorage.removeItem('auth');
                router.push({ name: 'login' });
            }),
            bus.$on('block', (data: string) =>{
                this.messageAuth = true;
                if(this.setBoolean(this.messageAuth)){
                    this.messageAuth = true;
                }else{
                    this.messageAuth = false;
                }
                
            }),
            bus.$on('navigate', (data: string) => {
            //    bus.$emit('showText', 'sidenav');
                if(AuthorizeUserStatus.auth()){
                    this.appLayout = false;
                    setTimeout(function(){
                        router.push({ name: 'user_verify' });
                    }.bind(this), 2000);
                }else{
                    if(Authorize.authorizeViewRoute(data)){
                        if(data == 'requests' || data == 'expenditure' || data == 'fuel' || data == 'trailer' || data == 'horse' || data == 'office' || data == 'vehicle'){
                            this.reqDash = true;
                        }else if(data == 'dashboard'){
                            this.reqDash = false;
                        }else{
                            this.reqDash = false;
                        }

                        if(data == 'payroll' || data == 'loans' || data == 'taxes'){
                            this.payrollDash = true;
                        }else if(data == 'dashboard'){
                            this.payrollDash = false;
                        }else{
                            this.payrollDash = false;
                        }

                        if(data == 'authorization' || data == 'logs' || data == 'security'){
                            this.secDash = true;
                        }else if(data == 'dashboard'){
                            this.secDash = false;
                        }else{
                            this.secDash = false;
                        }

                        if(data == 'store' || data == 'trailers' || data == 'horses' || data == 'vehicles' || data == 'insurance'){
                            this.storeDash = true;
                        }else if(data == 'dashboard'){
                            this.storeDash = false;
                        }else{
                            this.storeDash = false;
                        }
                        if(data == 'user_verify'){
                            this.appLayout = false;
                        }else{
                            this.appLayout = true;
                        }
                        router.push({ name: data });
                        // router.push({ name: data, params: { id:  }});
                    }else{
                        this.messageAuth = true;
                        
                        $('.access').show();
                        if(this.setBoolean(this.messageAuth)){
                            this.messageAuth = true;
                        }else{
                            this.messageAuth = false;
                        }
                    }
                }
                
                
            }),

            bus.$on('navigateToLoan', (params: any) => {
            //    bus.$emit('showText', 'sidenav');
                    this.reqDash = false;
                    this.payrollDash = true;
                    this.secDash = false;
                    this.storeDash = false;
                if(Authorize.authorizeViewRoute("loan_details")){
                    router.push({ name: "loan_details", params: { id: params }});
                }else{
                    this.messageAuth = true;
                    if(this.setBoolean(this.messageAuth)){
                        this.messageAuth = true;
                    }else{
                        this.messageAuth = false;
                    }
                }
                
            }),

            bus.$on('openSideNavigation', (data: string) => {
                console.log(data);
                if(this.showSideBar == true){
                    this.showSideBar = false;
                }else{
                    this.showSideBar = true;
                }
                
            }),
            bus.$on('success', (data: string) => {
                console.log("success");
                this.message = data;
                $('.successful').show();
                this.messageSuccess = true;
                if(this.setBoolean(this.messageSuccess)){
                    this.messageSuccess = true;
                }else{
                    this.messageSuccess = false;
                }
                
                
            }),

            bus.$on('failed', (data: string) => {
                this.message = data;
                
                $('.failure').show();
                this.messageFailed = true;
                if(this.setBoolean(this.messageFailed)){
                    this.messageFailed = true;
                }else{
                    this.messageFailed = false;
                }
            })
        }

        mounted(){
            $('.alert').hide();
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }else{
                if(router.currentRoute.name == 'requests' || router.currentRoute.name == 'expenditure' || router.currentRoute.name == 'fuel' || router.currentRoute.name == 'trailer' || router.currentRoute.name == 'horse' || router.currentRoute.name == 'office' || router.currentRoute.name == 'vehicle'){
                this.reqDash = true;
                }else if(router.currentRoute.name == 'dashboard'){
                    this.reqDash = false;
                }else{
                    this.reqDash = false;
                }

                if(router.currentRoute.name == 'user_verify'){
                    this.appLayout = false;
                }else{
                    this.appLayout = true;
                }

                if(router.currentRoute.name == 'payroll' || router.currentRoute.name == 'taxes' || router.currentRoute.name == 'loans' || router.currentRoute.name == 'loan_details'){
                    this.payrollDash = true;
                }else if(router.currentRoute.name == 'dashboard'){
                    this.payrollDash = false;
                }else{
                    this.payrollDash = false;
                }

                if(router.currentRoute.name == 'authorization' || router.currentRoute.name == 'logs' || router.currentRoute.name == 'security'){
                    this.secDash = true;
                }else if(router.currentRoute.name == 'dashboard'){
                    this.secDash = false;
                }else{
                    this.secDash = false;
                }

                if(router.currentRoute.name == 'store' || router.currentRoute.name == 'trailers' || router.currentRoute.name == 'horses' || router.currentRoute.name == 'vehicles' || router.currentRoute.name == 'insurance'){
                        this.storeDash = true;
                }else if(router.currentRoute.name == 'dashboard'){
                    this.storeDash = false;
                }else{
                    this.storeDash = false;
                }
            }
            
        }
    }
    
</script>

<style scoped>
    .active{
        display: block;
    }
    .visible{
        display: block;
    }
    .notactive{
        display: none;
    }
    .notvisible{
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 13%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        /*overflow-x: hidden;*/
        /* border-right: 0px solid #e4eaec; */
        background-color: #045463;
        padding-top: 2%;
        padding-left: 0%;
        margin-top: 4%;
        margin-bottom: 3%;
        overflow: auto;
        transition: width 0.5s,
    }

    .side_navigation{
        width: 30%;
    }
    
    .main_content{
        margin-left: 60px;
        padding-top: 0%;
        transition: width 0.5s;
        margin-right: 5%;
        /* max-height: 70%; */
        /* background-color: yellow; */
        /* box-shadow: -5px 0px 5px #045463; */
    }

    .main_content_first{
        width: 100%;
        height: 100%;
    }

    .main_content_margin{
        margin-left: 260px;
        padding-top: 0%;
        margin-right: 5%;
        transition: width 0.5s,
    }

    .btn-sm{
        text-decoration: none;
    }
    
   
    @media only screen and (max-width: 768px) {
        .sidenav {
            height: 84%;
            width: 13%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            /*overflow-x: hidden;*/
            /* border-right: 0px solid #e4eaec; */
            background-color: #045463;
            padding-top: 0%;
            margin-top: 10%;
            margin-bottom: 0%;
            overflow: auto;
            transition: width 2s,
        }

        .sidenav_width{
            width: 60%;
        }

        .side_navigation{
            width: 60%;
        }

        .main_content{
            margin-left: 70px;
            padding-top: 0%;
            margin-top: 5%;
        }

        .main_content_margin{
            margin-left: 70px;
            padding-top: 0%;
            margin-right: 10%;
        }

        
    }

    

    /* @media only screen and (max-width: 768px) {
         .sidenav {
            
        }
    } */
</style>
