<template>
        <router-view></router-view>
</template>

<script>
    export default {
        name: "Main"
    }
</script>

<style scoped>
    
    header{
        height: 15%;
    }

    .card-container{
        width: 100%;
    }
    
</style>