<template>
    <nav class="navbar navbar-expand-lg sticky-top">
        <a class="navbar-brand text-bold" href="" @click="goHome()">
            {{company_name}}
        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" @click="openSideNav()" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="navbar-nav d-flex justify-content-right">
                <a class="" href="#" @click="logout()">
                    <font-awesome-icon icon="sign-out-alt" class="float-left fa-sm mt-1 icon_nav"/>
                        LogOut
                </a>
            </div>
        </div>

    </nav>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import bus from '../../services/eventBusService';
    
    // const storedUser = localStorage.getItem('user');
    // const user = JSON.parse(storedUser ? storedUser : "");
    @Component
    export default class Sidebar extends Vue {
        public company_name: any = "Transportation";
        // protected company_name: string = user.company.name;
        logout(){
            bus.$emit('logout', 'sinout');
        }
        openSideNav(){
            bus.$emit('openSideNavigation', 'sidenav');
        }
        goHome(){
            bus.$emit('navigate', 'dashboard');
        }
        // mounted() {
            
        // }
    }
</script>

<style scoped>
    nav{
        /* background-color: white; */
        /* box-shadow: 0px 5px 10px #045463; */
        background: linear-gradient(to top, #ffffff 30%, #045463 180%);
    }
    .navbar-brand{
        font-family: caladea;
        font-weight: bold;
        font-size: 24px;
        color: #045463;
    }
    a{
        color: #045463;
    }
    a:hover{
        color: #045463;
        text-decoration: none;
    }
    .dropdow_list{
        margin-right: 7%;
    }

    .dropdow{
        margin-right: 16%;
    }
    .dropdown-toggle{
        color: #045463;
    }
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(4, 84, 99, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
</style>
