<template>
    <div class="container">
        <span></span>
        <div class="row">
            <div class="btn-group uk-align-center btn-group-toggle col-7" data-toggle="buttons">
                <label class="btn btn-outline-success">
                    <input type="radio" name="options" id="option2" @click="navigate('loans', 'Loans')"> Loans
                </label>
                <label class="btn btn-outline-warning">
                    <input type="radio" name="options" id="option3" @click="navigate('taxes', 'Taxes')"> Insurance And Taxes
                </label>
                <label class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="option3" @click="navigate('payroll', 'Payroll')"> Payroll Information
                </label>
            </div>
        </div>
        
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import bus from '@/services/eventBusService';
    import router from '../../router/index';

    @Component
    export default class payrollDash extends Vue {
        public requestsName = "";
        navigate(path: any, name:string){
            this.requestsName = "Employees' "+name;
            bus.$emit('navigate', path);
            // router.push({ name: path });
        }

        mounted(){
            if(router.currentRoute.name == 'taxes'){
                this.requestsName = "Employees' Taxes";
            }
            if(router.currentRoute.name == 'loans'){
                this.requestsName = "Employees' Loans";
            }
        }
    }

</script>

<style scoped>
    
    .fa-lg{
        /* color: #364372; */
    }
</style>