<template>
    <div class="container">
        <span></span>
        <div class="row">
            <div class="col-5">
                <h3 class="text-left text-sm">{{requestsName}} Requests</h3>
            </div>
            <div class="btn-group btn-group-toggle col-7" data-toggle="buttons">
                <label class="btn btn-outline-info" >
                    <input type="radio" name="options" id="option1" @click="navigate('expenditure', 'Expenditure')"> Expenditure
                </label>
                <label class="btn btn-outline-warning">
                    <input type="radio" name="options" id="option3" @click="navigate('office', 'Office')"> Office
                </label>
                <label class="btn btn-outline-success">
                    <input type="radio" name="options" id="option2" @click="navigate('trailer', 'Trailer')"> Trailer
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="options" id="option3" @click="navigate('horse', 'Horse')"> Horse
                </label>
                <label class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="option3" @click="navigate('vehicle', 'Vehicle')"> Vehicle
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="option3" @click="navigate('fuel', 'Fuel')"> Fuel
                </label>
            </div>
        </div>
        
    </div>
</template>

<script lang="ts">

    import { Component, Vue } from "vue-property-decorator";
    import router from '../../router/index';

    @Component
    export default class requestDash extends Vue {
        public requestsName: any = "";
        navigate(path: any, name:string){
            this.requestsName = name;
            router.push({ name: path });
        }
    }

</script>

<style scoped>
    
    .fa-lg{
        /* color: #364372; */
    }
</style>