<template>
    <div class="container">
        <span></span>
        <div class="row">
            <div class="col-7">
                <h3 class="text-left text-sm">{{secure}} Configurations</h3>
            </div>
            <div class="btn-group btn-group-toggle col-5" data-toggle="buttons">
                <label class="btn btn-outline-warning" >
                    <input type="radio" name="options" id="option1" @click="navigate('logs', 'Audit Logs')"> Logs
                </label>
                <label class="btn btn-outline-secondary" >
                    <input type="radio" name="options" id="option1" @click="navigate('uses', 'System Users')"> Users
                </label>
                <label class="btn btn-outline-danger">
                    <input type="radio" name="options" id="option3" @click="navigate('authorization', 'Privilege')"> Authorization
                </label>
            </div>
        </div>
        
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import bus from '../../services/eventBusService';
    import router from '../../router/index';

    @Component
    export default class securityDash extends Vue {
        public secure: any = "";
        navigate(path: any, name:string){
            this.secure = name;
            // router.push({ name: path });
            bus.$emit('navigate', path);
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        /* color: #364372; */
    }
</style>