<template>
    <ul class="nav side_navigation w-100">
            <li class="nav-item_1">
                <a class="nav-link text-large text-right float-right angle_left"  @click="openSideNav()" v-show="nav_text">
                    <font-awesome-icon icon="angle-left" class="icon_nav mr-2" size="2x"/>
                </a>
                <a class="nav-link text-large text-right float-right angle_right"  @click="openSideNav()" v-show="!nav_text">
                    <font-awesome-icon icon="angle-right" class="icon_nav mr-2" size="2x"/>
                </a>
            </li>
            <li class="nav-item" v-show="employees">
                <!-- <a class="nav-link text-large"  @click="navigate('employees')"  data-toggle="collapse" data-target="#management" @click="navEmployee()"> -->
                <a class="nav-link text-large"  data-toggle="collapse" data-target="#employees" @click="navEmployees()">
                    <font-awesome-icon icon="users" class="icon_nav mr-2" size=""/>
                    <span class="nav_text" v-show="nav_text">
                        Employees
                    </span>
                    <font-awesome-icon icon="angle-left" class="icon_nav float-right mr-2" size="s" v-show="!nav_employees"/>
                    <font-awesome-icon icon="angle-down" class="icon_nav float-right mr-2" size="s" v-show="nav_employees"/>
                </a>
            </li>
                <ul class="sub-menu  collapse" id="employees" style="list-style: none">
                    <li class="nav-item" v-show="employees">
                        <a class="nav-link text-large"  @click="navigate('employees')">
                            <font-awesome-icon icon="user" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Employees List
                            </span>
                        </a>
                    </li>
                    
                    <li class="nav-item" v-show="_departments">
                        <a class="nav-link text-large"  @click="navigate('department')">
                            <font-awesome-icon icon="user" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Department
                            </span>
                        </a>
                    </li>
                </ul>
            <li class="nav-item" v-show="payroll">
                <a class="nav-link text-large"  @click="navigate('payroll')">
                    <font-awesome-icon icon="user-plus" class="icon_nav mr-2" size=""/>
                    <span class="nav_text" v-show="nav_text">
                        Payroll
                    </span>
                </a>
            </li>
<!--            <li class="nav-item" v-show="request">-->
<!--                <a class="nav-link text-large"  @click="navigate('requests')">-->
<!--                    <font-awesome-icon icon="tasks" class="icon_nav mr-2" size=""/>-->
<!--                    <span class="nav_text" v-show="nav_text">-->
<!--                        Requests-->
<!--                    </span>-->
<!--                </a>-->
<!--            </li>-->

            <li class="nav-item mo-se" data-toggle="collapse" data-target="#request">
                <font-awesome-icon icon="tasks" class="icon_nav mr-2" size=""/>
                <span class="nav_text " v-show="nav_text">
                                Request
                </span>
            </li>
            <ul class="sub-menu collapse" id="request" style="list-style: none">
                <li class="nav-link drp-li">
                    <a v-show="management" @click="navigate('office_requests')">
                        <font-awesome-icon icon="user" class="icon_nav mr-2" size=""/>
                        <span v-show="nav_text">Office</span>
                    </a>
                </li>
                <li class="nav-link drp-li">
                    <a v-show="management" @click="navigate('fuel_register')">
                        <font-awesome-icon icon="user" class="icon_nav mr-2" size=""/>
                        <span v-show="nav_text">Fuel</span>
                    </a>
                </li>
            </ul>
            <!-- <li class="nav-item" v-show="!request">
                <a class="nav-link text-large"  @click="navigate('request')">
                    <font-awesome-icon icon="tasks" class="icon_nav mr-2" size=""/>
                    <span class="nav_text" v-show="nav_text">
                        Request
                    </span>
                </a>
            </li> -->
            <li class="nav-item" v-show="purchase">
                <a class="nav-link text-large"  @click="navigate('purchase')">
                    <font-awesome-icon icon="money-check-alt" class="icon_nav mr-2" size=""/>
                    <span class="nav_text" v-show="nav_text">
                        Purchase
                    </span>
                </a>
            </li>
            <li class="nav-item" v-show="sales">
                <a class="nav-link text-large"  @click="navigate('sales')">
                    <font-awesome-icon icon="money-bill" class="icon_nav mr-2" size=""/>
                    <span class="nav_text" v-show="nav_text">
                        Sales
                    </span>
                </a>
            </li>
            <li class="nav-item" v-show="management">
                <!-- <a class="nav-link text-large"  @click="navigate('management')" data-target="#management" @click="navAccountant()"> -->
                <a class="nav-link text-large" data-toggle="collapse" data-target="#management" @click="navManagemet()">
                    <font-awesome-icon icon="user-cog" class="icon_nav mr-2" size=""/>
                    <span class="nav_text" v-show="nav_text">
                        Management
                    </span>
                    <font-awesome-icon icon="angle-left" class="icon_nav float-right mr-2" size="s" v-show="!nav_management"/>
                    <font-awesome-icon icon="angle-down" class="icon_nav float-right mr-2" size="s" v-show="nav_management"/>
                </a>
            </li>
                <ul class="sub-menu  collapse" id="management" style="list-style: none">
                    <li class="nav-item" v-show="management">
                        <a class="nav-link text-large"  @click="navigate('authorization')">
                            <font-awesome-icon icon="user" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Authorization
                            </span>
                        </a>
                    </li>
                    
                    <li class="nav-item" v-show="_roles">
                        <a class="nav-link text-large"  @click="navigate('roles')">
                            <font-awesome-icon icon="user" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Roles
                            </span>
                        </a>
                    </li>
                </ul>
            <li class="nav-item" v-show="accountant">
                <a class="nav-link text-large" data-toggle="collapse" data-target="#accountant" @click="navAccountant()">
                    <font-awesome-icon icon="user-cog" class="icon_nav mr-2" size=""/>
                    <span class="nav_text" v-show="nav_text">
                        Accountant
                    </span>
                    <font-awesome-icon icon="angle-left" class="icon_nav float-right mr-2" size="s" v-show="!nav_accountant"/>
                    <font-awesome-icon icon="angle-down" class="icon_nav float-right mr-2" size="s" v-show="nav_accountant"/>
                </a>
            </li>
                <ul class="sub-menu  collapse" id="accountant" style="list-style: none">
                    <li class="nav-item" v-show="management">
                        <a class="nav-link text-large"  @click="navigate('debtors')">
                            <font-awesome-icon icon="user" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Debtors
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" v-show="management">
                        <a class="nav-link text-large"  @click="navigate('creditors')">
                            <font-awesome-icon icon="user" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Creditors
                            </span>
                        </a>
                    </li>
                </ul>

            <li class="nav-item" v-show="management">
                <a class="nav-link text-large" data-toggle="collapse" data-target="#store" @click="navStore()">
                    <font-awesome-icon icon="university" class="icon_nav mr-2" size=""/>
                    <span class="nav_text" v-show="nav_text">
                        Store
                    </span>
                    <font-awesome-icon icon="angle-left" class="icon_nav float-right mr-2" size="s" v-show="!nav_store"/>
                    <font-awesome-icon icon="angle-down" class="icon_nav mr-2" size="s" v-show="nav_store"/>
                </a>
            </li>
                <ul class="sub-menu  collapse" id="store" style="list-style: none">
                    <li class="nav-item" v-show="management">
                        <a class="nav-link text-large"  @click="navigate('horse_registration')">
                            <font-awesome-icon icon="truck" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Trucks
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" v-show="management">
                        <a class="nav-link text-large"  @click="navigate('trailer_registration')">
                            <font-awesome-icon icon="trailer" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Trailers
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" v-show="management">
                        <a class="nav-link text-large"  @click="navigate('vehicle_registration')">
                            <font-awesome-icon icon="car" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Vehicles
                            </span>
                        </a>
                    </li>
                </ul>
            <li class="nav-item" v-show="management">
                <a class="nav-link text-large" data-toggle="collapse" data-target="#new" @click="navSettings()">
                    <font-awesome-icon icon="cogs" class="icon_nav mr-2" size=""/>
                    <span class="nav_text" v-show="nav_text">
                        Settings
                    </span>
                    <font-awesome-icon icon="angle-left" class="icon_nav float-right mr-2" size="s" v-show="!nav_settings"/>
                    <font-awesome-icon icon="angle-down" class="icon_nav float-right mr-2" size="s" v-show="!nav_settings"/>
                </a>
            </li>
                <ul class="sub-menu  collapse" id="new" style="list-style: none">
                    <li class="nav-item" v-show="management">
                        <a class="nav-link text-large"  @click="navigate('setting')">
                            <font-awesome-icon icon="home" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Company Profile
                            </span>
                        </a>
                    </li>
                    <li class="nav-item" v-show="management">
                        <a class="nav-link text-large"  @click="navigate('profile')">
                            <font-awesome-icon icon="user" class="icon_nav mr-2" size=""/>
                            <span class="nav_text" v-show="nav_text">
                                Profile
                            </span>
                        </a>
                    </li>
                </ul>

            <!-- <li class="nav-item mo-se" data-toggle="collapse" data-target="#new">
                    <font-awesome-icon icon="cogs" class="icon_nav mr-2" size=""/>
                    <span class="nav_text text-large " v-show="nav_text">
                            Settings
                    </span>
            </li>
            <ul class="sub-menu flex-column collapse" id="new" style="list-style: none">
                <li class="nav-item">
                    <a v-show="management" @click="navigate('setting')">
                        <font-awesome-icon icon="home" class="icon_nav mr-2" size=""/>
                       <span v-show="nav_text"> Company Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a @click="navigate('profile')">
                        <font-awesome-icon icon="user" class="icon_nav mr-2" size=""/>
                       <span v-show="nav_text">Profile</span>
                    </a>
                </li>
            </ul> -->

            <li class="nav-item log_out">
                <a class="nav-link text-large log_out"  @click="logout()">
                    <font-awesome-icon icon="sign-out-alt" class="icon_nav mr-2" size=""/>
                    <span class="nav_text" v-show="nav_text">
                        LogOut
                    </span>
                </a>
            </li>
        </ul>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import router from '../../router/index';
    import Authorize  from '../../services/AuthorizationService';
    import bus from '../../services/eventBusService';

    @Component
    export default class Sidebar extends Vue {
        public employees = false;
        public payroll = false;
        private request = false;
        public nav_text = true;
        public accountant = false;
        public management = false;
        public sales = false;
        public purchase = false;
        private showSideBar = false;
        public nav_accountant = false;
        public nav_store = false;
        public nav_settings = false;
        public nav_employees = false;
        public nav_management = false;
        public _roles = false; 
        public _departments = false;

        navEmployees(){
            if(this.nav_employees === false){
                this.nav_employees = true;
            }else{
                this.nav_employees = false;
            }
        }
        navAccountant(){
            if(this.nav_accountant === false){
                this.nav_accountant = true;
            }else{
                this.nav_accountant = false;
            }
        }

        navStore(){
            if(this.nav_store === false){
                this.nav_store = true;
            }else{
                this.nav_store = false;
            }
        }

        navSettings(){
            if(this.nav_settings === false){
                this.nav_settings = true;
            }else{
                this.nav_settings = false;
            }
        }
        navManagemet(){
            if(this.nav_management === false){
                this.nav_management = true;
            }else{
                this.nav_management = false;
            }
        }
        navigate(path: any){
            bus.$emit('navigate', path);
        }
        logout(){
            bus.$emit('logout', 'sinout');
        }
        showLink(){
            this.payroll = Authorize.authorizeViewRoute('payroll');
            this.request = Authorize.authorizeViewRoute('requests');
            this.accountant = Authorize.authorizeViewRoute('accountant');
            this.management = Authorize.authorizeViewRoute('management');
            this.sales = Authorize.authorizeViewRoute('sales');
            this.purchase = Authorize.authorizeViewRoute('purchase');
            this.employees = Authorize.authorizeViewRoute('employees');
            this._roles = Authorize.authorizeViewRoute('roles');
            this._departments = Authorize.authorizeViewRoute('departments');
        }
        openSideNav(){
            bus.$emit('openSideNavigation', 'sidenav');
            if(this.nav_text == true){
                this.nav_text = false;
                this.nav_employees = true;
                this.nav_accountant = true;
                this.nav_store = true;
                this.nav_settings = true;
                this.nav_management = true;
            }else{
                this.nav_text = true;
                this.nav_employees = false;
                this.nav_accountant = false;
                this.nav_store = false;
                this.nav_settings = false;
                this.nav_management = false;
            }
        }

        created(){
            bus.$on('openSideNavigation', (data: string) => {
                console.log(data);
            })
        }
        mounted(){
            this.showLink();
            
        }
    }
    
    

    
</script>

<style scoped>
    
    .icon_nav{
        margin-top: 0%;
        margin-left: 5%;
         margin-right: 5%;
    }

    .icon_nav a{
        color: white;
    }

    .nav-item{
        width: 100%;
        height: 45px;
        padding-top: 1%; 
        border-bottom: 1px solid #056a7c;
    }
    .nav_text{
        font-size: small;
    }

    .mo-se{
        color: white;
        padding-left: 15px;
        padding-top: 10px;
    }

    
    .nav-link{
        width: 100%;
    }
    .nav-item_1{
        width: 100%;
        height: 3%;
        padding-top: 1%;
        margin-bottom: 2%; 
    }
    .nav-item:hover{
        transform: scale(1, 1.1);
        border-left: 3px solid #e4eaec;
        background-color: #056a7c;
    }
    a{
        color: white;
        font-family: Caladea;
        font-size: 16px;
    }
    a:hover{
        color: white;
    }

     .sub-menu li,
        .sub-menu li {
         background-color: #056a7c;
         color: white;
         padding-left: 3%;
        border: none;
        width:250px;
        line-height: 10px;
    }
    .sub-menu li:hover,
     .sub-menu li:hover {
        transform: scale(1, 1.1);
        border-left: 3px solid #e4eaec;
        background-color: #056a7c;
    }
     .sub-menu li:before,
     .sub-menu li:before {
        display: block;
        padding-left: 0;
    }

     .sub-menu{
         padding-left: 0px;
     }

    .log_out{
        display: none;
    }

   @media only screen and (max-width: 768px) {
   }
    
   @media only screen and (max-width : 991px) {
       .log_out{
            display: block;
        }
    }
    
</style>
