<template>
    <div class="container">
        <span></span>
        <div class="row">
            <div class="col-5">
                <!-- <h3 class="text-left text-sm">{{requestsName}} Store</h3> -->
            </div>
            <div class="btn-group btn-group-toggle col-7" data-toggle="buttons">
                <label class="btn btn-outline-success">
                    <input type="radio" name="options" id="option2" @click="navigate('trailers', 'Trailer')"> Trailers
                </label>
                <label class="btn btn-outline-warning">
                    <input type="radio" name="options" id="option3" @click="navigate('horses', 'Horse')"> Horses
                </label>
                <label class="btn btn-outline-info">
                    <input type="radio" name="options" id="option3" @click="navigate('vehicles', 'Vehicle')"> Vehicles
                </label>
                <label class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="option3" @click="navigate('insurance', 'Insurances')"> Insurances
                </label>
            </div>
        </div>
        
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import bus from '../../services/eventBusService';
    import router from '../../router/index';

    @Component
    export default class requestDash extends Vue {
        public requestsName : any = "";
        navigate(path: any, name:string){
            this.requestsName = name;
            bus.$emit('navigate', path);
        }
        mounted(){
            if(router.currentRoute.name == 'trailers'){
                this.requestsName = 'Trailer';
            }else if(router.currentRoute.name == 'horses'){
                this.requestsName = 'Horse';
            }else if(router.currentRoute.name == 'vehicles'){
                this.requestsName = 'Vehicle';
            }else if(router.currentRoute.name == 'insurances'){
                this.requestsName = 'Insurances';
            }else{
                this.requestsName = '';
            }
        }
    }

</script>

<style scoped>
    
    .fa-lg{
        /* color: #364372; */
    }
</style>