<template>
    <ul class="nav flex-column side_navigation w-100">
            <!-- <li class="nav-item row">
                <font-awesome-icon icon="bars" class="col-4 icon_nav"/>
                <a class="nav-link col-7 text-large" href="#" @click="navigate('landing')">Dashboard</a>
            </li> -->
            <li class="nav-item row">
                <font-awesome-icon icon="users" class="col-4 icon_nav"  @click="navigate('employees')"/>
                <!-- <a class="nav-link col-7 text-large" href="#" @click="navigate('employees')">Employees</a> -->
            </li>
            <!-- <li class="nav-item row">
                <font-awesome-icon icon="truck" class="col-4 icon_nav"/>
                <a class="nav-link col-7 text-large" href="#" @click="navigate('horse')">Horse</a>
            </li> -->
            <!-- <li class="nav-item row">
                <font-awesome-icon icon="trailer" class="col-4 icon_nav"/>
                <a class="nav-link col-7 text-large" href="#" @click="navigate('trailer')">Trailer</a>
            </li> -->
            <li class="nav-item row">
                <font-awesome-icon icon="book-reader" class="col-4 icon_nav" size="fa-5x"/>
                <!-- <a class="nav-link col-7 text-large" href="#" @click="navigate('booking')">Booking</a> -->
            </li>
            <li class="nav-item row">
                <font-awesome-icon icon="tasks" class="col-4 icon_nav"/>
                <!-- <a class="nav-link col-7 text-large" href="#" @click="navigate('requests')">Requests</a> -->
            </li>
            <!-- <li class="nav-item row">
                <font-awesome-icon icon="file-invoice" class="col-4 icon_nav"/>
                <a class="nav-link col-7 text-large" href="#" @click="navigate('expenditure')">Expenditures</a>
            </li> -->
            <li class="nav-item row">
                <font-awesome-icon icon="handshake" class="col-4 icon_nav"/>
                <!-- <a class="nav-link col-7 text-large" href="#" @click="navigate('insurance')">Insurance</a> -->
            </li>
            <li class="nav-item row">
                <font-awesome-icon icon="money-check-alt" class="col-4 icon_nav"/>
                <!-- <a class="nav-link col-7 text-large" href="#" @click="navigate('purchase')">Purchase</a> -->
            </li>
            <li class="nav-item row">
                <font-awesome-icon icon="cash-register" class="col-4 icon_nav"/>
                <!-- <a class="nav-link col-7 text-large" href="#" @click="navigate('nssf')">Nssf</a> -->
            </li>
            <li class="nav-item row">
                <font-awesome-icon icon="money-bill" class="col-4 icon_nav"/>
                <!-- <a class="nav-link col-7 text-large" href="#" @click="navigate('sales')">Sales</a> -->
            </li>
            <li class="nav-item row">
                <font-awesome-icon icon="sign-out-alt" class="col-4 icon_nav log_out"/>
                <!-- <a class="nav-link col-7 text-large log_out" href="#" @click="logout()">LogOut</a> -->
            </li>
            <li class="nav-item row">
                <font-awesome-icon icon="money-bill" class="col-4 icon_nav"/>
                <!-- <a class="nav-link col-7 text-large" href="#" @click="navigate('management')">Management</a> -->
            </li>
        </ul>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import router from '../../router/index';
    import bus from '../../services/eventBusService';

    @Component
    export default class ToggleNav extends Vue {
        public showSideBar:any = false;

        navigate(path: any){
            router.push({ name: path });

        }
        logout(){
            bus.$emit('logout', 'sinout');
        }
        created(){
            bus.$on('openSideNavigation', (data: string) => {
                this.showSideBar = true
            })
        }
    }
</script>

<style scoped>
    
    .icon_nav{
        margin-top: 13px;
        /* color: rgb(122, 122, 122); */
        /* color: #045463; */
        color: white;
    }

    .icon_nav a{
        /* color: #045463; */
        color: white;
    }

    .nav-item{
        padding-top: 2%; 
        /* border-bottom: 1px solid #e4eaec; */
    }

    .nav-item:hover{
        transform: scale(1.1, 1.1);
    }
    a{
        /* color: #045463; */
        color: white;
        font-weight: bold;
        font-family: cursive;
    }
    a:hover{
        color: white;
        /* background-color: cadetblue; */
    }
    

    .log_out{
        display: none;
    }

    
   @media only screen and (max-width : 991px) {
       .log_out{
            display: block;
        }
    }
    
</style>