<template>
    <div class="container">
        <span></span>
        <header class="jumbotron">
            <div class="row">
                <div class="col-4"><h3>Booking</h3></div>
                <div class="col-8">
                    <a class="btn btn_new_booking float-right mr-1 mt-1" data-toggle="modal" href="#newBooking">
                        <font-awesome-icon icon="plus" size="" class="mr-1"/>New
                    </a>
                    <div class="modal fade" id="newBooking" tabindex="-1" aria-labelledby="newBookingLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="newBookingLabel">New Booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <!-- <span aria-hidden="true">&times;</span> -->
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="sender_name">Sender Name</label>
                                        <input
                                            v-model="newBooking.sender_name"
                                            
                                            type="text"
                                            class="form-control"
                                            name="sender_name"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="sender_email">Sender Email</label>
                                        <input
                                            v-model="newBooking.sender_email"
                                            
                                            type="text"
                                            class="form-control"
                                            name="sender_email"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="sender_company">Sender Company</label>
                                        <input
                                            v-model="newBooking.sender_company"
                                            
                                            type="text"
                                            class="form-control"
                                            name="sender_company"
                                        />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="sender_phone">Sender Phone</label>
                                        <input
                                            v-model="newBooking.sender_phone"
                                            
                                            type="text"
                                            class="form-control"
                                            name="sender_phone"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="receiver_name">Receiver Name</label>
                                        <input
                                            v-model="newBooking.receiver_name"
                                            
                                            type="text"
                                            class="form-control"
                                            name="receiver_name"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="receiver_email">Receiver Email</label>
                                        <input
                                            v-model="newBooking.receiver_email"
                                            
                                            type="text"
                                            class="form-control"
                                            name="receiver_email"
                                        />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="receiver_company">Receiver Company</label>
                                        <input
                                            v-model="newBooking.receiver_company"
                                            
                                            type="text"
                                            class="form-control"
                                            name="receiver_company"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="receiver_phone">Receiver Phone</label>
                                        <input
                                            v-model="newBooking.receiver_phone"
                                            
                                            type="text"
                                            class="form-control"
                                            name="receiver_phone"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="cargo_size">Cargo Size</label>
                                        <select 
                                        class="form-control" 
                                        v-model="newBooking.cargo_size"
                                        
                                        >
                                            <option value=""></option>
                                            <option value="Mr">Male</option>
                                            <option value="Mrs">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="from">From</label>
                                        <input
                                            v-model="newBooking.from"
                                            
                                            type="text"
                                            class="form-control"
                                            name="from"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="to">To</label>
                                        <input
                                            v-model="newBooking.to"
                                            
                                            type="text"
                                            class="form-control"
                                            name="to"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="horse_plate_number">Horse</label>
                                        <select 
                                        class="form-control" 
                                        v-model="newBooking.horse_plate_number"
                                        
                                        >
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="trailer_plate_number">Trailer</label>
                                        <select 
                                        class="form-control" 
                                        v-model="newBooking.trailer_plate_number"
                                        
                                        >
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label for="to">Pick Up Point</label>
                                        <input
                                            v-model="newBooking.pick_up_point"
                                            
                                            type="text"
                                            class="form-control"
                                            name="to"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="to">Drop Off Point</label>
                                        <input
                                            v-model="newBooking.drop_off_point"
                                            
                                            type="text"
                                            class="form-control"
                                            name="to"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="transportation_cost">Transportation Cost</label>
                                        <input
                                            v-model="newBooking.transportation_cost"
                                            
                                            type="text"
                                            class="form-control"
                                            name="transportation_cost"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="advanced_payment">Advanced Payment</label>
                                        <input
                                            v-model="newBooking.advanced_payment"
                                            
                                            type="text"
                                            class="form-control"
                                            name="advanced_payment"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="due_payment">Due Payment</label>
                                        <input
                                            v-model="newBooking.due_payment"
                                            
                                            type="text"
                                            class="form-control"
                                            name="due_payment"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <label for="username">Description</label>
                                        <textarea
                                            v-model="bookingChange.description"
                                            rows="4"
                                            class="form-control"
                                            name="description"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" @click="saveBooking">Add Booking</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="card-body">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Sender</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(booking, index) in bookings.data.bookings" :key="booking.id"
                    >
                    <td>
                        {{booking.sender_name}}
                    </td>
                    <!-- <td>
                        {{employee.title}} {{employee.firstName}} {{employee.middleName}} {{employee.lastName}}
                    </td> -->
                    <td>
                        {{booking.receiver_name}}
                    </td>
                    <td>{{booking.from}}</td>
                    <td>{{booking.to}}</td>
                    <td>{{booking.status}}</td>
                    <td>
                        <!-- <a type="button" class="btn btn_status">
                            Status
                            <font-awesome-icon icon="bookmark"/>
                        </a> -->
                        <!-- <span v-tool></span> -->
                    </td>
                    <td>
                        <a class="btn btn_edit" data-toggle="modal" href="#editEmployee" @click="getEditBooking(index)">
                            Edit
                            <font-awesome-icon icon="pen"/>
                        </a>
                        <div class="modal fade" id="editBooking" tabindex="-1" aria-labelledby="editBookingLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editBookingLabel">Edit Booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <!-- <span aria-hidden="true">&times;</span> -->
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="sender_name">Sender Name</label>
                                        <input
                                            v-model="bookingChange.sender_name"
                                            
                                            type="text"
                                            class="form-control"
                                            name="sender_name"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="sender_email">Sender Email</label>
                                        <input
                                            v-model="bookingChange.sender_email"
                                            
                                            type="text"
                                            class="form-control"
                                            name="sender_email"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="sender_company">Sender Company</label>
                                        <input
                                            v-model="bookingChange.sender_company"
                                            
                                            type="text"
                                            class="form-control"
                                            name="sender_company"
                                        />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="sender_phone">Sender Phone</label>
                                        <input
                                            v-model="bookingChange.sender_phone"
                                            
                                            type="text"
                                            class="form-control"
                                            name="sender_phone"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="receiver_name">Receiver Name</label>
                                        <input
                                            v-model="bookingChange.receiver_name"
                                            
                                            type="text"
                                            class="form-control"
                                            name="receiver_name"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="receiver_email">Receiver Email</label>
                                        <input
                                            v-model="bookingChange.receiver_email"
                                            
                                            type="text"
                                            class="form-control"
                                            name="receiver_email"
                                        />
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="receiver_company">Receiver Company</label>
                                        <input
                                            v-model="bookingChange.receiver_company"
                                            
                                            type="text"
                                            class="form-control"
                                            name="receiver_company"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="receiver_phone">Receiver Phone</label>
                                        <input
                                            v-model="bookingChange.receiver_phone"
                                            
                                            type="text"
                                            class="form-control"
                                            name="receiver_phone"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="cargo_size">Cargo Size</label>
                                        <select 
                                        class="form-control" 
                                        v-model="bookingChange.cargo_size"
                                        
                                        >
                                            <option value=""></option>
                                            <option value="Mr">Male</option>
                                            <option value="Mrs">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="from">From</label>
                                        <input
                                            v-model="bookingChange.from"
                                            
                                            type="text"
                                            class="form-control"
                                            name="from"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="to">To</label>
                                        <input
                                            v-model="bookingChange.to"
                                            
                                            type="text"
                                            class="form-control"
                                            name="to"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="horse_plate_number">Horse</label>
                                        <select 
                                        class="form-control" 
                                        v-model="bookingChange.horse_plate_number"
                                        
                                        >
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="trailer_plate_number">Trailer</label>
                                        <select 
                                        class="form-control" 
                                        v-model="bookingChange.trailer_plate_number"
                                        
                                        >
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label for="to">Pick Up Point</label>
                                        <input
                                            v-model="bookingChange.pick_up_point"
                                            
                                            type="text"
                                            class="form-control"
                                            name="to"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="to">Drop Off Point</label>
                                        <input
                                            v-model="bookingChange.drop_off_point"
                                            
                                            type="text"
                                            class="form-control"
                                            name="to"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label for="transportation_cost">Transportation Cost</label>
                                        <input
                                            v-model="bookingChange.transportation_cost"
                                            
                                            type="text"
                                            class="form-control"
                                            name="transportation_cost"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="advanced_payment">Advanced Payment</label>
                                        <input
                                            v-model="bookingChange.advanced_payment"
                                            
                                            type="text"
                                            class="form-control"
                                            name="advanced_payment"
                                        />
                                    </div>
                                    <div class="col-4">
                                        <label for="due_payment">Due Payment</label>
                                        <input
                                            v-model="bookingChange.due_payment"
                                            
                                            type="text"
                                            class="form-control"
                                            name="due_payment"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <label for="username">Description</label>
                                        <textarea
                                            v-model="bookingChange.description"
                                            rows="4"
                                            class="form-control"
                                            name="description"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" @click="updateBooking">Update Booking</button>
                            </div>
                            </div>
                        </div>
                    </div>
                        
                    </td>
                    <td>
                        <a class="btn btn_delete">
                            Cancel
                            <font-awesome-icon icon="trash"/>
                        </a>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import router from '../../router/index';
    import BookingDataService from "../../services/BookingService";
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
    import bus from '../../services/eventBusService';
    import $ from "jquery";


    @Component
    export default class Booking extends Vue {
        public bookings: any = {};
        public currentEmployeeUpdate: any = null;
        public bookingUpdate: any = {};
        public bookingIndex = "";

        // public currentEmployee: any = null;
        // public currentIndex: number = -1;
        public newBooking: any = {
            sender_name: "",
            sender_phone: "",
            sender_company: "",
            sender_email: "",
            receiver_name: "",
            receiver_phone: "",
            receiver_company: "",
            receiver_email: "",
            cargo_size: "",
            from: "",
            to: "",
            horse_plate_number: "",
            trailer_plate_number: "",
            pick_up_point: "",
            drop_off_point: "",
            advanced_payment: "",
            due_payment: "",
            description: "",
            transportation_cost: "",
        };

        public bookingChange: any = {
            sender_name: "",
            sender_phone: "",
            sender_company: "",
            sender_email: "",
            receiver_name: "",
            receiver_phone: "",
            receiver_company: "",
            receiver_email: "",
            cargo_size: "",
            from: "",
            to: "",
            horse_plate_number: "",
            trailer_plate_number: "",
            pick_up_point: "",
            drop_off_point: "",
            advanced_payment: "",
            due_payment: "",
            description: "",
            transportation_cost: "",
        };

        navigate(path: any){
            router.push({ name: path });

        }

        getEditBooking(currentIndex: any){
            this.bookingIndex = currentIndex;
        }

        retrieveBookings() {
            BookingDataService.getAll()
            .then((response) => {
                this.bookings = response;
                console.log(this.bookings);
            })
            .catch((e) => {
                console.log(e);
            });
        }
    
        refreshList() {
            this.retrieveBookings();
            // this.currentEmployee = null;
            // this.currentIndex = -1;
        }
        saveBooking() {
            var data = {
                sender_name: this.newBooking.sender_name,
                sender_mobile_number: this.newBooking.sender_phone,
                sender_company_name: this.newBooking.sender_company,
                sender_email: this.newBooking.sender_email,
                receiver_name: this.newBooking.receiver_name,
                receiver_mobile_number: this.newBooking.receiver_phone,
                receiver_company_name: this.newBooking.receiver_company,
                receiver_email: this.newBooking.receiver_email,
                cargo_size: this.newBooking.cargo_size,
                from: this.newBooking.from,
                to: this.newBooking.to,
                horse_plate_number: this.newBooking.horse_plate_number,
                trailer_plate_number: this.newBooking.trailer_plate_number,
                pick_up_point: this.newBooking.pick_up_point,
                drop_off_point: this.newBooking.drop_off_point,
                advanced_payment: this.newBooking.advanced_payment,
                due_payment: this.newBooking.due_payment,
                description: this.newBooking.description,
                transportation_cost: this.newBooking.transportation_cost,
            };

            BookingDataService.create(data)
            .then((response) => {
                console.log(response.data);
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('Added', 'Booking Added Success', 'success');
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        updateBooking() {
            var data = {
                sender_name: this.bookings.data.bookings[this.bookingIndex].sender_name,
                sender_mobile_number: this.bookings.data.bookings[this.bookingIndex].sender_mobile_number,
                sender_company_name: this.bookings.data.bookings[this.bookingIndex].sender_company_name,
                sender_email: this.bookings.data.bookings[this.bookingIndex].sender_email,
                receiver_name: this.bookings.data.bookings[this.bookingIndex].receiver_name,
                receiver_mobile_number: this.bookings.data.bookings[this.bookingIndex].receiver_mobile_number,
                receiver_company_name: this.bookings.data.bookings[this.bookingIndex].receiver_company_name,
                receiver_email: this.bookings.data.bookings[this.bookingIndex].receiver_email,
                cargo_size: this.bookings.data.bookings[this.bookingIndex].cargo_size,
                from: this.bookings.data.bookings[this.bookingIndex].from,
                to: this.bookings.data.bookings[this.bookingIndex].to,
                horse_plate_number: this.bookings.data.bookings[this.bookingIndex].horse_plate_number,
                trailer_plate_number: this.bookings.data.bookings[this.bookingIndex].trailer_plate_number,
                pick_up_point: this.bookings.data.bookings[this.bookingIndex].pick_up_point,
                drop_off_point: this.bookings.data.bookings[this.bookingIndex].drop_off_point,
                advanced_payment: this.bookings.data.bookings[this.bookingIndex].advanced_payment,
                due_payment: this.bookings.data.bookings[this.bookingIndex].due_payment,
                description: this.bookings.data.bookings[this.bookingIndex].description,
                transportation_cost: this.bookings.data.bookings[this.bookingIndex].transportation_cost,
            }
            BookingDataService.update(this.bookings.data.bookings[this.bookingIndex].id, data)
            .then((response) => {
                console.log(response.data);
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('Updated', 'Booking Updated Success', 'success');
            })
            .catch((e) => {
                console.log(e);
            });
            
        }


        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.retrieveBookings();
        }
    }
</script>

<style scoped>
    .btn_new_booking{
        background-color: #054731a4;
        color: #ffffff;
        font-family: cursive;
    }
</style>
