<template>
    <div class="container-fluid">
        <div>
            <div class="row mb-2">
                <div class="col">
                    <h5 class="font-weight-light p-0 m-0">Booking Cost</h5>
                </div>
                <div class="col">
                    <span class="text-uppercase font-weight-light float-right mr-lg-5">Payment Status: <span class="badge-success">{{Booking.status}}</span></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong class="text-uppercase font-weight-light">Total Cost: </strong> <strong>{{totalAmount}}</strong>
                </div>
                <div class="col">
                    <strong class="text-uppercase font-weight-light">Amount Paid: </strong> <strong>{{totalPaid}}</strong>
                </div>
                <div class="col">
                    <strong class="text-uppercase font-weight-light">Amount Unpaid: </strong> <strong>{{Unpaid}}</strong>
                </div>
            </div>
        </div>
        <hr>
        <div class="mt-5">
            <div class="row">
                <div class="col">
                    <h5 class="font-weight-light p-0 m-0">Payment Record List</h5>
                </div>
                <div class="col">
                    <button class="btn btn-sm btn-outline-primary float-right ml-2" uk-toggle href="#makePayment">
                        Make Payment
                    </button>
                    <div class="uk-flex-top" id="makePayment" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <div class="uk-modal-header">
                                <h5 class="uk-modal-title" id="addHorseLabel">Payment Form</h5>
                            </div>
                            <div class="uk-modal-body" uk-overflow-auto>
                                <form @submit.prevent="createBookingPayment">
                                        <div class="col mb-2" v-if="!totalPaid">
                                            <label>Advance Required</label>
                                            <select class="form-control" name="adv" v-model="newPayment.adv" required>
                                                <option value="">Select your choice</option>
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>
                                        </div>
                                        <div class="col mb-2">
                                            <label>Name Of Payer</label>
                                            <input type="text" class="form-control" name="paid_by" v-model="newPayment.paid_by" placeholder="Paid By" required/>
                                        </div>
                                        <div class="col mb-2">
                                            <label>Currency</label>
                                            <select class="form-control" name="currency" v-model="newPayment.currency" required>
                                                <option value="">Select Currency</option>
                                                <option value="dollar">Dollar</option>
                                                <option value="tsh">Tsh</option>
                                            </select>
                                        </div>
                                        <div class="col mb-2">
                                            <label>Amount Payed</label>
                                            <input type="number" class="form-control" name="amount" v-model="newPayment.amount" placeholder="Amount" required/>
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="btn btn-sm btn-secondary mt-2">Make Payment</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive-sm mt-1">
                <table class="table table-sm table-striped table-hover table-sm">
                    <thead>
                    <tr>
                        <th class="font-weight-normal">Identity</th>
                        <th class="font-weight-normal">Payer</th>
                        <th class="font-weight-normal">Currency</th>
                        <th class="font-weight-normal">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="payment in payments" :key="payment.id">
                        <td class="font-weight-lighter">{{payment.identity}}</td>
                        <td class="font-weight-lighter">{{payment.paid_by}}</td>
                        <td class="font-weight-lighter">{{payment.currency}}</td>
                        <td class="font-weight-lighter">{{payment.amount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</template>

<script lang="ts">
    import { Component, Prop,Vue } from "vue-property-decorator";
    import SalesDataService from "../../services/Sales";
    import bus from '../../services/eventBusService';
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
    import router from '../../router/index';
    import UIkit from 'uikit';
    import $ from 'jquery';

    @Component
    export default class Payment extends Vue{
        @Prop({required: true}) readonly id: any;
        public Booking: any = {};
        public payments: any = {};
        public totalAmount: any = {};
        public totalPaid: any = {};
        public Unpaid: any = {};
        public newPayment: any = {
            paid_by: "",
            currency: "",
            amount: "",
            adv: "",
        }

        viewBooking() {
            SalesDataService.viewBooking(this.id)
            .then((response) => {
                // console.log(response.data)
                this.Booking = response.data.booking
                this.totalAmount = response.data.total_amount
                this.totalPaid = response.data.total_paid
                this.Unpaid = response.data.unpaid
            }).catch((e) => {
                console.log(e)
            })
        }

        BookingPayments(){
            SalesDataService.viewBookingPayments(this.id)
            .then((response) => {
                this.payments = response.data
            }).catch((e) => {
                console.log(e)
            })
        }

        createBookingPayment(){
            var data = {
                paid_by: this.newPayment.paid_by,
                currency: this.newPayment.currency,
                amount: this.newPayment.amount,
                adv: this.newPayment.adv,
            };
            SalesDataService.saveBookingPayments(this.id, data)
            .then((response) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.viewBooking();
                this.BookingPayments()
                if(response.status =="success"){
                    this.$swal('Added', 'Payment Success', 'success');
                }else{
                    this.$swal('failed', 'Payment not Success', 'info');
                }
            }).catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e)
            });
        }

        refreshPage() {
            this.viewBooking();
            this.BookingPayments()
        }

        mounted(){
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.viewBooking()
            this.BookingPayments()
        }
    }
</script>
