<template>
    <div class="container-fluid">
        <div>
            <h4 class="font-weight-light">Cargo Details</h4>
            <div>
                <div class="row">
                    <div class="col m-0">
                        <ul class="uk-list-striped none-list p-0">
                            <li class="font-weight-light"><small>Cargo Size: </small><small class="font-weight-light">{{cargo.cargo_size}}</small></li>
                            <li class="font-weight-light"><small>Sender Name: </small><small class="font-weight-light">{{cargo.sender_name}}</small></li>
                            <li class="font-weight-light"><small>Sender Email: </small><small class="font-weight-light">{{cargo.sender_email}}</small></li>
                            <li class="font-weight-light"><small>Sender phone: </small><small class="font-weight-light">{{cargo.sender_mobile_number}}</small></li>
                        </ul>
                    </div>
                    <div class="col m-0">
                        <ul class="uk-list-striped none-list p-0">
                            <li class="font-weight-light"><small>Receiver Name: </small><small class="font-weight-light">{{cargo.receiver_name}}</small></li>
                            <li class="font-weight-light"><small>Receiver Email: </small><small class="font-weight-light">{{cargo.receiver_email}}</small></li>
                            <li class="font-weight-light"><small>Receiver Phone: </small><small class="font-weight-light">{{cargo.receiver_mobile_number}}</small></li>
                            <li class="font-weight-light"><small>Receiver Company: </small><small class="font-weight-light">{{cargo.receiver_company_name}}</small></li>
                        </ul>
                    </div>
                    <div class="col m-0">
                        <ul class="uk-list-striped none-list p-0">
                            <li class="font-weight-light"><small>Description: </small><small class="font-weight-light">{{cargo.description}}</small></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="row">
               <div class="col">
                   <h4 class="font-weight-light">Booking Details</h4>
               </div>
               <div class="col">
                   <div>
                       <button v-show="addBooking" class="btn btn-sm btn-outline-primary float-right" uk-tooltip="add booking" uk-toggle href="#addBooking">
                           <font-awesome-icon icon="plus" size="30" class="fa-sm"/>Add</button>
                   </div>
                   <div class="uk-flex-top" id="addBooking" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <div class="uk-modal-header">
                                <h5 class="uk-modal-title" id="addHorseLabel">New Booking</h5>
                            </div>
                            <div class="uk-modal-body" uk-overflow-auto>
                                <form @submit.prevent="saveBooking">
                                    <div class="row mt-2 mb-2">
                                        <div class="col-6">
                                            <label for="size" class="">From</label>
                                            <input type="text" class="form-control mt-2" name="from" v-model="newBooking.from"/>
                                        </div>

                                        <div class="col-6">
                                            <label for="username" class="">To</label>
                                            <input type="text" class="form-control mt-2" name="to" v-model="newBooking.to"/>
                                        </div>
                                    </div>

                                        <div class="row mt-2">
                                        <div class="col-6">
                                            <label for="size" class="">Pick Up Point</label>
                                            <input type="text" class="form-control mt-2" name="pick_up_point" v-model="newBooking.pick_up_point"/>
                                        </div>

                                        <div class="col-6">
                                            <label for="username" class="">Drop Of Point</label>
                                            <input type="text" class="form-control mt-2" name="drop_off_point" v-model="newBooking.drop_off_point"/>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-6">
                                            <label for="size" class="">Horse Plate Number</label>
                                            <input type="text" class="form-control mt-2" name="horse_plate_number" v-model="newBooking.horse_plate_number"/>
                                        </div>

                                        <div class="col-6">
                                            <label for="username" class="">Trailer Plate Number</label>
                                            <input type="text" class="form-control mt-2" name="trailer_plate_number" v-model="newBooking.trailer_plate_number"/>
                                        </div>
                                    </div>

                                    <div class="mt-2">
                                        <label for="size" class="">Transportation Cost</label>
                                        <input type="number" class="form-control mt-2" name="transportation_cost" v-model="newBooking.transportation_cost"/>
                                    </div>

                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-outline-success">Add Booking</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
               </div>
            </div>

            <div class="table-responsive-sm">
                <table class="table table-sm table-hover table-striped table-bordered">
                    <thead >
                    <tr>
                        <th class="font-weight-normal">From</th>
                        <th class="font-weight-normal">To</th>
                        <th class="font-weight-normal">Pick Up Point</th>
                        <th class="font-weight-normal">Drop Of Point</th>
                        <th class="font-weight-normal">Horse</th>
                        <th class="font-weight-normal">Trailer</th>
                        <th class="font-weight-normal">Total Cost</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="!addBooking">
                        <td class="font-weight-light"> {{ booking.from }} </td>
                        <td class="font-weight-light"> {{ booking.to }} </td>
                        <td class="font-weight-light"> {{ booking.pick_up_point }} </td>
                        <td class="font-weight-light"> {{ booking.drop_off_point }} </td>
                        <td class="font-weight-light"> {{ booking.horse_plate_number }} </td>
                        <td class="font-weight-light"> {{ booking.trailer_plate_number }} </td>
                        <td class="font-weight-light"> {{ booking.transportation_cost }} </td>
                        <td class="flex">

<!--                            modal to edit booking-->
                            <button class="btn btn-sm btn-outline-warning" uk-tooltip="edit" uk-toggle href="#editBooking" @click="getEditBooking">
                                <font-awesome-icon icon="pen" class="fa-sm"/>
                            </button>
                            <div class="uk-flex-top" id="editBooking" uk-modal>
                                <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Edit Booking</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <form @submit.prevent="editBook">
                                            <div class="row mt-2 mb-2">
                                                <div class="col-6">
                                                    <label for="size" class="">From</label>
                                                    <input type="text" class="form-control mt-2" name="from" v-model="bookingChange.from"/>
                                                </div>

                                                <div class="col-6">
                                                    <label for="username" class="">To</label>
                                                    <input type="text" class="form-control mt-2" name="to" v-model="bookingChange.to"/>
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-6">
                                                    <label for="size" class="">Pick Up Point</label>
                                                    <input type="text" class="form-control mt-2" name="pick_up_point" v-model="bookingChange.pick_up_point"/>
                                                </div>

                                                <div class="col-6">
                                                    <label for="username" class="">Drop Of Point</label>
                                                    <input type="text" class="form-control mt-2" name="drop_off_point" v-model="bookingChange.drop_off_point"/>
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-6">
                                                    <label for="size" class="">Horse Plate Number</label>
                                                    <input type="text" class="form-control mt-2" name="horse_plate_number" v-model="bookingChange.horse_plate_number"/>
                                                </div>

                                                <div class="col-6">
                                                    <label for="username" class="">Trailer Plate Number</label>
                                                    <input type="text" class="form-control mt-2" name="trailer_plate_number" v-model="bookingChange.trailer_plate_number"/>
                                                </div>
                                            </div>

                                            <div class="mt-2">
                                                <label for="size" class="">Transportation Cost</label>
                                                <input type="number" class="form-control mt-2" name="transportation_cost" v-model="bookingChange.transportation_cost"/>
                                            </div>

                                            <div class="mt-2">
                                                <button type="submit" class="btn btn-outline-success">Edit Booking</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

<!--                            end of modal-->

                            <button class="btn btn-sm btn-outline-danger ml-2" uk-tooltip="delete" uk-toggle href="#deleteBooking">
                                <font-awesome-icon icon="trash" class="fa-sm"/>
                            </button>
                            <div class="uk-flex-top" id="deleteBooking" uk-modal>
                                <div class="uk-modal-dialog">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Warning</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        Are you Sure you want to delete ?
                                    </div>
                                    <div class="uk-modal-footer">
                                        <button type="button" class="btn btn-outline-warning btn-sm" uk-close>No</button>
                                        <button type="button" class="btn btn-outline-danger btn-sm" @click="eraseBooking">Yes</button>
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-5">
            <router-link :to="{name: 'booking_payments', params: { id: booking.id}}">
           <button  v-if="!addBooking" class="btn btn-outline-success btn-sm float-right" uk-tooltip="make payments">
               <font-awesome-icon icon="money-bill" size="30" class="fa-sm"/>
               Payments</button>
            </router-link>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop,Vue } from "vue-property-decorator";
    import SalesDataService from "../../services/Sales";
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
    import router from '../../router/index';
    import bus from '../../services/eventBusService';
    import UIkit from 'uikit';
    import $ from 'jquery';

    @Component
    export default class Cargo extends Vue{
        public cargo: any = {};
        public bookingUpdate: any = {};
        public bookingDelete: any = {};
        public booking: any = {};
        public addBooking = true;
        @Prop({required: true}) readonly id: any;
        public newBooking: any = {
            from: "",
            to: "",
            pick_up_point: "",
            drop_off_point: "",
            horse_plate_number: "",
            trailer_plate_number: "",
            transportation_cost: "",
        };

        public bookingChange: any = {
            from: "",
            to: "",
            pick_up_point: "",
            drop_off_point: "",
            horse_plate_number: "",
            trailer_plate_number: "",
            transportation_cost: "",
        }

        viewCargo(){
            SalesDataService.viewCargo(this.id)
                .then((response) => {
                    this.cargo = response.data;
                }).catch((e) => {
                    console.log(e)
            })
        }

        CargoBooking(){
            SalesDataService.viewCargoBooking(this.id)
            .then((response) => {
                this.booking = response.data;
                if(response.status == 'empty'){
                  this.addBooking = true;
                }else{
                    this.addBooking = false;
                }
            }).catch((e) => {
                console.log(e)
            })
        }

        saveBooking() {
            var data = {
                from: this.newBooking.from,
                to: this.newBooking.to,
                pick_up_point: this.newBooking.pick_up_point,
                drop_off_point: this.newBooking.drop_off_point,
                horse_plate_number: this.newBooking.horse_plate_number,
                trailer_plate_number: this.newBooking.trailer_plate_number,
                transportation_cost: this.newBooking.transportation_cost,
            };
            SalesDataService.SaveBooking(data, this.id)
            .then((response) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                if(response.status =="success"){
                    this.$swal('Success', 'Booking Added Success', 'success');
                    this.refreshPage();
                }else{
                    this.$swal('Failed', 'Booking not Added', 'error');
                    this.viewCargo();
                    this.CargoBooking()
                }
            }).catch((e) => {
                console.log(e)
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                this.viewCargo();
                this.CargoBooking()
            });
        }

        getEditBooking(){
            this.bookingChange.from = this.booking.from;
            this.bookingChange.to = this.booking.to;
            this.bookingChange.pick_up_point = this.booking.pick_up_point;
            this.bookingChange.drop_off_point = this.booking.drop_off_point;
            this.bookingChange.horse_plate_number = this.booking.horse_plate_number;
            this.bookingChange.transportation_cost = this.booking.transportation_cost;
            this.bookingChange.trailer_plate_number = this.booking.trailer_plate_number;
        }

        editBook(){
            var data = {
                from: this.bookingChange.from,
                to: this.bookingChange.to,
                pick_up_point: this.bookingChange.pick_up_point,
                drop_off_point: this.bookingChange.drop_off_point,
                horse_plate_number: this.bookingChange.horse_plate_number,
                trailer_plate_number: this.bookingChange.trailer_plate_number,
                transportation_cost: this.bookingChange.transportation_cost,
            };
            SalesDataService.EditBooking(data, this.booking.id)
            .then((response) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.bookingUpdate = response;
                this.$swal('Updated', 'Booking Updated Success', 'success');
                
                this.viewCargo();
                this.CargoBooking()
            }).catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            })
        }

        eraseBooking(){
            SalesDataService.deleteBooking(this.booking.id)
            .then((response) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.bookingDelete = response;
                this.$swal('Deleted', 'Booking Deleted Success', 'info');
                this.viewCargo();
                this.CargoBooking()
            }).catch((e) => {
                this.viewCargo();
                this.CargoBooking()
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            })
        }

        refreshPage() {
            this.viewCargo();
            this.CargoBooking()
        }

        mounted(){
            // if(AuthorizeUserStatus.auth()){
            //     setTimeout(function(){
            //         router.push({ name: 'user_verify' }).catch(err => {});
            //     }.bind(this), 2000);
            // }
            this.viewCargo()
            this.CargoBooking()
        }
    }

</script>

<style>
    .none-list {
        list-style: none;
    }
</style>
