<template>
    <div class="container">
        <span></span>
        <!-- <div class="row _header mt-0 ml-3">
            <div class="col-lg-7 col-md-4 col-sm-3">
                <h4 class="text-left">Roles</h4>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3 float-lg-right float-md-left float-sm-right">
                   <button type="button" class="btn btn-outline-secondary" @click="navigate('employees')">Employees</button>      
            </div>
            <div class="col-lg-2 col-md-4 col-sm-3 float-lg-right float-md-left float-sm-right">
                   <button type="button" class="btn btn-outline-secondary" @click="navigate('roles')">Roles</button>      
            </div>
        </div> -->
        <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-11">
                        <h5 class="text-left">Departments List</h5>
                    </span>
                    <span class="col-1 pr-0">
                        <a class="float-right mr-1 mt-1 btn btn-sm btn-outline-primary" uk-tooltip="Create New Department" uk-toggle href="#addRole">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </span>
                </div>
                <div class="uk-flex-top" id="addRole" uk-modal>
                    <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Role</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row w-75 ml-5 mr-5">
                                <label for="username">Name</label>
                                    <input
                                        v-model="newDepartment.name"
                                        
                                        type="text"
                                        class="form-control"
                                        name="name"
                                    />
                            </div>
                        </div>
                        <div class="uk-modal-footer">
                            <button type="button" class="btn btn-primary" @click="saveDepartment">Add Department</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <!-- <th scope="col"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(department, index) in departments" :key="department.id"
                        >
                            <td>{{department.name}}</td>
                            <td>
                                <a class="mr-3 btn btn-sm btn-outline-success" uk-tooltip="Edit" uk-toggle href="#editDepartment" @click="getEditDepartment(index)">
                                    <font-awesome-icon icon="pen"/>
                                </a>
                                <div class="uk-flex-top" id="editDepartment" uk-modal>
                                    <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header">
                                            <h5 class="uk-modal-title" id="addHorseLabel">Edit Department</h5>
                                        </div>
                                        <div class="uk-modal-body" uk-overflow-auto>
                                            <div class="row w-75 ml-5 mr-5">
                                                <label for="username">Name</label>
                                                    <input
                                                        v-model="departmentChange.name"
                                                        
                                                        type="text"
                                                        class="form-control"
                                                        name="name"
                                                    />
                                            </div>
                                        </div>
                                        <div class="uk-modal-footer">
                                            <button type="button" class="btn btn-primary" @click="updateDepartment">Update Department</button>
                                        </div>
                                    </div>
                                </div> 
                                
                                <a class="btn btn-sm btn-outline-danger" uk-tooltip="Delete" @click="removeDepartment(index)">
                                    <font-awesome-icon icon="trash"/>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Departments Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import router from '../../router/index';
import DepartmentDataService from "../../services/DepartmentService";
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
import Authorize  from '../../services/AuthorizationService';
import bus from '../../services/eventBusService';
import $ from 'jquery';
import UIkit from 'uikit';

@Component
export default class Department extends Vue {
    public departments: any = {};
    public departmentIndex = "";
    public departmentSave: any = {};
    public updatedDepartment: any = {};
    public deletedDepartment: any = {};
    public newDepartment: any = {
        name: "",
    };

    public departmentChange: any = {
        name: "",
    };
    public json_data: any = {};
    public json_fields: any = {
        name: "name",
    };

    navigate(path: any){
        // router.push({ name: path });
        bus.$emit('navigate', path);
    }

    getEditDepartment(currentIndex: any){
        this.departmentIndex = currentIndex;
        this.departmentChange.name = this.departments[this.departmentIndex].name;
    } 

    saveDepartment() {
        if(!Authorize.authorizeCreateRoute('departments')){
            bus.$emit('block', 'auth');
        }
        var data = {
            name: this.newDepartment.name,
        };

        DepartmentDataService.create(data)
        .then((response) => {
            console.log(response.data);
            this.departmentSave = response;
            $( ".uk-modal-close-default" ).trigger( "click" );
            this.$swal('Success', 'Department Added Success', 'success');
            this.retrieveDepartments();
        })
        .catch((e) => {
            $( ".uk-modal-close-default" ).trigger( "click" );
            this.$swal('Error', 'Something went wrong', 'error');
            console.log(e);
        });
        
    }

    retrieveDepartments() {
        DepartmentDataService.getAll()
        .then((response) => {
            this.departments = response.data.departments;
            this.json_data = this.departments;
            console.log(this.departments);
        })
        .catch((e) => {
            console.log(e);
        });
    }

    refreshList() {
        this.retrieveDepartments();
    }

    updateDepartment(){
        if(!Authorize.authorizeUpdateRoute('departments')){
            bus.$emit('block', 'auth');
        }
        var data = {
                name: this.departments[this.departmentIndex].name,
            };

        DepartmentDataService.update(this.departments[this.departmentIndex].id, data)
        .then((response) => {
            console.log(response.data);
            this.updatedDepartment = response;
            $( ".uk-modal-close-default" ).trigger( "click" );
            this.$swal('Updated', 'Department Updated Success', 'info');
            this.retrieveDepartments();
        })
        .catch((e) => {
            $( ".uk-modal-close-default" ).trigger( "click" );
            this.$swal('Error', 'Ooops something went wrong', 'error');
            console.log(e);
        });
    }

    removeDepartment(i: any) {
        if(!Authorize.authorizeDeleteRoute('departments')){
            bus.$emit('block', 'auth');
        }
        DepartmentDataService.delete(this.departments[i].id)
        .then((response) => {
            console.log(response.data);
            this.deletedDepartment = response;
            this.$swal('Deleted', 'Department Deleted Success', 'info');
            this.retrieveDepartments();
        })
        .catch((e) => {
            $( ".uk-modal-close-default" ).trigger( "click" );
            this.$swal('error', 'Something went wrong', 'error');
            console.log(e);
        });
        
    }

    mounted() {
        if(AuthorizeUserStatus.auth()){
            setTimeout(function(){
                router.push({ name: 'user_verify' });
            }.bind(this), 2000);
        }
        this.retrieveDepartments();
    }
}
</script>

<style scoped>
    
    .fa-lg{
        /* color: #364372; */
    }
    ._header{

    }
</style>
