<template>
    <div class="container">
        <!-- <div class="row _header mt-0 ml-3">
            <div class="col-lg-6 col-sm-3">
                <h4 class="text-left">Employees</h4>
            </div>
            <div class="col-lg-2 col-sm-3 float-lg-right float-md-left float-sm-left">
                   <button type="button" class="btn btn-outline-secondary" @click="navigate('payroll')" v-show="_roles">Payroll</button>      
            </div>
            <div class="col-lg-2 col-sm-3 float-lg-right float-md-left float-sm-left">
                   <button type="button" class="btn btn-outline-secondary" @click="navigate('roles')" v-show="_roles">Roles</button>      
            </div>
            <div class="col-lg-2 col-sm-3 float-lg-right float-md-left float-sm-left">
                   <button type="button" class="btn btn-outline-secondary" @click="navigate('department')" v-show="_departments">Departments</button>      
            </div>
        </div> -->
        <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-5">
                        <h5 class="text-left">Employees List</h5>
                    </span>
                    <div class="col-5">
                        <!-- <div class="row">
                            <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" uk-toogle href="#addPayroll">
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a>
                        </div> -->
                    </div>
                    <span class="col-2 pr-0">
                        <a class="btn float-right btn-sm btn-outline-primary mr-1 mt-1" uk-tooltip="Create New Employee" uk-toggle href="#addEmployee">
                            <font-awesome-icon icon="plus" size="" class="mr-1"/>
                        </a>
                    </span>
                </div>
                <div class="uk-flex-top" id="addEmployee" uk-modal>
                    <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Employee</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="username">Title:</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newEmployee.title"
                                    
                                    >
                                        <option value="">Select Title</option>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Ms">Ms</option>
                                        <option value="Dr">Dr</option>
                                        <option value="Prof">Prof</option>
                                        <option value="Sr">Sr</option>
                                        <option value="Sir">Sir</option>
                                        <option value="Madam">Madam</option>
                                        <option value="Hon">Hon</option>
                                        <option value="Eng">Eng</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">First Name:</label>
                                    <input
                                        v-model="newEmployee.firstName"
                                        
                                        type="text"
                                        class="form-control"
                                        name="firstName"
                                    />
                                </div>

                            </div>
                             <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="username">Middle Name:</label>
                                    <input
                                        v-model="newEmployee.middleName"
                                        
                                        type="text"
                                        class="form-control"
                                        name="middleName"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">Last Name:</label>
                                    <input
                                        v-model="newEmployee.lastName"
                                        
                                        type="text"
                                        class="form-control"
                                        name="lastName"
                                    />
                                </div>
                                
                            </div>
                             <div class="row">
                                 <div class="col-6">
                                    <label class="w-100" for="username">Date of Birth:</label>
                                    <input
                                        v-model="newEmployee.date_of_birth"
                                        
                                        type="date"
                                        class="form-control"
                                        name="date_of_birth"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">Gender:</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newEmployee.gender"
                                    
                                    >
                                        <option value=""></option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="username">Department:</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newEmployee.department"
                                    
                                    >
                                        <option value=""></option>
                                        <option 
                                        v-for="department in departments.data.departments" 
                                        :key="department.id" 
                                        :value="department.id"
                                        >
                                            {{department.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">Role:</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newEmployee.role"
                                    
                                    >
                                        <option 
                                        v-for="role in roles.data.roles" 
                                        :key="role.id" 
                                        :value="role.id"
                                        >
                                            {{role.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="username">Email:</label>
                                    <input
                                        v-model="newEmployee.email"
                                        
                                        type="email"
                                        class="form-control"
                                        name="email"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">Address:</label>
                                    <input
                                        v-model="newEmployee.address"
                                        
                                        type="text"
                                        class="form-control"
                                        name="address"
                                    />
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="username">Phone Number:</label>
                                    <input
                                        v-model="newEmployee.phone_number"
                                        type="text"
                                        class="form-control"
                                        name="phone_number"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">Default Password:</label>
                                    <input
                                        v-model="newEmployee.default_password"
                                        
                                        type="password"
                                        class="form-control"
                                        name="default_password"
                                    />
                                </div>
                                
                            </div>
                            
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="ipf_no">IPF Number:</label>
                                    <input
                                        v-model="newEmployee.ipf_no"
                                        type="text"
                                        class="form-control"
                                        name="ipf_no"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="nida_no">Nida Number:</label>
                                    <input
                                        v-model="newEmployee.nida_no"
                                        type="number"
                                        class="form-control"
                                        name="nida_no"
                                    />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="username">Bank Account Number:</label>
                                    <input
                                        v-model="newEmployee.bank_ac_no"
                                        type="text"
                                        class="form-control"
                                        name="bank_ac_no"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="salary">Salary:</label>
                                    <input
                                        v-model="newEmployee.salary"
                                        type="number"
                                        class="form-control"
                                        name="salary"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="begining_of_contract">Beginning Of Contract:</label>
                                    <input
                                        v-model="newEmployee.begining_of_contract"
                                        type="date"
                                        class="form-control"
                                        name="bank_ac_no"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="end_of_contract">End Of Contract:</label>
                                    <input
                                        v-model="newEmployee.end_of_contract"
                                        type="date"
                                        class="form-control"
                                        name="end_of_contract"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="work_palces">Work Places Bio :</label>
                                    <textarea
                                        v-model="newEmployee.work_places"
                                        rows="4"
                                        class="form-control"
                                        name="work_palces"
                                    ></textarea>
                                    
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="work_experience">Work Experience Bio :</label>
                                    <textarea
                                        v-model="newEmployee.work_experience"
                                        rows="4"
                                        class="form-control"
                                        name="work_experience"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer">
                            <button type="button" class="btn btn-primary" @click="saveEmployee">Add Employee</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light  text-small">
                        <!-- <th scope="col">#</th> -->
                        <th class="font-weight-light  text-small" scope="col"></th>
                        <th class="font-weight-light  text-small" scope="col">Name</th>
                        <th class="font-weight-light  text-small" scope="col">Email</th>
                        <th class="font-weight-light  text-small" scope="col">Phone</th>
                        <th class="font-weight-light  text-small" scope="col">status</th>
                        <th class="font-weight-light  text-small" scope="col"></th>
                        <th class="font-weight-light  text-small" scope="col"></th>
                        <th class="font-weight-light  text-small" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light  text-small"
                            v-for="(employee, index) in employees" :key="employee.id"
                        >
                        <td class="font-weight-bold">{{index + 1}}.</td>
                        <td class="text-small">
                            {{employee.title}} {{employee.firstName}} {{employee.middleName}} {{employee.lastName}}
                        </td>
                        <td class="text-small">{{employee.phone_number}}
                        </td>
                        <td class="text-small">{{employee.email}}
                        </td>
                        <td class="text-small">{{employee.status}}</td>
                        <td class="text-small">
                            <a class="btn btn-sm btn-outline-warning" uk-toggle uk-tooltip="view" href="#requestModal" @click="getEditEmployee(index)">
                                
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="uk-flex-top" id="requestModal" uk-modal>
                                <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Employee</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Title:</label>
                                                <span class="">
                                                    {{employeeChange.title}} {{employeeChange.firstName}} {{employeeChange.middleName}} {{employeeChange.lastName}}
                                                    </span>
                                                
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Date of Birth:</label>
                                                <span class="">
                                                    {{employeeChange.date_of_birth}}
                                                    </span>
                                            </div>

                                        </div><hr/>
                                        <div class="row mt-3">
                                            <div class="col-4">
                                                <label class="w-100" for="username">Department:</label>
                                                <span class="">
                                                    {{employeeChange.department}}
                                                    </span>
                                                
                                            </div>
                                            <div class="col-4">
                                                <label class="w-100" for="username">Role:</label>
                                                <span class="">
                                                    {{employeeChange.role}}
                                                    </span>
                                            </div>
                                            <div class="col-4">
                                                <label class="w-100" for="username">Gender:</label>
                                                <span class="">
                                                    {{employeeChange.gender}}
                                                    </span>
                                            </div>
                                        </div>
                                        
                                        <hr/>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Email:</label>
                                                <span class="">
                                                    {{employeeChange.email}}
                                                    </span>
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Address:</label>
                                                <span class="">
                                                    {{employeeChange.address}}
                                                    </span>
                                            </div>
                                            
                                        </div>
                                        <hr/>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Phone Number:</label>
                                                <span class="">
                                                    {{employeeChange.phone_number}}
                                                    </span>
                                                    
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="ipf_no">IPF Number:</label>
                                                <span class="">
                                                    {{employeeChange.ipf_no}}
                                                    </span>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row mt-3">
                                            
                                            <div class="col-6">
                                                <label class="w-100" for="nida_no">Nida Number:</label>
                                                <span class="">
                                                    {{employeeChange.nida_no}}
                                                    </span>
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Bank Account Number:</label>
                                                <span class="">
                                                    {{employeeChange.bank_ac_no}}
                                                    </span>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row mt-3">
                                            
                                            <div class="col-6">
                                                <label class="w-100" for="salary">Salary:</label>
                                                <span class="">
                                                    {{employeeChange.salary}}
                                                    </span>
                                               
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="begining_of_contract">Beginning Of Contract:</label>
                                                <span class="">
                                                    {{employeeChange.begining_of_contract}}
                                                    </span>
                                               
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row mt-3">
                                            
                                            <div class="col-6">
                                                <label class="w-100" for="end_of_contract">End Of Contract:</label>
                                                <span class="">
                                                    {{employeeChange.end_of_contract}}
                                                    </span>
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="work_palces">Work Places Bio :</label>
                                                <span class="">
                                                    {{employeeChange.work_places}}
                                                    </span>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row mt-3">
                                            
                                            <div class="col-8">
                                                <label class="w-100" for="work_experience">Work Experience Bio :</label>
                                                <span class="">
                                                    {{employeeChange.work_experience}}
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer">
                                        <!-- <a class="btn btn-outline-secondary float-right" @click="employeeStatus(index, 'Suspend')">
                                            Suspend
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-outline-danger float-right" @click="employeeStatus(index, 'Terminate')">
                                            Terminate
                                            <font-awesome-icon icon="times"/>
                                        </a> -->
                                        <a class="btn btn-outline-success float-right" @click="allowSystem('Allow System')" v-show="!systemUsing">
                                            Allow System Use
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                        <a class="btn btn-outline-warning float-right" @click="allowSystem('Not Allowed')" v-show="systemUsing">
                                            Disalllow System Use
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-success" uk-tooltip="Edit" uk-toggle href="#editEmployee" @click="getEditEmployee(index)">
                                
                                <font-awesome-icon icon="pen"/>
                            </a>
                            <div class="uk-flex-top" id="editEmployee" uk-modal>
                                <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Edit Employee</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Title:</label>
                                                <select 
                                                class="form-control" 
                                                v-model="employeeChange.title"
                                                
                                                >
                                                    <option 
                                                    :value="employeeChange.title" 
                                                    selected="selected">
                                                    {{employeeChange.title}}
                                                    </option>

                                                    
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Ms">Ms</option>
                                                    <option value="Dr">Dr</option>
                                                    <option value="Prof">Prof</option>
                                                    <option value="Sr">Sr</option>
                                                    <option value="Sir">Sir</option>
                                                    <option value="Madam">Madam</option>
                                                    <option value="Hon">Hon</option>
                                                    <option value="Eng">Eng</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">First Name:</label>
                                                <input
                                                    v-model="employeeChange.firstName"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="firstName"
                                                />
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Middle Name:</label>
                                                <input
                                                    v-model="employeeChange.middleName"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="middleName"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Last Name:</label>
                                                <input
                                                    v-model="employeeChange.lastName"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="lastName"
                                                />
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Date of Birth:</label>
                                                <input
                                                    v-model="employeeChange.date_of_birth"
                                                    
                                                    type="date"
                                                    class="form-control"
                                                    name="date_of_birth"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Gender:</label>
                                                <select 
                                                class="form-control" 
                                                v-model="employeeChange.gender"
                                                
                                                >
                                                    <option value=""></option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Department:</label>
                                                <select 
                                                class="form-control" 
                                                v-model="employeeChange.department"
                                                
                                                >
                                                    <option 
                                                    :value="employeeChange.department" 
                                                    selected="selected">
                                                    {{employeeChange.department}}
                                                    </option>
                                                    <option 
                                                    v-for="department in departments.data.departments" 
                                                    :key="department.name" 
                                                    :value="department.name"
                                                    >
                                                        {{department.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Role:</label>
                                                <select 
                                                class="form-control" 
                                                v-model="employeeChange.role"
                                                
                                                >
                                                    <option 
                                                    :value="employeeChange.role" 
                                                    selected="selected">
                                                    {{employeeChange.role}}
                                                    </option>
                                                    <option 
                                                    v-for="role in roles.data.roles" 
                                                    :key="role.name" 
                                                    :value="role.name"
                                                    >
                                                        {{role.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Email:</label>
                                                <input
                                                    v-model="employeeChange.email"
                                                    
                                                    type="email"
                                                    class="form-control"
                                                    name="email"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Address:</label>
                                                <input
                                                    v-model="employeeChange.address"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="address"
                                                />
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Phone Number:</label>
                                                <input
                                                    v-model="employeeChange.phone_number"
                                                    type="text"
                                                    class="form-control"
                                                    name="phone_number"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="ipf_no">IPF Number:</label>
                                                <input
                                                    v-model="employeeChange.ipf_no"
                                                    type="text"
                                                    class="form-control"
                                                    name="ipf_no"
                                                />
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="nida_no">Nida Number:</label>
                                                <input
                                                    v-model="employeeChange.nida_no"
                                                    type="number"
                                                    class="form-control"
                                                    name="nida_no"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Bank Account Number:</label>
                                                <input
                                                    v-model="employeeChange.bank_ac_no"
                                                    type="text"
                                                    class="form-control"
                                                    name="bank_ac_no"
                                                />
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="salary">Salary:</label>
                                                <input
                                                    v-model="employeeChange.salary"
                                                    type="number"
                                                    class="form-control"
                                                    name="salary"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="begining_of_contract">Beginning Of Contract:</label>
                                                <input
                                                    v-model="employeeChange.begining_of_contract"
                                                    type="date"
                                                    class="form-control"
                                                    name="bank_ac_no"
                                                />
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="end_of_contract">End Of Contract:</label>
                                                <input
                                                    v-model="employeeChange.end_of_contract"
                                                    type="date"
                                                    class="form-control"
                                                    name="end_of_contract"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="work_palces">Work Places Bio :</label>
                                                <textarea
                                                    v-model="employeeChange.work_places"
                                                    rows="4"
                                                    class="form-control"
                                                    name="work_palces"
                                                ></textarea>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-8">
                                                <label class="w-100" for="work_experience">Work Experience Bio :</label>
                                                <textarea
                                                    v-model="employeeChange.work_experience"
                                                    rows="4"
                                                    class="form-control"
                                                    name="work_experience"
                                                ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer">
                                        <button type="button" class="btn btn-primary" @click="updateEmployee">Update Employee</button>
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success text-small"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Employees Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
    import { Component, Vue } from "vue-property-decorator";
    import router from '../../router/index';
    import { namespace } from "vuex-class"; 
    import EmployeeDataService from "../../services/EmployeeService";
    import DepartmentDataService from "../../services/DepartmentService";
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
    import RoleDataService from "../../services/RoleService";
    import Authorize  from '../../services/AuthorizationService';
    import Pagination  from '../../services/paginationService';
    import bus from '../../services/eventBusService';
    import $ from 'jquery';
    import UIkit from 'uikit';
    const Auth = namespace("Auth");


    
    @Component
    export default class Employee extends Vue {
        public _roles = false; 
        public _departments = false;
        public employeesData: any = {};
        public employees: any = {};
        public searchvalues: any = {};
        public departments: any = {};
        public roles: any = {};
        public currentEmployeeUpdate: any = null;
        public employeeUpdate: any = {};
        public employeeSave: any = {};
        
        public employeeIndex = "";
        public systemUsing = true;
        public newEmployee: any = {
            title: "",
            firstName: "",
            middleName: "",
            lastName: "",
            date_of_birth: "",
            gender: "",
            email: "",
            address: "",
            phone_number: "",
            role: "",
            department: "",
            default_password: "",
            ipf_no: "",
            nida_no: "",
            bank_ac_no: "",
            salary: "",
            begining_of_contract: "",
            end_of_contract: "",
            work_places: "",
            work_experience: "",
        };

        public employeeChange: any = {
            title: "",
            firstName: "",
            middleName: "",
            lastName: "",
            date_of_birth: "",
            gender: "",
            email: "",
            address: "",
            phone_number: "",
            role: "",
            department: "",
            ipf_no: "",
            nida_no: "",
            bank_ac_no: "",
            salary: "",
            begining_of_contract: "",
            end_of_contract: "",
            work_places: "",
            work_experience: "",
        };
        public json_data: any = {};
        public json_fields: any = {
            title: "title",
            firstName: "firstName",
            middleName: "middleName",
            lastName: "lastName",
            date_of_birth: "date_of_birth",
            gender: "gender",
            email: "email",
            address: "address",
            phone_number: "phone_number",
            role: "role",
            department: "department",
            status: "status",
        };

        // Pagination
        public start: any = 0;
        public end: any = 4;
        public paginationSize: any = 5;
        public paginationlinks: any = [0];
        public next = false;
        public previous = false;
        public clickNavigation: any = "";


        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }


        setPagination(){
            Pagination.setPagination(this.employees, this.previous, this.next, this.start, this.end, this.paginationSize, this.paginationlinks);
            Pagination.setlinks(this.employees, this.previous, this.next, this.start, this.end, this.paginationSize, this.paginationlinks);
        }

        search(event: any){
            var search = event.target.value;
            console.log(event.target.value);
            for(var i = 0; i < this.employees.length; i++){
                if(
                        this.employees[i].title.toLowerCase().includes(search.toLowerCase())
                    ||  this.employees[i].firstName.toLowerCase().includes(search.toLowerCase())
                    ||  this.employees[i].middleName.toLowerCase().includes(search.toLowerCase())
                    ||  this.employees[i].lastName.toLowerCase().includes(search.toLowerCase())
                    ||  this.employees[i].email.toLowerCase().includes(search.toLowerCase())
                    ||  this.employees[i].phone_number.toLowerCase().includes(search.toLowerCase())
                    ){
                        this.searchvalues.push(this.employees[i]);
                }
                this.searchvalues.push(this.employees[i]);
            }
            this.employees = this.searchvalues;

            console.log(this.searchvalues);
        }
        
        navigate(path: any){
            // router.push({ name: path });
            bus.$emit('navigate', path);
        }

        showLink(){
            this._roles = Authorize.authorizeViewRoute('roles');
            this._departments = Authorize.authorizeViewRoute('departments');
        }

        getEditEmployee(currentIndex: any){
            // bus.$emit('success', 'Poa poa');
            // this.Modal = true;
            this.employeeIndex = currentIndex;
            this.employeeChange.title = this.employees[currentIndex].title;
            this.employeeChange.firstName = this.employees[currentIndex].firstName;
            this.employeeChange.middleName = this.employees[currentIndex].middleName;
            this.employeeChange.lastName = this.employees[currentIndex].lastName;
            this.employeeChange.date_of_birth = this.employees[currentIndex].date_of_birth;
            this.employeeChange.gender = this.employees[currentIndex].gender;
            this.employeeChange.email = this.employees[currentIndex].email;
            this.employeeChange.address = this.employees[currentIndex].address;
            this.employeeChange.phone_number = this.employees[currentIndex].phone_number;
            this.employeeChange.role = this.employees[currentIndex].role;
            this.employeeChange.department = this.employees[currentIndex].department;
            this.employeeChange.ipf_no = this.employees[currentIndex].ipf_no;
            this.employeeChange.nida_no = this.employees[currentIndex].nida_no;
            this.employeeChange.bank_ac_no = this.employees[currentIndex].bank_ac_no;
            this.employeeChange.salary = this.employees[currentIndex].salary;
            this.employeeChange.begining_of_contract = this.employees[currentIndex].begining_of_contract;
            this.employeeChange.end_of_contract = this.employees[currentIndex].end_of_contract;
            this.employeeChange.work_places = this.employees[currentIndex].work_places;
            this.employeeChange.work_experience = this.employees[currentIndex].work_experience;
            this.employeeChange.system_using = this.employees[currentIndex].system_using;
            if(this.employeeChange.system_using == 'Allow System'){
                this.systemUsing = true;
            }else{
                this.systemUsing = false;
            }
        }

        retrieveEmployees() {
            EmployeeDataService.getAll()
            .then((response) => {
                this.employees = response.data.employees;
                this.json_data = this.employees;
                this.setPagination();
                console.log(this.employees);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveRoles() {
            RoleDataService.getAll()
            .then((response) => {
                this.roles = response;
                console.log(this.roles);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveDepartments() {
            DepartmentDataService.getAll()
            .then((response) => {
                this.departments = response;
                console.log(this.departments);
            })
            .catch((e) => {
                console.log(e);
            });
        }
    
        refreshList() {
            this.retrieveEmployees();
            this.retrieveRoles();
            this.retrieveDepartments();
        }
        saveEmployee() {
            if(!Authorize.authorizeCreateRoute('employees')){
                bus.$emit('block', 'auth');
            }
            // bus.$emit('startProgress');
            var data = {
                title: this.newEmployee.title,
                firstName: this.newEmployee.firstName,
                middleName: this.newEmployee.middleName,
                lastName: this.newEmployee.lastName,
                date_of_birth: this.newEmployee.date_of_birth,
                gender: this.newEmployee.gender,
                email: this.newEmployee.email,
                address: this.newEmployee.address,
                phone_number: this.newEmployee.phone_number,
                role: this.newEmployee.role,
                department: this.newEmployee.department,
                default_password: this.newEmployee.default_password,
                ipf_no:  this.newEmployee.ipf_no,
                nida_no: this.newEmployee.nida_no,
                bank_ac_no: this.newEmployee.bank_ac_no,
                salary: this.newEmployee.salary,
                begining_of_contract: this.newEmployee.begining_of_contract,
                end_of_contract: this.newEmployee.end_of_contract,
                work_places: this.newEmployee.work_places,
                work_experience: this.newEmployee.work_experience,
            };
            
            console.log(data);

            EmployeeDataService.create(data)
            .then((response) => {
                console.log(response);
                this.employeeSave = response;
                UIkit.modal('#addEmployee').hide();
                // bus.$emit('endProgress');
                $( ".uk-modal-close-default" ).trigger( "click" );
                if(response.status =="success"){
                    this.$swal('Added', 'Added Success', 'success');
                }else{
                    this.$swal('Failed', 'Not Added', 'success');
                }
                this.refreshList();
                // const elem = this.$refs.myBtn
                // elem.click()
                // this.submitted = true;
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        updateEmployee() {
            // this.Modal = false;
            if(!Authorize.authorizeUpdateRoute('employees')){
                bus.$emit('block', 'auth');
            }
            var data = {
                title: this.employeeChange.title,
                firstName: this.employeeChange.firstName,
                middleName: this.employeeChange.middleName,
                lastName: this.employeeChange.lastName,
                date_of_birth: this.employeeChange.date_of_birth,
                gender: this.employeeChange.gender,
                email: this.employeeChange.email,
                address: this.employeeChange.address,
                phone_number: this.employeeChange.phone_number,
                role: this.employeeChange.role,
                department: this.employeeChange.department,
                // default_password: this.employeeChange.default_password,
                ipf_no:  this.employeeChange.ipf_no,
                nida_no: this.employeeChange.nida_no,
                bank_ac_no: this.employeeChange.bank_ac_no,
                salary: this.employeeChange.salary,
                begining_of_contract: this.employeeChange.begining_of_contract,
                end_of_contract: this.employeeChange.end_of_contract,
                work_places: this.employeeChange.work_places,
                work_experience: this.employeeChange.work_experience,
            };
            console.log(data);
            EmployeeDataService.update(this.employees[this.employeeIndex].id, data)
            .then((response) => {
                console.log(response.data);
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.employeeUpdate = response;
                if(response.status =="success"){
                    this.$swal('Updated', 'Employee Updated Success', 'success');
                    // bus.$emit('success', response.data.message);
                }else{
                    this.$swal('Failed', 'Employee not updated', 'warning');
                }
                this.refreshList();
                // this.submitted = true;
            })
            .catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            });
            
        }

        allowSystem(statusValue: any){
            var data = {
                status: statusValue
            }

            EmployeeDataService.changeEmployeeSystemUsing(this.employees[this.employeeIndex].id, data)
            .then((response) => {
                console.log(response.data);
                
                // $('#editEmployee').modal("hide");
                // this.employeeUpdate = response;
                // bus.$emit('success', this.employeeUpdate.data.message);
                if(response.status =="success"){
                    // bus.$emit('success', response.data.message);
                    this.$swal('Success', 'Granted user', 'success');
                }else{
                     // bus.$emit('failed', response.data.message);
                    this.$swal('Failed', 'Not Granted', 'warning');
                }
                this.refreshList();
                this.getEditEmployee(this.employeeIndex);
                // this.submitted = true;
            })
            .catch((e) => {
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            });
        }


        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    // router.push({ name: 'user_verify' }).catch(err => {});
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.showLink();
            this.retrieveEmployees();
            this.retrieveRoles();
            this.retrieveDepartments();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        color: #364372;
    }

    .btn_status{
        background-color: #f0ff19;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_delete{
        background-color: #ff1952;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_edit{
        background-color: #054731;
        color: #ffffff;
        font-family: cursive;
    }
    
    .btn_new{
        background-color: #054731a4;
        color: #ffffff;
        font-family: cursive;
    }
    
</style>
