<template>
    <div class="container-fluid">
        <h5>user profile</h5>
        <div class="mt-2">
            <div class="row">
                <div class="col-3">
                    <div class="card card-body card-back">
                        <span class="font-weight-bold">Contract</span>
                        <div>
                            <small>start :</small> <span class="font-weight-light font-italic">{{employee.begining_of_contract}}</span>
                        </div>
                        <div>
                            <small>end :</small> <span class="font-weight-light font-italic">{{employee.end_of_contract}}</span>
                        </div>
                        <span class="font-weight-bold">Current Salary</span>
                        <div>
                            <span class="font-weight-light font-italic">{{employee.salary}}</span>
                        </div>
                        <span class="font-weight-bold">Work</span>
                        <div>
                            <small>places :</small> <span class="font-weight-light font-italic">{{employee.work_places}}</span>
                        </div>
                        <div>
                            <small>experience :</small> <span class="font-weight-light font-italic">{{employee.work_experience}}</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-body py-2 px-2">
                        <div class="row">
                            <div class="col">
                                <ul class="uk-list-striped none-list p-0">
                                    <li class="font-weight-light"><small>Title: </small><small class="font-weight-light">{{employee.title}}</small></li>
                                    <li class="font-weight-light"><small>First Name: </small><small class="font-weight-light">{{employee.firstName}}</small></li>
                                    <li class="font-weight-light"><small>Middle Name: </small><small class="font-weight-light">{{employee.middleName}}</small></li>
                                    <li class="font-weight-light"><small>Last Name: </small><small class="font-weight-light">{{employee.lastName}}</small></li>
                                    <li class="font-weight-light"><small>Phone Number: </small><small class="font-weight-light">{{employee.phone_number}}</small></li>
                                    <li class="font-weight-light"><small>Email: </small><small class="font-weight-light">{{employee.email}}</small></li>
                                    <li class="font-weight-light"><small>Address: </small><small class="font-weight-light">{{employee.address}}</small></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="uk-list-striped none-list p-0">
                                    <li class="font-weight-light"><small>Gender: </small><small class="font-weight-light">{{employee.gender}}</small></li>
                                    <li class="font-weight-light"><small>Role: </small><small class="font-weight-light">{{employee.role}}</small></li>
                                    <li class="font-weight-light"><small>Date Of Birth: </small><small class="font-weight-light">{{employee.date_of_birth}}</small></li>
                                    <li class="font-weight-light"><small>Department: </small><small class="font-weight-light">{{employee.department}}</small></li>
                                    <li class="font-weight-light"><small>Nida No: </small><small class="font-weight-light">{{employee.nida_no}}</small></li>
                                    <li class="font-weight-light"><small>Bank Acc: </small><small class="font-weight-light">{{employee.bank_ac_no}}</small></li>
                                    <li class="font-weight-light"><small>Emp. Number: </small><small class="font-weight-light">{{employee.employee_no}}</small></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <button class="btn btn-sm btn-outline-warning" uk-toggle href="#editUser" @click="getEditUser">
                                <font-awesome-icon icon="pen" size="30" class="fa-sm mr-2"/>Change User Details</button>

                            <div class="uk-modal-overflow uk-flex-top " id="editUser" uk-modal>
                                <div class="uk-modal-dialog uk-margin-auto-vertical uk-border-circle uk-width-3-4">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>
                                    <div class="uk-modal-header">
                                        <h2 class="uk-modal-title">Edit {{employee.title}} {{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</h2>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <form @submit.prevent="UpdateUser">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <div>
                                                        <label>Title</label>
                                                        <select class="uk-input" v-model="userChange.title" name="title">
                                                            <option value="">Select Title</option>
                                                            <option value="Mr">Mr</option>
                                                            <option value="Mrs">Mrs</option>
                                                            <option value="Ms">Ms</option>
                                                            <option value="Dr">Dr</option>
                                                            <option value="Prof">Prof</option>
                                                            <option value="Sr">Sr</option>
                                                            <option value="Sir">Sir</option>
                                                            <option value="Madam">Madam</option>
                                                            <option value="Hon">Hon</option>
                                                            <option value="Eng">Eng</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <label class="w-100" for="username">First Name:</label>
                                                    <input type="text" class="uk-input" name="firstName" v-model="userChange.firstName"/>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col">
                                                    <label class="w-100" for="username">Middle Name:</label>
                                                    <input type="text" class="uk-input" name="middleName" v-model="userChange.middleName"/>
                                                </div>
                                                <div class="col">
                                                    <label class="w-100" for="username">Last Name:</label>
                                                    <input type="text" class="uk-input" name="lastName" v-model="userChange.lastName"/>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col">
                                                    <label class="w-100" for="username">Phone Number:</label>
                                                    <input type="text" class="uk-input" name="phone_number" v-model="userChange.phone_number"/>
                                                </div>
                                                <div class="col">
                                                    <label class="w-100" for="username">Email:</label>
                                                    <input type="email" class="uk-input" name="email" v-model="userChange.email"/>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col">
                                                    <label class="w-100" for="username">Address:</label>
                                                    <input type="text" class="uk-input" name="address" v-model="userChange.address"/>
                                                </div>
                                                <div class="col">
                                                    <label class="w-100" for="username">Gender:</label>
                                                    <select class="uk-input"  v-model="userChange.gender" name="gender">
                                                        <option value=""></option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col">
                                                    <label class="w-100" for="nida_no">Nida Number:</label>
                                                    <input type="number" class="uk-input" name="nida_no" v-model="userChange.nida_no"/>
                                                </div>
                                                <div class="col">
                                                    <label class="w-100" for="username">Bank Account Number:</label>
                                                    <input type="text" class="uk-input" name="bank_ac_no" v-model="userChange.bank_ac_no"/>
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col">
                                                    <label class="w-100" for="ipf_no">IPF Number:</label>
                                                    <input type="text" class="uk-input" name="ipf_no" v-model="userChange.ipf_no"/>
                                                </div>
                                                <div class="col">
                                                    <label class="w-100" for="username">Date of Birth:</label>
                                                    <input type="date" class="uk-input" name="date_of_birth" v-model="userChange.date_of_birth"/>
                                                </div>
                                            </div>

                                            <div class="mt-3">
                                                <button type="submit" class="btn btn-primary btn-sm" >Change</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <button class="btn btn-sm btn-outline-secondary" uk-toggle href="#editPassword">
                                <font-awesome-icon icon="pen" size="30" class="fa-sm mr-2"/>Change User Password</button>

                            <div class="uk-modal-overflow uk-flex-top " id="editPassword" uk-modal>
                                <div class="uk-modal-dialog uk-margin-auto-vertical">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>
                                    <div class="uk-modal-header p-2 m-2">
                                        <h2 class="uk-modal-title p-0 m-0">New Password</h2>
                                    </div>
                                        <div class="uk-modal-body p-2 m-2">
                                            <form @submit.prevent="changePassword">
                                            <div>
                                                <label>New Password</label>
                                                <input type="password" class="uk-input mt-1" name="new_password" v-model="passChange.new_password" required/>
                                            </div>

                                            <div>
                                                <label>Confirm Password</label>
                                                <input type="password" class="uk-input mt-1" name="confirm" v-model="passChange.confirm" required/>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary btn-sm mt-2">Change</button>
                                            </div>
                                            </form>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import ProfileDataService from "../../services/profileService";
    import router from '../../router/index';
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
    import $ from 'jquery';
    import UIkit from 'uikit';

    @Component
    export default class Profile extends Vue{
        public employee: any = {};
        public userUpdate: any = {};
        public userChange : any = {
            title: "",
            firstName: "",
            middleName: "",
            lastName: "",
            date_of_birth: "",
            gender: "",
            email: "",
            address: "",
            phone_number: "",
            ipf_no: "",
            nida_no: "",
            bank_ac_no: "",
        }

        public passChange: any = {
            new_password: "",
            confirm: "",
        }

        changePassword(){
            var data = {
                new_password: this.passChange.new_password,
                confirm: this.passChange.confirm,
            };
            ProfileDataService.changePass(data).then((response) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.refreshPage()
                if(response.status =="success"){
                    this.$swal('Success', 'Password Change Success', 'success');
                }else{
                    this.$swal('Failed', 'Password not changed', 'error');
                }
            }).catch((e) => {
                this.refreshPage()
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            })
        }

        getEditUser(){
            this.userChange.title = this.employee.title;
            this.userChange.firstName = this.employee.firstName;
            this.userChange.middleName = this.employee.middleName;
            this.userChange.lastName = this.employee.lastName;
            this.userChange.date_of_birth = this.employee.date_of_birth;
            this.userChange.gender = this.employee.gender;
            this.userChange.email = this.employee.email;
            this.userChange.address = this.employee.address;
            this.userChange.phone_number = this.employee.phone_number;
            this.userChange.ipf_no = this.employee.ipf_no;
            this.userChange.nida_no = this.employee.nida_no;
            this.userChange.bank_ac_no = this.employee.bank_ac_no;
        }

        UpdateUser(){
            var data = {
                title: this.userChange.title,
                firstName: this.userChange.firstName,
                middleName: this.userChange.middleName,
                lastName: this.userChange.lastName,
                date_of_birth: this.userChange.date_of_birth,
                gender: this.userChange.gender,
                email: this.userChange.email,
                address: this.userChange.address,
                phone_number: this.userChange.phone_number,
                ipf_no: this.userChange.ipf_no,
                nida_no: this.userChange.nida_no,
                bank_ac_no: this.userChange.bank_ac_no,
            };
            ProfileDataService.editProfile(data).then((response) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                // this.userUpdate = response;
                this.refreshPage()
                if(response.status =="success"){
                    this.$swal('Success', 'Details Updated Success', 'success');
                }else{
                    this.$swal('Failed', 'Details not changed', 'error');
                }
            }).catch((e) => {
                this.refreshPage()
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            })
        }

        refreshPage() {
            this.viewProfile();
        }

        viewProfile(){
            ProfileDataService.userProfile().then((response) => {
                this.employee = response.data.employee;
            }).catch((e) => {
                console.log(e);
            })
        }

        mounted(){
            this.viewProfile();
        }

    }
</script>
<style>
    .card-back {
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
        background-color: rgba(0,0,0,0.2);
        transition: 0.3s;}

    .none-list {
        list-style: none;
    }
</style>
