<template>
    <div class="container">
        <span></span>
        <div class="row _header mt-0 ml-3">
            <div class="col-8">
                <h4 class="text-left">purchases</h4>
            </div>
            <!-- <div class="col-2 float-lg-right float-md-left float-sm-left">
                   <button type="button" class="btn btn-outline-secondary" @click="navigate('roles')">Roles</button>      
            </div>
            <div class="col-2 float-lg-right float-md-left float-sm-left">
                   <button type="button" class="btn btn-outline-secondary" @click="navigate('department')">Departments</button>      
            </div> -->
        </div>
        <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-10">
                        <h5 class="text-left">purchases List</h5>
                    </span>
                    <span class="col-2 pr-0">
                        <a class="btn float-right btn-sm btn-outline-primary mr-1 mt-1" uk-tooltip="Create New purchase" uk-toggle href="#addpurchase">
                            <font-awesome-icon icon="plus" size="" class="mr-1"/>
                        </a>
                    </span>
                </div>
                <div class="uk-flex-top" id="addpurchase" uk-modal>
                    <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Purchase</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                
                                <div class="col-6">
                                    <label class="w-100" for="username">Supplier Name:</label>
                                    <input
                                        v-model="newpurchase.supplier_name"
                                        
                                        type="text"
                                        class="form-control"
                                        name="supplier_name"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">Supplier Vnr:</label>
                                    <input
                                        v-model="newpurchase.supplier_vnr"
                                        
                                        type="text"
                                        class="form-control"
                                        name="supplier_vnr"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-6">
                                    <label class="w-100" for="username">Invoice Number:</label>
                                    <input
                                        v-model="newpurchase.invoice_number"
                                        
                                        type="text"
                                        class="form-control"
                                        name="invoice_number"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">Date Of Invoice:</label>
                                    <input
                                        v-model="newpurchase.date_of_invoice"
                                        
                                        type="date"
                                        class="form-control"
                                        name="date_of_invoice"
                                    />
                                </div>
                            </div>
                             
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="vat_amount">Vat Amount:</label>
                                    <input
                                        v-model="newpurchase.vat_amount"
                                        type="number"
                                        class="form-control"
                                        name="vat_amount"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="vat">Vat:</label>
                                    <input
                                        v-model="newpurchase.vat"
                                        type="number"
                                        class="form-control"
                                        name="vat"
                                    />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100" for="vat_amount">Amount:</label>
                                    <input
                                        v-model="newpurchase.amount"
                                        type="number"
                                        class="form-control"
                                        name="amount"
                                    />
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="username">Description:</label>
                                    <textarea
                                        v-model="newpurchase.description"
                                        class="form-control"
                                        name="description"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer">
                            <button type="button" class="btn btn-primary" @click="savepurchase">Add purchase</button>
                        </div>
                    </div>
                </div>
                 
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <!-- <th scope="col">#</th> -->
                        <th class="font-weight-light" scope="col">Supplier</th>
                        <th class="font-weight-light" scope="col">Amount</th>
                        <th class="font-weight-light" scope="col">status</th>
                        <th class="font-weight-light" scope="col"></th>
                        <th class="font-weight-light" scope="col"></th>
                        <th class="font-weight-light" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(purchase, index) in purchases" :key="purchase.id"
                        >
                        <!-- <td>{{purchase.name}}</td> -->
                        <td>
                            {{purchase.supplier_name}}
                        </td>
                        <td> {{purchase.amount}}
                        </td>
                        <td>{{purchase.status}}</td>
                        <!-- <td>
                            <a type="button" class="btn btn_status" @click="viewpurchase">
                                Block
                                <font-awesome-icon icon="ban"/>
                            </a>
                            
                        </td> -->
                        <!-- <td>
                            <a class="btn btn-sm btn-outline-warning" data-toggle="modal" uk-tooltip="view" data-target="#requestModal" @click="getEditpurchase(index)">
                                
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">purchase</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Title:</label>
                                                <span class="">
                                                    {{purchaseChange.title}} {{purchaseChange.supplier_name}} {{purchaseChange.supplier_vnr}} {{purchaseChange.invoice_number}}
                                                    </span>
                                                
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Date of Birth:</label>
                                                <span class="">
                                                    {{purchaseChange.date_of_invoice}}
                                                    </span>
                                            </div>

                                        </div><hr/>
                                        <div class="row mt-3">
                                            <div class="col-4">
                                                <label class="w-100" for="username">Department:</label>
                                                <span class="">
                                                    {{purchaseChange.department}}
                                                    </span>
                                                
                                            </div>
                                            <div class="col-4">
                                                <label class="w-100" for="username">Role:</label>
                                                <span class="">
                                                    {{purchaseChange.role}}
                                                    </span>
                                            </div>
                                            <div class="col-4">
                                                <label class="w-100" for="username">Gender:</label>
                                                <span class="">
                                                    {{purchaseChange.gender}}
                                                    </span>
                                            </div>
                                        </div>
                                        
                                        <hr/>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Email:</label>
                                                <span class="">
                                                    {{purchaseChange.email}}
                                                    </span>
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Address:</label>
                                                <span class="">
                                                    {{purchaseChange.address}}
                                                    </span>
                                            </div>
                                            
                                        </div>
                                        <hr/>
                                        <div class="row mt-3">
                                            <div class="col-6">
                                                <label class="w-100" for="username">Phone Number:</label>
                                                <span class="">
                                                    {{purchaseChange.amount}}
                                                    </span>
                                                    
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="vat_amount">IPF Number:</label>
                                                <span class="">
                                                    {{purchaseChange.vat_amount}}
                                                    </span>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row mt-3">
                                            
                                            <div class="col-6">
                                                <label class="w-100" for="vat">Nida Number:</label>
                                                <span class="">
                                                    {{purchaseChange.vat}}
                                                    </span>
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Bank Account Number:</label>
                                                <span class="">
                                                    {{purchaseChange.description}}
                                                    </span>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row mt-3">
                                            
                                            <div class="col-6">
                                                <label class="w-100" for="salary">Salary:</label>
                                                <span class="">
                                                    {{purchaseChange.salary}}
                                                    </span>
                                               
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="begining_of_contract">Beginning Of Contract:</label>
                                                <span class="">
                                                    {{purchaseChange.begining_of_contract}}
                                                    </span>
                                               
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row mt-3">
                                            
                                            <div class="col-6">
                                                <label class="w-100" for="end_of_contract">End Of Contract:</label>
                                                <span class="">
                                                    {{purchaseChange.end_of_contract}}
                                                    </span>
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="work_palces">Work Places Bio :</label>
                                                <span class="">
                                                    {{purchaseChange.work_places}}
                                                    </span>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row mt-3">
                                            
                                            <div class="col-8">
                                                <label class="w-100" for="work_experience">Work Experience Bio :</label>
                                                <span class="">
                                                    {{purchaseChange.work_experience}}
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn_ban float-right" @click="purchaseStatus(index, 'Suspend')">
                                            Suspend
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn_allow float-right" @click="purchaseStatus(index, 'Terminate')">
                                            Terminate
                                            <font-awesome-icon icon="times"/>
                                        </a>
                                        <a class="btn btn_allow float-right" @click="allowSystem('Allow System')" v-show="!systemUsing">
                                            Allow System Use
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                        <a class="btn btn_allow float-right" @click="allowSystem('Not Allowed')" v-show="systemUsing">
                                            Disalllow System Use
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td> -->
                        <td>
                            <a class="btn btn-sm btn-outline-success" uk-tooltip="Edit" uk-toggle href="#editpurchase" @click="getEditpurchase(index)">
                                
                                <font-awesome-icon icon="pen"/>
                            </a>
                            <div class="uk-flex-top" id="editpurchase" uk-modal>
                                <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title" id="addHorseLabel">Edit Purchase</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <div class="row">
                                
                                            <div class="col-6">
                                                <label class="w-100" for="username">Supplier Name:</label>
                                                <input
                                                    v-model="newpurchase.supplier_name"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="supplier_name"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Supplier Vnr:</label>
                                                <input
                                                    v-model="purchaseChange.supplier_vnr"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="supplier_vnr"
                                                />
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                            <div class="col-6">
                                                <label class="w-100" for="username">Invoice Number:</label>
                                                <input
                                                    v-model="purchaseChange.invoice_number"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="invoice_number"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Date Of Invoice:</label>
                                                <input
                                                    v-model="purchaseChange.date_of_invoice"
                                                    
                                                    type="date"
                                                    class="form-control"
                                                    name="date_of_invoice"
                                                />
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="w-100" for="vat_amount">Vat Amount:</label>
                                                <input
                                                    v-model="purchaseChange.vat_amount"
                                                    type="number"
                                                    class="form-control"
                                                    name="vat_amount"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="vat">Vat:</label>
                                                <input
                                                    v-model="purchaseChange.vat"
                                                    type="number"
                                                    class="form-control"
                                                    name="vat"
                                                />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <label class="w-100" for="vat_amount">Amount:</label>
                                                <input
                                                    v-model="purchaseChange.amount"
                                                    type="number"
                                                    class="form-control"
                                                    name="amount"
                                                />
                                            </div>
                                            <div class="col-6">
                                                <label class="w-100" for="username">Description:</label>
                                                <textarea
                                                    v-model="purchaseChange.description"
                                                    class="form-control"
                                                    name="description"
                                                ></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-modal-footer">
                                        <button type="button" class="btn btn-primary" @click="updatepurchase">Add purchase</button>
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-danger" uk-tooltip="Delete">
                                <font-awesome-icon icon="trash"/>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>   
     </div>
</template>

<script lang='ts'>
    import { Component, Vue } from "vue-property-decorator";
    import router from '../../router/index';
    import PurchaseDataService from "../../services/PurchaseService";
    import DepartmentDataService from "../../services/DepartmentService";
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
    import Authorize  from '../../services/AuthorizationService';
    import RoleDataService from "../../services/RoleService";
    import bus from '../../services/eventBusService';
    import UIkit from 'uikit';
    import $ from 'jquery';


    
    @Component
    export default class Purchase extends Vue {
        public purchases: any = {};
        public departments: any = {};
        public roles: any = {};
        public currentpurchaseUpdate: any = null;
        public purchaseUpdate: any = {};
        public purchaseSave: any = {};
        
        public purchaseIndex = "";
        public systemUsing = true;
        public newpurchase: any = {
           
            supplier_name: "",
            supplier_vnr: "",
            invoice_number: "",
            date_of_invoice: "",
            description: "",
            amount: "",
            vat_amount: "",
            vat: "",
        };

        public purchaseChange: any = {
            supplier_name: "",
            supplier_vnr: "",
            invoice_number: "",
            date_of_invoice: "",
            description: "",
            amount: "",
            vat_amount: "",
            vat: "",
        };

        public json_data: any = {};
        public json_fields: any = {
            supplier_name: "supplier_name",
            supplier_vnr: "supplier_vnr",
            invoice_number: "invoice_number",
            date_of_invoice: "date_of_invoice",
            description: "description",
            amount: "amount",
            vat_amount: "vat_amount",
            vat: "vat",
        };

        
        navigate(path: any){
            router.push({ name: path });

        }

        

        getEditpurchase(currentIndex: any){
            this.purchaseIndex = currentIndex;
            this.purchaseChange.title = this.purchases[currentIndex].title;
            this.purchaseChange.supplier_name = this.purchases[currentIndex].supplier_name;
            this.purchaseChange.supplier_vnr = this.purchases[currentIndex].supplier_vnr;
            this.purchaseChange.invoice_number = this.purchases[currentIndex].invoice_number;
            this.purchaseChange.date_of_invoice = this.purchases[currentIndex].date_of_invoice;
            this.purchaseChange.vat_amount = this.purchases[currentIndex].vat_amount;
            this.purchaseChange.vat = this.purchases[currentIndex].vat;
            this.purchaseChange.description = this.purchases[currentIndex].description;
        }

        retrievepurchases() {
            PurchaseDataService.getAll()
            .then((response) => {
                this.purchases = response.data.purchases;
                this.json_data = this.purchases;
                console.log(this.purchases);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveRoles() {
            RoleDataService.getAll()
            .then((response) => {
                this.roles = response;
                console.log(this.roles);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveDepartments() {
            DepartmentDataService.getAll()
            .then((response) => {
                this.departments = response;
                console.log(this.departments);
            })
            .catch((e) => {
                console.log(e);
            });
        }
    
        refreshList() {
            this.retrievepurchases();
            this.retrieveRoles();
            this.retrieveDepartments();
        }
        savepurchase() {
            if(!Authorize.authorizeCreateRoute('purchase')){
                bus.$emit('block', 'auth');
            }
            var data = {
                supplier_name: this.newpurchase.supplier_name,
                supplier_vnr: this.newpurchase.supplier_vnr,
                invoice_number: this.newpurchase.invoice_number,
                date_of_invoice: this.newpurchase.date_of_invoice,
                amount: this.newpurchase.amount,
                vat_amount:  this.newpurchase.vat_amount,
                vat: this.newpurchase.vat,
                description: this.newpurchase.description,
            };
            
            console.log(data);

            PurchaseDataService.create(data)
            .then((response) => {
                console.log(response);
                this.purchaseSave = response;
                $( ".uk-modal-close-default" ).trigger( "click" );
                if(response.status =="success"){
                    // bus.$emit('success', response.data.message);
                    this.$swal('Added', 'Added Successfully', 'success');

                }else{
                     // bus.$emit('failed', response.data.message);
                    this.$swal('Failed', 'not added', 'warning');

                }
                    this.retrievepurchases();
                    this.retrieveRoles();
                    this.retrieveDepartments();
                
                // const elem = this.$refs.myBtn
                // elem.click()
                // this.submitted = true;
            })
            .catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            });
            
        }

        updatepurchase() {
            if(!Authorize.authorizeUpdateRoute('purchase')){
                bus.$emit('block', 'auth');
            }
            var data = {
                title: this.purchaseChange.title,
                supplier_name: this.purchaseChange.supplier_name,
                supplier_vnr: this.purchaseChange.supplier_vnr,
                invoice_number: this.purchaseChange.invoice_number,
                date_of_invoice: this.purchaseChange.date_of_invoice,
                description: this.purchaseChange.description,
                vat_amount:  this.purchaseChange.vat_amount,
                vat: this.purchaseChange.vat,
            };
            console.log(data);
            PurchaseDataService.update(this.purchases[this.purchaseIndex].id, data)
            .then((response) => {
                console.log(response.data);
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.purchaseUpdate = response;
                if(response.status =="success"){
                    this.$swal('Updated', 'Updated Successfully', 'success');
                }else{
                    this.$swal('Failed', 'Update Failed', 'warning');
                }
                    this.retrievepurchases();
                    this.retrieveRoles();
                    this.retrieveDepartments();
                // this.submitted = true;
            })
            .catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            });
            
        }

        // allowSystem(statusValue: any){
        //     var data = {
        //         status: statusValue
        //     }

        //     PurchaseDataService.changepurchaseSystemUsing(this.purchases[this.purchaseIndex].id, data)
        //     .then((response) => {
        //         console.log(response.data);
                
        //         // $('#editpurchase').modal("hide");
        //         // this.purchaseUpdate = response;
        //         // bus.$emit('success', this.purchaseUpdate.data.message);
        //         this.refreshList();
        //         this.getEditpurchase(this.purchaseIndex);
        //         // this.submitted = true;
        //     })
        //     .catch((e) => {
        //         console.log(e);
        //     });
        // }


        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.retrievepurchases();
            this.retrieveRoles();
            this.retrieveDepartments();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        color: #364372;
    }

    .btn_status{
        background-color: #f0ff19;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_delete{
        background-color: #ff1952;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_edit{
        background-color: #054731;
        color: #ffffff;
        font-family: cursive;
    }
    
    .btn_new{
        background-color: #054731a4;
        color: #ffffff;
        font-family: cursive;
    }
    
</style>
