<template>
    <div class="container">
        <span></span>
        <div class="row _header mt-0 ml-3">
            <div class="col-4">
                <h4 class="text-left">Requests</h4>
            </div>
            <div class="btn-group btn-group-toggle col-8" data-toggle="buttons">
                <label class="btn btn-outline-warning" >
                    <input type="radio" name="options" id="option1" @click="show('Expenditure')"> Expenditure
                </label>
                <label class="btn btn-outline-info">
                    <input type="radio" name="options" id="option2" @click="show('Office')"> Office
                </label>
                <label class="btn btn-outline-success">
                    <input type="radio" name="options" id="option3" @click="show('Fuel')"> Fuel
                </label>
                <label class="btn btn-outline-primary">
                    <input type="radio" name="options" id="option3" @click="show('Vehicle')"> Vehicle
                </label>
                <label class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="option2" @click="show('Trailer')"> Trailer
                </label>
                <label class="btn btn-outline-dark">
                    <input type="radio" name="options" id="option3" @click="show('Horse')"> Horse
                </label>
            </div>
        </div>
        <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-10">
                        <h5 class="text-left">{{requestType}} Requests</h5>
                    </span>
                    <span class="col-2 pr-0">
                        <!-- <Doughnut /> -->
                    </span>
                </div>
            </div>    
            <div class="card-body">
                <table class="table table-sm table-striped" v-show="fuelWindow">
                    <thead>
                        <tr>
                        <th scope="col">Driver</th>
                        <th scope="col">Fuel Type</th>
                        <th scope="col">Plate Number</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(fuel, index) in fuels.data.fuels" :key="fuel.id"
                        >
                        <td>
                            {{fuel.driver_name}}
                            {{fuel.driver_mobile_number}}
                        </td>
                        <td>{{fuel.fuel_type}}</td>
                        <td>{{fuel.plate_number}}</td>
                        <td>{{fuel.status}}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-warning" data-toggle="modal" uk-tooltip="View" href="#fuelModal" @click="getFuel(index)">
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="modal fade" id="fuelModal" tabindex="-1" aria-labelledby="fuelModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-scrollable">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="fuelModalLabel">Fuel {{fuel.driver_name}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Driver Name:</h6><br/>
                                                {{fuelView.driver_name}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Driver Phone Number:</h6><br/>
                                                {{fuelView.driver_mobile_number}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Fuel Type:</h6><br/>
                                                {{fuelView.fuel_type}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Plate Number:</h6><br/>
                                                {{fuelView.plate_number}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Litre:</h6><br/>
                                                {{fuelView.litre}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Unit Price:</h6><br/>
                                                {{fuelView.unit_price}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Amount:</h6><br/>
                                                {{fuelView.amount}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Receipt Number:</h6><br/>
                                                {{fuelView.reciept_number}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Voucher Number:</h6><br/>
                                                {{fuelView.voucher_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Status:</h6><br/>
                                                {{fuelView.status}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-8">
                                                <h6>Location:</h6><br/>
                                                {{fuelView.location}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Fuel')">
                                            Reject
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Fuel')">
                                            Approve
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-success" uk-tooltip="Approve Fuel Request" @click="approve(index, 'Fuel')">
                                <font-awesome-icon icon="check"/>
                            </a>
                        </td>
                        
                        <td>
                            <a class="btn btn-sm btn-outline-danger"  uk-tooltip="Reject Fuel Request" @click="reject(index, 'Fuel')">
                                <font-awesome-icon icon="ban"/>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm table-striped" v-show="expenditureWindow">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(expenditure, index) in expenditures.data.expenditures" :key="expenditure.id"
                        >
                        <td>{{expenditure.name}}</td>
                        <td>{{expenditure.date}}</td>
                        <td>{{expenditure.amount}}</td>
                        <td>{{expenditure.status}}</td>
                        <td>
                        <a class="btn btn-sm btn-outline-warning" data-toggle="modal" uk-tooltip="View" href="#expenditureModal" @click="getExpenditure(index)">
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="modal fade" id="expenditureModal" tabindex="-1" aria-labelledby="expenditureModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-scrollable">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="expenditureModalLabel">Expenditure {{expenditure.name}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Name:</h6><br/>
                                                {{expenditureView.name}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Date:</h6><br/>
                                                {{expenditureView.date}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Amount:</h6><br/>
                                                {{expenditureView.amount}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Voucher Number:</h6><br/>
                                                {{expenditureView.voucher_number}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Description:</h6><br/>
                                                {{expenditureView.description}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Status:</h6><br/>
                                                {{expenditureView.status}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Expenditure')">
                                            Reject
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Expenditure')">
                                            Approve
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-success" uk-tooltip="Approve Expenditure Request" @click="approve(index, 'Expenditure')">
                                <font-awesome-icon icon="check"/>
                            </a>
                            <!-- <span v-tool></span> -->
                        </td>
                        
                        <td>
                            <a class="btn btn-sm btn-outline-danger" uk-tooltip="Reject Expenditure Request" @click="reject(index, 'Expenditure')">
                                <font-awesome-icon icon="ban"/>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm table-striped" v-show="officeWindow">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(office, index) in offices.data.offices" :key="office.id"
                        >
                        <td>{{office.name}}</td>
                        <td>{{office.date}}</td>
                        <td>{{office.amount}}</td>
                        <td>{{office.status}}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-warning" data-toggle="modal" uk-tooltip="View" href="#officeModal" @click="getOffice(index)">
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="modal fade" id="officeModal" tabindex="-1" aria-labelledby="officeModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-scrollable">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="officeModalLabel">Office {{office.name}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Name:</h6><br/>
                                                {{officeView.name}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Date:</h6><br/>
                                                {{officeView.date}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Voucher Number:</h6><br/>
                                                {{officeView.voucher_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Amount:</h6><br/>
                                                {{officeView.amount}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Description:</h6><br/>
                                                {{officeView.description}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Status:</h6><br/>
                                                {{officeView.status}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Office')">
                                            Reject
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Office')">
                                            Approve
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-success" uk-tooltip="Approve Office Request" @click="approve(index, 'Office')">
                                <font-awesome-icon icon="check"/>
                            </a>
                            <!-- <span v-tool></span> -->
                        </td>
                        
                        <td>
                            <a class="btn btn-sm btn-outline-danger" uk-tooltip="Reject Office Request" @click="reject(index, 'Office')">
                                <font-awesome-icon icon="ban"/>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm table-striped" v-show="trailerWindow">
                    <thead>
                        <tr>
                        <th scope="col">Plate Number</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(trailer, index) in trailerRequests.data.trailers" :key="trailer.id"
                        >
                        <td>{{trailer.plate_number}}</td>
                        <td>{{trailer.status}}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-warning" data-toggle="modal" uk-tooltip="View" href="#trailerModal" @click="getTrailer(index)">
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="modal fade" id="trailerModal" tabindex="-1" aria-labelledby="trailerModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-scrollable">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="trailerModalLabel">Trailer {{trailer.plate_number}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Plate Number:</h6><br/>
                                                {{trailerView.plate_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Model:</h6><br/>
                                                {{trailerView.model}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Make:</h6><br/>
                                                {{trailerView.make}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Tone:</h6><br/>
                                                {{trailerView.tone}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Gvm:</h6><br/>
                                                {{trailerView.gvm}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Color:</h6><br/>
                                                {{trailerView.color}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Disposal Date:</h6><br/>
                                                {{trailerView.disposal_date}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Class:</h6><br/>
                                                {{trailerView.class}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Unloaded Gym:</h6><br/>
                                                {{trailerView.unloaded_gvm}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Loaded Gym:</h6><br/>
                                                {{trailerView.loaded_gvm}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Year Of Manufacture:</h6><br/>
                                                {{trailerView.year_of_manufacture}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Type:</h6><br/>
                                                {{trailerView.type}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-8">
                                                <h6>Status:</h6><br/>
                                                {{trailerView.status}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Trailer')">
                                            Reject
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Trailer')">
                                            Approve
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                        <td>
                            <a class="btn btn-sm btn-outline-success" uk-tooltip="Approve Trailer Request" @click="approve(index, 'Trailer')">
                                <font-awesome-icon icon="check"/>
                            </a>
                            <!-- <span v-tool></span> -->
                        </td>
                                        
                        <td>
                            <a class="btn btn-sm btn-outline-danger" uk-tooltip="Reject Trailer Request" @click="reject(index, 'Trailer')">
                                <font-awesome-icon icon="ban"/>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm table-striped" v-show="horseWindow">
                    <thead>
                        <tr>
                        <th scope="col">Plate Number</th>
                        <th scope="col">Type Of Request</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(horse, index) in horseRequests.data.horses" :key="horse.id"
                        >
                        <td>{{horse.plate_number}}</td>
                        <td>{{horse.type_of_request}}</td>
                        <td>{{horse.status}}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-warning" data-toggle="modal" uk-tooltip="View" href="#horseModal" @click="getHorse(index)"> 
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="modal fade" id="horseModal" tabindex="-1" aria-labelledby="horseModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-scrollable">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="horseModalLabel">Horse {{horse.plate_number}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Plate Number:</h6><br/>
                                                {{horseView.plate_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Type Of Request:</h6><br/>
                                                {{horseView.type_of_request}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Old Serial Number:</h6><br/>
                                                {{horseView.old_serial_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Comment:</h6><br/>
                                                {{horseView.comment}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Voucher Number:</h6><br/>
                                                {{horseView.voucher_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Amount:</h6><br/>
                                                {{horseView.amount}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Description:</h6><br/>
                                                {{horseView.description}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Status:</h6><br/>
                                                {{horseView.status}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Horse')">
                                            Reject
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Horse')">
                                            Approve
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-success" uk-tooltip="Approve Horse Request" @click="approve(index, 'Horse')">
                                <font-awesome-icon icon="check"/>
                            </a>
                            <!-- <span v-tool></span> -->
                        </td>
                        
                        <td>
                            <a class="btn btn-sm btn-outline-danger" uk-tooltip="Reject Horse Request" @click="reject(index, 'Horse')">
                                <font-awesome-icon icon="ban"/>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm table-striped" v-show="vehicleWindow">
                    <thead>
                        <tr>
                        <th scope="col">Plate Number</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="(vehicle, index) in vehicleRequests.data.vehicles" :key="vehicle.id"
                        >
                        <td>{{vehicle.plate_number}}</td>
                        <td>{{vehicle.status}}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-warning" data-toggle="modal" uk-tooltip="View" href="#vehicleModal" @click="getVehicle(index)">
                                <font-awesome-icon icon="file"/>
                            </a>
                            <div class="modal fade" id="vehicleModal" tabindex="-1" aria-labelledby="vehicleModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-scrollable">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="vehicleModalLabel">Vehicle {{vehicle.plate_number}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Plate Number:</h6><br/>
                                                {{vehicleView.plate_number}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Model:</h6><br/>
                                                {{vehicleView.model}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Current Mileage:</h6><br/>
                                                {{vehicleView.current_mileage}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Fuel Type:</h6><br/>
                                                {{vehicleView.fuel_type}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Make:</h6><br/>
                                                {{vehicleView.make}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Tone:</h6><br/>
                                                {{vehicleView.tone}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Gvm:</h6><br/>
                                                {{vehicleView.gvm}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Color:</h6><br/>
                                                {{vehicleView.color}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Disposal Date:</h6><br/>
                                                {{vehicleView.disposal_date}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Class:</h6><br/>
                                                {{vehicleView.class}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Unloaded Gym:</h6><br/>
                                                {{vehicleView.unloaded_gvm}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Loaded Gym:</h6><br/>
                                                {{vehicleView.loaded_gvm}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-6">
                                                <h6>Year Of Manufacture:</h6><br/>
                                                {{vehicleView.year_of_manufacture}}
                                            </div>
                                            <div class="col-6">
                                                <h6>Type:</h6><br/>
                                                {{vehicleView.type}}
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-8">
                                                <h6>Status:</h6><br/>
                                                {{vehicleView.status}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Vehicle')">
                                            Reject
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Vehicle')">
                                            Approve
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                        <td>
                            <a class="btn btn-sm btn-outline-success" uk-tooltip="Approve Trailer Request" @click="approve(index, 'Vehicle')">
                                <font-awesome-icon icon="check"/>
                            </a>
                        </td>
                                        
                        <td>
                            <a class="btn btn-sm btn-outline-danger" uk-tooltip="Reject Trailer Request" @click="reject(index, 'Vehicle')">
                                <font-awesome-icon icon="ban"/>
                            </a>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from "vue-property-decorator";
import Doughnut from '../chartjs/Doughnut.vue'
import router from '../../router/index';
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
import ExpenditureDataService from "../../services/ExpenditureService";
import HorseDataService from "../../services/HorseService";
import FuelDataService from "../../services/FuelServices";
import TrailerDataService from "../../services/TrailerService";
import OfficeDataService from "../../services/OfficeService";
import RequestDataService from "../../services/Requestservice";
import VehicleDataService from "../../services/VehicleService";
import bus from '../../services/eventBusService';


import HorseStoreDataService from "../../services/HorseStoreService";
import TrailerStoreDataService from "../../services/TrailerStoreService";
import VehicleStoreDataService from "../../services/VehicleStoreService";



// @Component({
//     Doughnut
// })
@Component({
  components: {
    Doughnut
  }
})
export default class Request extends Vue {

    public requests: any = {};
    public trailers: any = {};
    public expenditures: any = {};
    public horses: any = {};
    public fuels: any = {};
    public offices: any = {};
    public vehicles: any = {};
    public requestType = "";
    public trailerRequests: any = {};
    public fuelRequests: any = {};
    public horseRequests: any = {};
    public expenditureRequests: any = {};
    public officeRequests: any = {};
    public vehicleRequests: any = {};

    public trailerWindow = false;
    public fuelWindow = false;
    public horseWindow = false;
    public expenditureWindow = false;
    public officeWindow = false;
    public vehicleWindow = false;
    public fuelView: any = {};
    public officeView: any = {};
    public expenditureView: any = {};
    public horseView: any = {};
    public trailerView: any = {};
    public vehicleView: any = {};

    public selectedHorse: any = {};
    public selectedTrailer: any = {};
    public selectedVehicle: any = {};
    

    getFuel(fuelIndex: any){
        this.fuelView = this.fuels.data.fuels[fuelIndex];
    }
    getOffice(officeIndex: any){
        this.officeView = this.offices.data.offices[officeIndex];
    }
    getExpenditure(expenditureIndex: any){
        this.expenditureView = this.expenditures.data.expenditures[expenditureIndex];
    }
    getHorse(horseIndex: any){
        this.horseView = this.horseRequests.data.horseRequests[horseIndex];
    }
    getTrailer(trailerIndex: any){
        this.selectedTrailer = this.trailerRequests.data.trailers[trailerIndex];
        var triler_id = this.selectedTrailer.id;
        var _trailerView = this.trailers.data.trailers.filter(function(_trailer: any){
            return _trailer.id == triler_id;
        });
        this.trailerView = _trailerView[0];
    }
    getVehicle(vehicleIndex: any){
        this.selectedVehicle = this.vehicleRequests.data.vehicles[vehicleIndex];
        var vehicle_id = this.selectedVehicle.id;
        var _vehicleView = this.vehicles.data.vehicles.filter(function(_vehicle: any){
            return _vehicle.id == vehicle_id;
        });
        this.vehicleView = _vehicleView[0];
    }
    show(requestPage: string){
        if(requestPage == 'Expenditure'){
            this.vehicleWindow = false;
            this.expenditureWindow = true;
            this.trailerWindow = false;
            this.fuelWindow = false;
            this.horseWindow = false;
            this.officeWindow = false;
        }else if(requestPage == 'Horse'){
            this.vehicleWindow = false;
            this.horseWindow = true;
            this.trailerWindow = false;
            this.fuelWindow = false;
            this.expenditureWindow = false;
            this.officeWindow = false;
        }else if(requestPage == 'Fuel'){
            this.vehicleWindow = false;
            this.fuelWindow = true;
            this.trailerWindow = false;
            this.horseWindow = false;
            this.expenditureWindow = false;
            this.officeWindow = false;
        }else if(requestPage == 'Trailer'){
            this.vehicleWindow = false;
            this.trailerWindow = true;
            this.fuelWindow = false;
            this.horseWindow = false;
            this.expenditureWindow = false;
            this.officeWindow = false;
        }else if(requestPage == 'Vehicle'){
            this.vehicleWindow = true;
            this.trailerWindow = false;
            this.fuelWindow = false;
            this.horseWindow = false;
            this.expenditureWindow = false;
            this.officeWindow = false;
        }else{
            this.vehicleWindow = false;
            this.officeWindow = true;
            this.trailerWindow = false;
            this.fuelWindow = false;
            this.horseWindow = false;
            this.expenditureWindow = false;
        }
        console.log(requestPage);
        this.requestType = requestPage;
    }

    approve(i: any, req: string){
        var identity;
        if(req == 'Expenditure'){
            identity = this.expenditures.data.expenditures[i].id;
        }else if(req == 'Horse'){
            identity = this.horseRequests.data.horses[i].id;
        }else if(req == 'Fuel'){
            identity = this.fuels.data.fuels[i].id;
        }else if(req == 'Trailer'){
            identity = this.trailerRequests.data.trailers[i].id;
        }else if(req == 'Vehicle'){
            identity = this.vehicleRequests.data.vehicles[i].id;
        }else{
            identity = this.offices.data.offices[i].id;
        }
        var data = {
            status: "approved",
            table: req,
            id: identity,
        }
        console.log(data);
        RequestDataService.updateRequestStatus(data)
        .then((response) => {
            console.log(response.data);
             if(response.status =="success"){
                bus.$emit('success', response.data.message);
            }else{
                    bus.$emit('failed', response.data.message);
            }
            this.refreshList();
            if(req == 'Expenditure'){
                this.getExpenditure(i);
            }else if(req == 'Horse'){
                this.getHorse(i);
            }else if(req == 'Fuel'){
                this.getFuel(i);
            }else if(req == 'Trailer'){
                this.getTrailer(i);
            }else if(req == 'Vehicle'){
                this.getVehicle(i);
            }else{
                this.getOffice(i);
            }
        })
        .catch((e) => {
            console.log(e);
        });
    }

    reject(i: any, req: string){
        var identity;
        if(req == 'Expenditure'){
                identity = this.expenditures.data.expenditures[i].id;
            }else if(req == 'Horse'){
                identity = this.horseRequests.data.horses[i].id;
            }else if(req == 'Fuel'){
                identity = this.fuels.data.fuels[i].id;
            }else if(req == 'Trailer'){
                identity = this.trailerRequests.data.trailers[i].id;
            }else if(req == 'Vehicle'){
                identity = this.vehicleRequests.data.vehicles[i].id;
            }else{
                identity = this.offices.data.offices[i].id;
            }
        
        var data = {
            status: "rejected",
            table: req,
            id: identity,
        }
        console.log(data);
        RequestDataService.updateRequestStatus(data)
        .then((response) => {
            console.log(response.data);
            if(response.status =="success"){
                bus.$emit('success', response.data.message);
            }else{
                    bus.$emit('failed', response.data.message);
            }
                this.refreshList();
                if(req == 'Expenditure'){
                    this.getExpenditure(i);
                }else if(req == 'Horse'){
                    this.getHorse(i);
                }else if(req == 'Fuel'){
                    this.getFuel(i);
                }else if(req == 'Trailer'){
                    this.getTrailer(i);
                }else if(req == 'Vehicle'){
                    this.getVehicle(i);
                }else{
                    this.getOffice(i);
                }
           
        })
        .catch((e) => {
            console.log(e);
        });
    }

    navigate(path: any){
        router.push({ name: path });

    }

    retrieveExpenditure() {
        ExpenditureDataService.getAll()
        .then((response) => {
            this.expenditures = response;
            console.log(this.expenditures);
        })
        .catch((e) => {
            console.log(e);
        });
    }

    retrieveHorse() {
        HorseStoreDataService.getAll()
        .then((response) => {
            this.horses = response;
            console.log(this.horses);
        })
        .catch((e) => {
            console.log(e);
        });
    }

    retrieveTrailer() {
        TrailerStoreDataService.getAll()
        .then((response) => {
            this.trailers = response;
            console.log(this.trailers);
        })
        .catch((e) => {
            console.log(e);
        });
    }

    retrieveFuel() {
        FuelDataService.getAll()
        .then((response) => {
            this.fuels = response;
            console.log(this.fuels);
        })
        .catch((e) => {
            console.log(e);
        });
    }

    retrieveOffice() {
        OfficeDataService.getAll()
        .then((response) => {
            this.offices = response;
            console.log(this.offices);
        })
        .catch((e) => {
            console.log(e);
        });
    }

    retrieveVehicle() {
        VehicleStoreDataService.getAll()
        .then((response) => {
            this.vehicles = response;
            console.log(this.vehicles);
        })
        .catch((e) => {
            console.log(e);
        });
    }


    retrieveHorseRequests() {
        HorseDataService.getAll()
        .then((response) => {
            this.horseRequests = response;
            console.log(this.horseRequests);
        })
        .catch((e) => {
            console.log(e);
        });
    }

    retrieveTrailerRequests() {
        TrailerDataService.getAll()
        .then((response) => {
            this.trailerRequests = response;
            console.log(this.trailerRequests);
        })
        .catch((e) => {
            console.log(e);
        });
    }

    retrieveVehicleRequests() {
        VehicleDataService.getAll()
        .then((response) => {
            this.vehicleRequests = response;
            console.log(this.vehicleRequests);
        })
        .catch((e) => {
            console.log(e);
        });
    }

    mounted() {
        if(AuthorizeUserStatus.auth()){
            setTimeout(function(){
                router.push({ name: 'user_verify' });
            }.bind(this), 2000);
        }
        this.retrieveTrailerRequests();
        this.retrieveHorseRequests();
        this.retrieveVehicleRequests();

        this.retrieveOffice();
        this.retrieveFuel();
        this.retrieveTrailer();
        this.retrieveHorse();
        this.retrieveExpenditure();
        this.retrieveVehicle();
    }

    refreshList() {
        this.retrieveTrailerRequests();
        this.retrieveHorseRequests();
        this.retrieveVehicleRequests();

        this.retrieveOffice();
        this.retrieveFuel();
        this.retrieveTrailer();
        this.retrieveHorse();
        this.retrieveExpenditure();
        this.retrieveVehicle();
    }
}
</script>

<style scoped>
    
    .fa-lg{
        color: #364372;
    }

    .btn_status{
        background-color: #f0ff19;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_delete{
        background-color: #ff1952;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_edit{
        background-color: #054731;
        color: #ffffff;
        font-family: cursive;
    }
    
    .btn_new{
        background-color: #054731a4;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_ban{
        color: #ffffff;
        background-color: #eb0c0c;
        font-family: cursive;
    }

    .btn_allow{
        color: #ffffff;
        background-color: #1a7246;
        font-family: cursive;
    }

    /* .col-6{
        border: #045463 1px solid;
    }
     */
</style>