<template>
    <div class="container">
        <!-- <div class="row _header mt-0 ml-3">
            <div class="col-lg-7 col-md-4 col-sm-6">
                <h4 class="text-left">Roles</h4>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3 float-lg-right float-md-left">
                <button type="button" class="btn btn-outline-secondary" @click="navigate('employees')">Employees</button>      
            </div>
            <div class="col-lg-2 col-md-4 col-sm-3 float-lg-right float-md-left">
                   <button type="button" class="btn btn-outline-secondary" @click="navigate('department')">Departments</button>      
            </div>
        </div> -->
        <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-11">
                        <h5 class="text-left">Roles List</h5>
                    </span>
                    <span class="col-1 pr-0">
                        <a class="float-right mr-1 mt-1 btn-sm btn-outline-primary" uk-tooltip="Create New Role" uk-toggle href="#addRole">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </span>
                </div>
                
                <div class="uk-modal-overflow uk-flex-top" id="addRole" uk-modal>
                    <div class="uk-modal-dialog uk-margin-auto-vertical">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title">Add Role</h2>
                        </div>
                        <div class="uk-modal-body">
                            <div class="row w-75 ml-5 mr-5">
                                <label for="username">Name</label>
                                    <input
                                        v-model="newRole.name"
                                        
                                        type="text"
                                        class="form-control"
                                        name="name"
                                    />
                            </div>
                        </div>
                        <div class="uk-modal-footer">
                            <button type="button" class="btn btn-primary" @click="saveRole">Add Role</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <!-- <th scope="col"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(role, index) in roles" :key="role.id"
                        >
                            <td>{{role.name}}</td>
                            <td>
                                <a class="mr-3 btn btn-sm btn-outline-success" uk-toggle href="#editRole" @click="getEditRole(index)">
                                    <font-awesome-icon icon="pen"/>
                                </a>
                                <div class="uk-modal-overflow uk-flex-top" id="editRole" uk-modal>
                                    <div class="uk-modal-dialog uk-margin-auto-vertical">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header">
                                            <h2 class="uk-modal-title">Update Role</h2>
                                        </div>
                                        <div class="uk-modal-body">
                                            <div class="row w-75 ml-5 mr-5">
                                                <label for="username">Name</label>
                                                    <input
                                                        v-model="role.name"
                                                        
                                                        type="text"
                                                        class="form-control"
                                                        name="name"
                                                    />
                                            </div>
                                        </div>
                                        <div class="uk-modal-footer">
                                            <button type="button" class="btn btn-primary" @click="updateRole">Update Role</button>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-sm btn-outline-danger" @click="removeRole(index)">
                                    <font-awesome-icon icon="trash"/>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Roles Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import router from '../../router/index';
    import RoleDataService from "../../services/RoleService";
    import $ from 'jquery';
    import Authorize  from '../../services/AuthorizationService';
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
    import UIkit from 'uikit';
    // import * as UIkit from 'uikit';
    import bus from '../../services/eventBusService';

    @Component
    export default class Role extends Vue {
        public roles: any = {};
        public roleIndex = "";
        public roleSave: any = {};
        public updatedRole: any = {};
        public deletedRole: any = {};
        public newRole: any = {
            name: "",
        };

        public json_data: any = {};
        public json_fields: any = {
            name: "name",
        };

        navigate(path: any){
            // router.push({ name: path });
            bus.$emit('navigate', path);
        }

        getEditRole(currentIndex: any){
            this.roleIndex = currentIndex;
        }    

        saveRole() {
            if(!Authorize.authorizeCreateRoute('roles')){
                bus.$emit('block', 'auth');
            }
            var data = {
                name: this.newRole.name,
            };
            RoleDataService.create(data)
            .then((response) => {
                console.log(response.status);
                this.roleSave = response;
                // UIkit.modal('#addRole').hide();
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveRoles();
                if(response.status =="success"){
                    this.$swal('Added', 'Role Added Success', 'success');
                }else{
                    this.$swal('Failed', 'Role Not Added', 'warning');
                }
                $( ".uk-modal-close-default" ).trigger( "click" );
                // this.submitted = true;
            })
            .catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            });
            
        }

        retrieveRoles() {
            if(!Authorize.authorizeViewRoute('roles')){
                bus.$emit('block', 'auth');
            }
            RoleDataService.getAll()
            .then((response) => {
                this.roles = response.data.roles;
                this.json_data = this.roles;
                console.log(this.roles);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveRoles();
        }

        updateRole(){
            if(!Authorize.authorizeUpdateRoute('roles')){
                bus.$emit('block', 'auth');
            }
            var data = {
                    name: this.roles[this.roleIndex].name,
                };

            RoleDataService.update(this.roles[this.roleIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedRole = response;
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.retrieveRoles();
                 if(response.status =="success"){
                     this.$swal('Updated', 'Role Updated Success', 'success');
                }else{
                     this.$swal('Failed', 'Role Not Updated', 'warning');
                }
            })
            .catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            });
        }

        removeRole(i: any) {
            if(!Authorize.authorizeDeleteRoute('roles')){
                bus.$emit('block', 'auth');
            }
            RoleDataService.delete(this.roles[i].id)
            .then((response) => {
                console.log(response.status);
                this.deletedRole = response;
                this.retrieveRoles();
                if(response.status =="success"){
                    this.$swal('Deleted', 'Role deleted Success', 'success');
                }else{
                    this.$swal('Failed', 'Role Not deleted', 'warning');
                }
            })
            .catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('error', 'Something went wrong', 'error');
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.retrieveRoles();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        /* color: #045463; */
    }
    ._header{

    }
</style>
