<template>
    <div class="container-fluid">
       <div class="row">
           <div class="col uk-panel">
               <h3 class="font-weight-normal">Cargos</h3>
           </div>
           <div class="col">
               <div class="float-right">
                   <button class="btn btn-sm btn-outline-primary" uk-toggle href="#addCargo">
                       <font-awesome-icon icon="plus" size="30" class="fa-sm"/>Add</button>

               </div>
                <div class="uk-flex-top" id="addCargo" uk-modal>
                    <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Cargo</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <form @submit.prevent="saveCargo">
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label for="size">Size</label>
                                        <input type="text" class="form-control" name="cargo_size" v-model="newCargo.cargo_size"/>
                                    </div>

                                    <div class="col-6">
                                        <label for="username">Senders company name</label>
                                        <input type="text" class="form-control" name="type_of_request" v-model="newCargo.sender_company_name"/>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label for="username">Sender Name</label>
                                        <input type="text" class="form-control" name="sender_name" v-model="newCargo.sender_name"/>
                                    </div>
                                    <div class="col-6">
                                        <label for="username">Sender Phone Number</label>
                                        <input type="number" class="form-control" name="sender_mobile_number" v-model="newCargo.sender_mobile_number"/>
                                    </div>
                                </div>

                                <div>
                                    <label for="username">Sender Email</label>
                                    <input type="email" class="form-control" name="sender_email" v-model="newCargo.sender_email"/>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label for="username">Receiver Name</label>
                                        <input type="text" class="form-control" name="receiver_name" v-model="newCargo.receiver_name"/>
                                    </div>
                                    <div class="col-6">
                                        <label for="username">Receiver Phone Number</label>
                                        <input type="number" class="form-control" name="receiver_mobile_number" v-model="newCargo.receiver_mobile_number"/>
                                    </div>

                                </div>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label for="username">Receiver Company Name</label>
                                        <input type="text" class="form-control" name="amount" v-model="newCargo.receiver_company_name"/>
                                    </div>

                                    <div class="col-6">
                                        <label for="username">Receiver email</label>
                                        <input type="email" class="form-control" name="receiver_email" v-model="newCargo.receiver_email"/>
                                    </div>
                                </div>
                                <div>
                                    <label for="username">Description</label>
                                    <textarea rows="4" class="form-control" name="description" v-model="newCargo.description"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="uk-modal-footer">
                            <button type="submit" class="btn btn-primary" @click="saveCargo">Add Cargo</button>
                        </div>
                    </div>
                </div>
               
           </div>
       </div>
<!--        table-->
        <div class="table-responsive-sm mt-2">
            <table class="table table-sm table-striped table-sm table-hover">
                <thead>
                <tr class="font-weight-light">
                    <th class="font-weight-light">Size</th>
                    <th class="font-weight-light">Sender Details</th>
                    <th class="font-weight-light">Receiver Details</th>
                    <th class="font-weight-light"></th>
                </tr>
                </thead>
                <tbody class="font-weight-light">
                <tr v-for="(cargo, index) in cargos.data.cargos" :key="cargo.id">
                    <td class="">{{cargo.cargo_size}}</td>
                    <td>
                        <div><small>Name:</small> <small class="uk-text-italic">{{cargo.sender_name}}</small></div>
                        <div><small>Email:</small> <small class="uk-text-italic">{{cargo.sender_email}}</small></div>
                        <div><small>Phone:</small> <small class="uk-text-italic">{{cargo.sender_mobile_number}}</small></div>
                        <div><small>Company:</small> <small class="uk-text-italic">{{cargo.sender_company_name}}</small></div>
                    </td>
                    <td>
                        <div><small>Name:</small> <small class="uk-text-italic">{{cargo.receiver_name}}</small></div>
                        <div><small>Email:</small> <small class="uk-text-italic">{{cargo.receiver_email}}</small></div>
                        <div><small>Phone:</small> <small class="uk-text-italic">{{cargo.receiver_mobile_number}}</small></div>
                        <div><small>Company:</small> <small class="uk-text-italic">{{cargo.receiver_company_name}}</small></div>
                    </td>
                    <td class="uk-flex-auto">
<!--                        start edit modal-->
                        <button class="btn btn-sm btn-outline-warning" uk-tooltip="edit" uk-toggle href="#editCargo" @click="getEditCargo(index)">
                            <font-awesome-icon icon="pen" class="fa-sm"/>
                        </button>
                        <div class="uk-flex-top" id="editCargo" uk-modal>
                            <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                <button class="uk-modal-close-default" type="button" uk-close></button>

                                <div class="uk-modal-header">
                                    <h5 class="uk-modal-title" id="addHorseLabel">Edit Cargo</h5>
                                </div>
                                <div class="uk-modal-body" uk-overflow-auto>
                                    <form @submit.prevent="cargoEdit">
                                        <div class="row mt-2">
                                            <div class="col-6">
                                                <label for="size">Size</label>
                                                <input type="text" class="form-control" name="cargo_size" v-model="cargoChange.cargo_size"/>
                                            </div>

                                            <div class="col-6">
                                                <label for="username">Senders company name</label>
                                                <input type="text" class="form-control" name="type_of_request" v-model="cargoChange.sender_company_name"/>
                                            </div>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-6">
                                                <label for="username">Sender Name</label>
                                                <input type="text" class="form-control" name="sender_name" v-model="cargoChange.sender_name"/>
                                            </div>
                                            <div class="col-6">
                                                <label for="username">Sender Phone Number</label>
                                                <input type="number" class="form-control" name="sender_mobile_number" v-model="cargoChange.sender_mobile_number"/>
                                            </div>
                                        </div>

                                        <div>
                                            <label for="username">Sender Email</label>
                                            <input type="email" class="form-control" name="sender_email" v-model="cargoChange.sender_email"/>
                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-6">
                                                <label for="username">Receiver Name</label>
                                                <input type="text" class="form-control" name="receiver_name" v-model="cargoChange.receiver_name"/>
                                            </div>
                                            <div class="col-6">
                                                <label for="username">Receiver Phone Number</label>
                                                <input type="number" class="form-control" name="receiver_mobile_number" v-model="cargoChange.receiver_mobile_number"/>
                                            </div>

                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-6">
                                                <label for="username">Receiver Company Name</label>
                                                <input type="text" class="form-control" name="amount" v-model="cargoChange.receiver_company_name"/>
                                            </div>

                                            <div class="col-6">
                                                <label for="username">Receiver email</label>
                                                <input type="email" class="form-control" name="receiver_email" v-model="cargoChange.receiver_email"/>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="username">Description</label>
                                            <textarea rows="4" class="form-control" name="description" v-model="cargoChange.description"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="uk-modal-footer">
                                    <button type="submit" class="btn btn-primary" @click="cargoEdit">Edit Cargo</button>
                                </div>
                            </div>
                        </div>
                        

<!--                            end edit modal-->

                        <router-link :to="{name: 'cargo_details', params: { id: cargo.id}}">
                            <button class="btn btn-sm btn-outline-success ml-2" uk-tooltip="view">
                                <font-awesome-icon icon="eye" class="fa-sm"/>
                            </button>
                        </router-link>

                        <button class="btn btn-sm btn-outline-danger ml-2" uk-tooltip="delete" uk-toggle href="#deleteCargo">
                            <font-awesome-icon icon="trash" class="fa-sm"/>
                        </button>
                        <div class="uk-flex-top" id="deleteCargo" uk-modal>
                            <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                <button class="uk-modal-close-default" type="button" uk-close></button>

                                <div class="uk-modal-header">
                                    <h5 class="uk-modal-title" id="">Delete Cargo</h5>
                                </div>
                                <div class="uk-modal-body" uk-overflow-auto>
                                    Are you Sure you want to delete ?
                                </div>
                                <div class="uk-modal-footer">
                                    <button type="button" class="btn btn-outline-warning btn-sm" uk-close>No</button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" @click="cargoDelete(index)">Yes</button>
                                </div>
                            </div>
                        </div>
                        
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import SalesDataService from "../../services/Sales";
    import router from '../../router/index';
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
    import bus from '../../services/eventBusService';
    import UIkit from 'uikit';
    import $ from 'jquery';

    @Component
    export default class Sales extends Vue{
        public cargos: any = {};
        public cargoIndex = "";
        public cargoSave: any = {};
        public cargoUpdate : any = {};
        public DeleteCargo : any = {};
        public newCargo: any = {
            cargo_size: "",
            sender_company_name: "",
            sender_name: "",
            sender_email: "",
            sender_mobile_number: "",
            receiver_name: "",
            receiver_mobile_number: "",
            receiver_email: "",
            receiver_company_name: "",
            description: "",
        };

        public cargoChange: any = {
            cargo_size: "",
            sender_company_name: "",
            sender_name: "",
            sender_email: "",
            sender_mobile_number: "",
            receiver_name: "",
            receiver_mobile_number: "",
            receiver_email: "",
            receiver_company_name: "",
            description: "",
        }

        getEditCargo(currentIndex: any){
            this.cargoIndex = currentIndex;
            this.cargoChange.cargo_size = this.cargos.data.cargos[currentIndex].cargo_size;
            this.cargoChange.sender_company_name = this.cargos.data.cargos[currentIndex].sender_company_name;
            this.cargoChange.sender_name = this.cargos.data.cargos[currentIndex].sender_name;
            this.cargoChange.sender_email = this.cargos.data.cargos[currentIndex].sender_email;
            this.cargoChange.sender_mobile_number = this.cargos.data.cargos[currentIndex].sender_mobile_number;
            this.cargoChange.receiver_name = this.cargos.data.cargos[currentIndex].receiver_name;
            this.cargoChange.receiver_mobile_number = this.cargos.data.cargos[currentIndex].receiver_mobile_number;
            this.cargoChange.receiver_email = this.cargos.data.cargos[currentIndex].receiver_email;
            this.cargoChange.receiver_company_name = this.cargos.data.cargos[currentIndex].receiver_company_name;
            this.cargoChange.description = this.cargos.data.cargos[currentIndex].description;
        }

        showCargos() {
            SalesDataService.AllCargo().then((response) => {
                this.cargos = response;
            }).catch((e) => {
                console.log(e);
            })
        }

        mounted(){
            // if(AuthorizeUserStatus.auth()){
            //     setTimeout(function(){
            //         router.push({ name: 'user_verify' }).catch(err => {});
            //     }.bind(this), 2000);
            // }
            this.showCargos()
        }

        refreshPage() {
            this.showCargos();
        }

        saveCargo() {
            var data = {
                cargo_size: this.newCargo.cargo_size,
                sender_company_name: this.newCargo.sender_company_name,
                sender_name: this.newCargo.sender_name,
                sender_mobile_number: this.newCargo.sender_mobile_number,
                receiver_name: this.newCargo.receiver_name,
                receiver_email: this.newCargo.receiver_email,
                sender_email: this.newCargo.sender_email,
                receiver_mobile_number: this.newCargo.receiver_mobile_number,
                receiver_company_name: this.newCargo.receiver_company_name,
                description: this.newCargo.description,
            };
            SalesDataService.SaveCargo(data)
            .then((response) => {
                this.cargoSave = response;
                $( ".uk-modal-close-default" ).trigger( "click" );
                if (response.status == "success"){
                    this.showCargos();
                    this.$swal('Saving', 'Cargo Added Success', 'success');
                }else{
                    this.$swal('Failed', 'Cargo not added', 'error');
                    this.showCargos();
                }
            }).catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e)
            });
        }

        cargoEdit(){
            var data = {
                cargo_size: this.cargoChange.cargo_size,
                sender_company_name: this.cargoChange.sender_company_name,
                sender_name: this.cargoChange.sender_name,
                sender_mobile_number: this.cargoChange.sender_mobile_number,
                receiver_name: this.cargoChange.receiver_name,
                receiver_email: this.cargoChange.receiver_email,
                sender_email: this.cargoChange.sender_email,
                receiver_mobile_number: this.cargoChange.receiver_mobile_number,
                receiver_company_name: this.cargoChange.receiver_company_name,
                description: this.cargoChange.description,
            };
            SalesDataService.editCargo(this.cargos.data.cargos[this.cargoIndex].id, data)
            .then((response) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.cargoUpdate = response;
                this.$swal('Updates', 'Cargo Updated Success', 'success');
                this.showCargos()
            }).catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            })
        }

        cargoDelete(index: any){
            SalesDataService.deleteCargo(this.cargos.data.cargos[index].id)
            .then((response) => {
                console.log(response.data)
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('Deleted', 'Cargo Deleted Success', 'info');
                this.showCargos()
            }).catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            })
        }


    }

</script>

<style scoped>

</style>
