<template>
    <div class="container">
        <span></span>
        <div class="row _header mt-0 ml-3">
            <div class="col-10">
                <h4 class="text-left">Roles</h4>
            </div>
            <div class="col-2 float-lg-right float-md-left float-sm-left">
                <button type="button" class="btn btn-outline-secondary">Roles</button>      
                <!-- <button type="button" class="btn btn-outline-secondary" @click="navigate('roles')">Roles</button>       -->
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-4 p-2" v-for="role in security.data.roles" :key="role.id">
                    <div class="card">
                        <!-- <div class="card-title"></div> -->
                        <div class="card-body font-weight-light text-center">{{role.name}}</div>
                        <div class="card-footer">
                            <!-- <a class="btn btn-sm btn-outline-danger m-1 float-right" uk-tooltip="Delete">
                                <font-awesome-icon icon="trash"/>
                            </a>
                            <a class="btn btn-sm btn-outline-success m-1 float-right" uk-tooltip="Edit">
                                <font-awesome-icon icon="pen"/>
                            </a> -->
                            <a class="btn btn-sm btn-outline-warning m-1 float-right" uk-tooltip="Privileges Authorization" uk-toggle href="#authorize" @click="getRolePrivileges(role.id, role.name)">
                                <font-awesome-icon icon="cog"/>
                            </a>  
                            <div class="uk-flex-top" id="authorize" uk-modal>
                                <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>

                                    <div class="uk-modal-header">
                                        <h5 class="uk-modal-title">Authorize {{selectedRole}}</h5>
                                    </div>
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <table class="table table-sm table-striped">
                                            <thead>
                                                <tr>
                                                <!-- <th scope="col">#</th> -->
                                                <th scope="col"></th>
                                                <th scope="col">View</th>
                                                <th scope="col">Create</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                                <th scope="col">Manage</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    v-for="(privilege, index) in rolesPrivileges" :key="privilege.id" 
                                                >
                                                    <td>{{privilege.permission}}</td>
                                                    <td>
                                                        View
                                                        <input 
                                                        type="checkbox" 
                                                        class="" 
                                                        v-model="privilege.view" 
                                                        @change="authorize(privilege.permission_id, privilege.view, '2', 'view')"
                                                        >
                                                    </td>
                                                    <td>
                                                        Create
                                                        <input
                                                            type="checkbox" 
                                                            class="" 
                                                            v-model="privilege.create" 
                                                            @change="authorize(privilege.permission_id, privilege.create, '3', 'create')"
                                                            >
                                                    </td>
                                                    <td>
                                                        Edit
                                                        <input
                                                        type="checkbox" 
                                                        class="" 
                                                        v-model="privilege.update" 
                                                        @change="authorize(privilege.permission_id, privilege.update, '5', 'edit')"
                                                        >
                                                    </td>
                                                    <td>
                                                        Delete
                                                        <input
                                                        type="checkbox" 
                                                        class="" 
                                                        v-model="privilege.delete" 
                                                        @change="authorize(privilege.permission_id, privilege.delete, '7', 'delete')"
                                                        >
                                                    </td>
                                                    <td>
                                                        Manage
                                                        <input
                                                        type="checkbox" 
                                                        class="" 
                                                        v-model="privilege.manage" 
                                                        @change="authorize(privilege.permission_id, privilege.manage, '11', 'delete')"
                                                        >
                                                    </td>
                                                    <td>
                                                        <a class="float-right btn btn-sm btn-outline-danger" uk-tooltip="Ban all"
                                                        @click="authorizeObject(privilege.permission_id , 'disallow', false, index)" >
                                                            <font-awesome-icon icon="ban"/>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-tooltip="Allow all"
                                                        @click="authorizeObject(privilege.permission_id, 'allow', true, index)">
                                                            <font-awesome-icon icon="check"/>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="uk-modal-footer">
                                        <a class="btn btn-sm btn-outline-danger float-right" @click="authorizeAll('disallow', false)">
                                            Ban Full
                                            <font-awesome-icon icon="ban"/>
                                        </a>
                                        <a class="btn btn-sm btn-outline-success float-right" @click="authorizeAll('allow', true)">
                                            Allow Full
                                            <font-awesome-icon icon="check"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
    import { Component, Vue } from "vue-property-decorator";
    import router from '../../../router/index';
    import ACLDataService from "../../../services/ACLService";
    import AuthorizationStorage from "../../../services/AuthorizationService";
    import bus from '../../../services/eventBusService';
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");


    @Component
    export default class Privileges extends Vue {
        public security: any = {};
        public permissions: any = {};
        public permissionIndex = "";
        public roles: any = {};
        public rolesPrivileges: any = {};
        public privileges: any = {};
        public selectedRole:any = "";
        public selectedRoleId:any = "";

        public authorizeResponse: any ={};
        public authorizeObjectResponse: any ={};
        public authorizeAllResponse: any ={};

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }

        retrievePriviledges() {
            ACLDataService.getAll()
            .then((response) => {
                this.security = response;
                this.roles = this.security.data.roles;
                this.privileges = AuthorizationStorage.privilegeInformation(this.roles, this.security.data.privileges);
                // console.log(this.privileges);
                
            })
            .catch((e) => {
                console.log(e);
            });
        }
        authorize(permission_id: any, action: boolean, value: any, attribute: string){
            var data = {
                permission_id: permission_id,
                action_state:  action,
                action: attribute,
                action_value: value,
                role_id: this.selectedRoleId 
            }
            console.log(data);
            ACLDataService.authorize(data)
            .then((response) => {
                console.log(response);
                this.authorizeResponse = response;
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                        bus.$emit('failed', response.data.message);
                }
                this.retrievePriviledges();
                this.getRolePrivileges(this.selectedRoleId, this.selectedRole);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        authorizeAll(attribute: string, _state: boolean){
            var data = {
                state:  _state,
                role_id: this.selectedRoleId 
            }
            console.log(data);
            ACLDataService.authorizeAll(data)
            .then((response) => {
                console.log(response);
                this.authorizeAllResponse = response;
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    // this.refreshList();
                }else{
                        bus.$emit('failed', response.data.message);
                }

                this.retrievePriviledges();
                this.getRolePrivileges(this.selectedRoleId, this.selectedRole);

                for(var i in this.rolesPrivileges){
                    if(_state){
                        this.rolesPrivileges[i].view = true;
                        this.rolesPrivileges[i].create = true;
                        this.rolesPrivileges[i].update = true;
                        this.rolesPrivileges[i].delete = true;
                        this.rolesPrivileges[i].manage = true;
                    }else{
                        this.rolesPrivileges[i].view = false;
                        this.rolesPrivileges[i].create = false;
                        this.rolesPrivileges[i].update = false;
                        this.rolesPrivileges[i].delete = false;
                        this.rolesPrivileges[i].manage = false;
                    }
                }

            })
            .catch((e) => {
                console.log(e);
            });
        }

        authorizeObject(permission_id: any, attribute: string, objectState: boolean, objIndex: any){
            
            var data = {
                permission_id: permission_id,
                permission_state:  objectState,
                role_id: this.selectedRoleId 
            }
            ACLDataService.authorizeObject(data)
            .then((response) => {
                console.log(response);
                this.authorizeObjectResponse = response;
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                    // this.refreshList();
                }else{
                        bus.$emit('failed', response.data.message);
                }
                this.retrievePriviledges();
                this.getRolePrivileges(this.selectedRoleId, this.selectedRole);
                if(objectState){
                    this.rolesPrivileges[objIndex].view = true;
                    this.rolesPrivileges[objIndex].create = true;
                    this.rolesPrivileges[objIndex].update = true;
                    this.rolesPrivileges[objIndex].delete = true;
                    this.rolesPrivileges[objIndex].manage = true;
                }else{
                    this.rolesPrivileges[objIndex].view = false;
                    this.rolesPrivileges[objIndex].create = false;
                    this.rolesPrivileges[objIndex].update = false;
                    this.rolesPrivileges[objIndex].delete = false;
                    this.rolesPrivileges[objIndex].manage = false;
                }
                
                console.log(this.rolesPrivileges[objIndex]);
            })
            .catch((e) => {
                console.log(e);
            });
        }


        getRolePrivileges(role_id: any, role_name: string){
            this.selectedRole = role_name;
            this.selectedRoleId = role_id;
            console.log(this.selectedRole);
            console.log(this.selectedRoleId);
            this.rolesPrivileges = this.privileges.filter(function(_privilege: any){
                return _privilege.role_id == role_id && _privilege.permission != "0";
            });
        }

        refreshList() {
            this.retrievePriviledges();
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.retrievePriviledges();
        }

    }
</script>

<style scoped>
    
    .fa-lg{
        color: #364372;
    }

    .text-center{
        font-family: Caladea;
        font-size: 24px;
    }

    .btn_status{
        background-color: #f0ff19;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_delete{
        background-color: #ff1952;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_edit{
        background-color: #054731;
        color: #ffffff;
        font-family: cursive;
    }
    
    .btn_new{
        background-color: #054731a4;
        color: #ffffff;
        font-family: cursive;
    }
    .btn_auth{
        background-color: #a1642bf8;
        color: #ffffff;
        font-family: cursive;
    }

    ._ban{
        color: #eb0c0c;
        font-family: cursive;
    }

    ._allow{
        color: #1a7246;
        font-family: cursive;
    }

    .btn_ban{
        color: #ffffff;
        background-color: #eb0c0c;
        font-family: cursive;
    }

    .btn_allow{
        color: #ffffff;
        background-color: #1a7246;
        font-family: cursive;
    }
    
</style>