<template>
    <div class="container">
        <!-- <span></span>
        <div class="row _header mt-0 ml-3">
            <div class="col-9">
                <h4 class="text-left">Employees</h4>
            </div>
            <div class="col-3 float-lg-right float-md-left float-sm-left">
                   <button type="button" class="btn btn-outline-secondary" @click="navigate('roles')">Roles</button>      
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-4 p-2" v-for="(role, index) in security.data.roles" :key="role.id">
                    <div class="card">
                        <div class="card-title">{{role.name}} Role</div>
                        <div class="card-body"></div>
                        <div class="card-footer">
                            <a class="btn btn_delete m-1 float-right">
                                Del
                                <font-awesome-icon icon="trash"/>
                            </a>
                            <a class="btn btn_edit m-1 float-right">
                                Edit
                                <font-awesome-icon icon="pen"/>
                            </a>
                            <a class="btn btn_auth m-1 float-right" data-toggle="modal" href="#authorize" @click="getRolePrivileges(role.id, role.name, index)">
                                Auth
                                <font-awesome-icon icon="cog"/>
                            </a>                     
                                <div class="modal fade" id="authorize" tabindex="-1" aria-labelledby="authorizeLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="authorizeLabel">Authorize {{selectedRole}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">View</th>
                                                    <th scope="col">Create</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        v-for="privilege in rolesPrivileges" :key="privilege.id" 
                                                    >
                                                        <td>{{privilege.permission}}</td>
                                                        <td>
                                                            View
                                                            <input 
                                                            type="checkbox" 
                                                            class="" 
                                                            v-model="privilege.view" 
                                                            @change="authorize(privilege.permission_id, privilege.view, 'view')"
                                                            >
                                                        </td>
                                                        <td>
                                                            Create
                                                            <input
                                                             type="checkbox" 
                                                             class="" 
                                                             v-model="privilege.create" 
                                                             @change="authorize(privilege.permission_id, privilege.view, 'create')"
                                                             >
                                                        </td>
                                                        <td>
                                                            Edit
                                                            <input
                                                            type="checkbox" 
                                                            class="" 
                                                            v-model="privilege.update" 
                                                            @change="authorize(privilege.permission_id, privilege.view, 'edit')"
                                                            >
                                                        </td>
                                                        <td>
                                                            Delete
                                                            <input
                                                            type="checkbox" 
                                                            class="" 
                                                            v-model="privilege.delete" 
                                                            @change="authorize(privilege.permission_id, privilege.view, 'delete')"
                                                            >
                                                        </td>
                                                        <td>
                                                            <a class="btn _ban float-right" 
                                                            @click="authorizeObject(privilege.permission_id , 'allow')" >
                                                                <font-awesome-icon icon="ban"/>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn _allow float-right" 
                                                            @click="authorizeObject(privilege.permission_id, 'disallow')">
                                                                <font-awesome-icon icon="check"/>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn_ban float-right" @click="authorizeAll('allow')">
                                                Ban Full
                                                <font-awesome-icon icon="ban"/>
                                            </a>
                                            <a class="btn btn_allow float-right" @click="authorizeAll('disallow')">
                                                Allow Full
                                                <font-awesome-icon icon="check"/>
                                            </a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</template>

<script lang='ts'>
    import { Component, Vue } from "vue-property-decorator";
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import bus from '../../../services/eventBusService';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");

// import router from '../../../router/index';
// import ACLDataService from "../../../services/ACLService";
// import AuthorizationStorage from "../../../services/AuthorizationService";


    @Component
    export default class Security extends Vue {
        // public security: any = {};
        // public permissions: any = {};
        // public permissionIndex = "";
        // public roles: any = {};
        // public rolesPrivileges: any = {};
        // public privileges: any = {};
        // public selectedRole:any = "";

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }


        // retrievePriviledges() {
        //     ACLDataService.getAll()
        //     .then((response) => {
        //         this.security = response;
                
                
                
        //         this.roles = this.security.data.roles;
        //         this.privileges = AuthorizationStorage.privilegeInformation(this.roles, this.security.data.privileges);

            
        //         console.log(this.privileges);
                
        //     })
        //     .catch((e) => {
        //         console.log(e);
        //     });
        // }
        // authorize(permission_id: any, action: any, attribute: string){
        //     var data = {

        //     }
        // }

        // authorizeAll(attribute: string){

        // }

        // authorizeObject(currentIndex: any, attribute: string){

        // }


        // getRolePrivileges(role_id: any, role_name: string, index: any){
        //     this.selectedRole = role_name;
        //     this.rolesPrivileges = this.privileges.filter(function(_privilege: any){
        //         return _privilege.role_id == role_id && _privilege.permission != "0";
        //     });

        //     // console.log(this.rolesPrivileges);
        // }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            // this.retrievePriviledges();
        }

    }
</script>

<style scoped>
    
    .fa-lg{
        color: #364372;
    }

    .btn_status{
        background-color: #f0ff19;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_delete{
        background-color: #ff1952;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_edit{
        background-color: #054731;
        color: #ffffff;
        font-family: cursive;
    }
    
    .btn_new{
        background-color: #054731a4;
        color: #ffffff;
        font-family: cursive;
    }
    .btn_auth{
        background-color: #a1642bf8;
        color: #ffffff;
        font-family: cursive;
    }

    ._ban{
        color: #eb0c0c;
        font-family: cursive;
    }

    ._allow{
        color: #1a7246;
        font-family: cursive;
    }

    .btn_ban{
        color: #ffffff;
        background-color: #eb0c0c;
        font-family: cursive;
    }

    .btn_allow{
        color: #ffffff;
        background-color: #1a7246;
        font-family: cursive;
    }
    
</style>