<template>
        <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mb-0">
                    <span class="col-5">
                        <h5 class="text-left">Employees</h5>
                    </span>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="name"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <span class="col-2 pr-0">
                        <a class="float-right mt-1 btn-sm btn-outline-primary" uk-tooltip="Create New loan" uk-toggle href="#addLoan">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </span>
                </div>
                <div class="uk-flex-top" id="addLoan" uk-modal>
                    <div class="uk-modal-dialog uk-width-2-5">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Employee</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <div class="col-10 p-3">
                                    <label for="username">Employee</label>
                                    <select 
                                        class="form-control" 
                                        v-model="newempLoans.employee_id"
                                        
                                        >
                                            <option>
                                            </option>
                                            <option 
                                            v-for="employee in employees.data.employees" 
                                            :key="employee.id" 
                                            :value="employee.id"
                                            >
                                                {{employee.title}} {{employee.firstName}} {{employee.middleName}} {{employee.lastName}}
                                            </option>
                                        </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Amount</label>
                                    <input
                                        v-model="newempLoans.loan"
                                        
                                        type="text"
                                        class="form-control"
                                        name="name"
                                    />
                                </div>
                                <div class="col-6">
                                    <label for="username">Percent</label>
                                    <input
                                        v-model="newempLoans.percent"
                                        
                                        type="text"
                                        class="form-control"
                                        name="name"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer  uk-text-right">
                            <button type="button" class="btn btn-primary" @click="saveLoan">Add loan</button>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(loan, index) in empLoans" :key="loan.id"
                        >
                            <td>{{loan.employee_name}}</td>
                            <td>
                                <a class="mr-3 btn btn-sm btn-outline-success" data-toggle="modal" href="#editLoan" @click="getEditLoan(index)">
                                    <font-awesome-icon icon="pen"/>
                                </a>
                                <div class="uk-flex-top" id="addLoan" uk-modal>
                                    <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header">
                                            <h5 class="uk-modal-title" id="addHorseLabel">New Employee</h5>
                                        </div>
                                        <div class="uk-modal-body" uk-overflow-auto>
                                            <div class="row w-75 p-4 ml-5 mr-5">
                                                <label for="username">Amount</label>
                                                <input
                                                    v-model="changeempLoans.loan"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="name"
                                                />
                                                <label for="username">Percent</label>
                                                <input
                                                    v-model="changeempLoans.percent"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="percent"
                                                />
                                            </div>
                                        </div>
                                        <div class="uk-modal-footer">
                                            <button type="button" class="btn btn-primary" @click="updateLoan">Update loan</button>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-sm btn-outline-danger" @click="removeLoan(index)">
                                    <font-awesome-icon icon="trash"/>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Horse Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
        
</template>
<script lang="ts">
    import { Component, Vue, Prop } from "vue-property-decorator";
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import PayrollDataService from "../../../services/PayrollService";
    import EmployeeDataService from "../../../services/EmployeeService";
    import $ from 'jquery';
    import Authorize  from '../../../services/AuthorizationService';
    import bus from '../../../services/eventBusService';
    import UIkit from 'uikit';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");

    @Component
    export default class Payroll extends Vue {
        public emploans: any = {};
        public emploanIndex = "";
        public employees: any = {};
        public _employeeLoan: any = false;
        public empLoans: any = {};
        public emploanSave: any = {};
        public updatedempLoan: any = {};
        public deletedempLoan: any = {};
        @Prop({required: true}) readonly id: any;
        public newempLoans: any = {
            taxAndLoans_id: "",
            employee_id: "",
            loan: "",
            percent: ""
        };

        public changeempLoans: any = {
            taxAndLoans_id: "",
            employee_id: "",
            loan: "",
            percent: ""
        };

        public json_data: any = {};
        public json_fields: any = {
            employee_name: "employee_name",
            loan: "loan",
            percent: "percent",
            paid: "paid",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }

        navigate(path: any){
            // router.push({ name: path });
            bus.$emit('navigate', path);
        }

        search(event: any){
            var search = event.target.value;
            console.log(event.target.value);
            this.empLoans = this.empLoans.filter(function(_empLoans: any){
                return _empLoans.taxAndInsurance_id == search;
            });
        }

        getEditLoan(currentIndex: any){
            this.emploanIndex = currentIndex;
            this.changeempLoans.employee_id = this.emploans[this.emploanIndex].employee_id;
            this.changeempLoans.loan = this.emploans[this.emploanIndex].loan;
            this.changeempLoans.percent = this.emploans[this.emploanIndex].percent;
        }    

        saveLoan() {
            if(!Authorize.authorizeCreateRoute('loans')){
                bus.$emit('block', 'auth');
            }
            var data = {
                taxAndLoans_id: this.id,
                employee_id: this.newempLoans.employee_id,
                loan: this.newempLoans.loan,
                percent: this.newempLoans.percent
            };

            console.log(data);
            PayrollDataService.createEmpLoans(data)
            .then((response) => {
                console.log(response);
                this.emploanSave = response;
                UIkit.modal('#addLoan').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }
        retrieveEmpLoans() {
            if(!Authorize.authorizeViewRoute('loans')){
                bus.$emit('block', 'auth');
            }
            PayrollDataService.getAllEmpLoans()
            .then((response) => {
                this.empLoans = response.data.loans;
                this.json_data = this.empLoans;
                console.log(this.empLoans);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveEmployees() {
            EmployeeDataService.getAll()
            .then((response) => {
                this.employees = response;
                console.log(this.employees);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveEmployees();
            this.retrieveEmpLoans();
        }

        updateLoan(){
            if(!Authorize.authorizeUpdateRoute('loans')){
                bus.$emit('block', 'auth');
            }
            var data = {
                taxAndLoans_id: this.id,
                employee_id: this.changeempLoans.employee_id,
                loan: this.changeempLoans.loan,
                percent: this.changeempLoans.percent
            };

            PayrollDataService.updateEmpLoans(this.emploans[this.emploanIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedempLoan = response;
                UIkit.modal('#editLoan').hide();
                this.refreshList();
                 if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
        }

        removeLoan(i: any) {
            if(!Authorize.authorizeDeleteRoute('loans')){
                bus.$emit('block', 'auth');
            }
            PayrollDataService.deleteEmpLoans(this.emploans[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedempLoan = response;
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' }).catch(err => {});
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        /* color: #045463; */
    }
    ._header{

    }
</style>