<template>
        <div class="card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <div class="col-5">
                        <h5 class="text-left">Loans List</h5>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="name"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-primary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <a class="float-right mt-1 btn-sm btn-outline-primary" uk-tooltip="Create New loan" uk-toggle href="#addLoan">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addLoan" uk-modal>
                    <div class="uk-modal-dialog uk-width-1-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Loan</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row w-75 ml-5 mr-5">
                                <label for="username">Name</label>
                                    <input
                                        v-model="newLoans.name"
                                        
                                        type="text"
                                        class="form-control"
                                        name="name"
                                    />
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="btn btn-primary" @click="saveLoan">Add loan</button>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(loan, index) in loans" :key="loan.id"
                        >
                            <td>{{loan.name}}</td>
                            <td class="pr-0">
                                <a class="btn mr-0 float-right btn-sm btn-outline-info" @click="navigate('loan_details', loan.id)">
                                    <font-awesome-icon icon="file"/>
                                </a>
                                <a class="btn mr-3 float-right btn-sm btn-outline-danger" @click="removeLoan(index)">
                                    <font-awesome-icon icon="trash"/>
                                </a>
                                <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-toggle href="#editLoan" @click="getEditLoan(index)">
                                    <font-awesome-icon icon="pen"/>
                                </a>
                                <div class="uk-flex-top" id="editLoan" uk-modal>
                                    <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header">
                                            <h5 class="uk-modal-title" id="addHorseLabel">Edit Loan</h5>
                                        </div>
                                        <div class="uk-modal-body" uk-overflow-auto>
                                            <div class="row w-75 p-4 ml-5 mr-5">
                                                <label for="username">Name</label>
                                                <input
                                                    v-model="changeLoans.name"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="name"
                                                />
                                            </div>
                                        </div>
                                        <div class="uk-modal-footer">
                                            <button type="button" class="btn btn-outline-primary" @click="updateLoan">Create</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Horse Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
</template>
<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import PayrollDataService from "../../../services/PayrollService";
    import $ from 'jquery';
    import Authorize  from '../../../services/AuthorizationService';
    import bus from '../../../services/eventBusService';
    import UIkit from 'uikit';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");

    @Component
    export default class Payroll extends Vue {
        public loans: any = {};
        public loanIndex = "";
        public _employeeLoan: any = false;
        public empLoans: any = {};
        public loanSave: any = {};
        public updatedLoan: any = {};
        public deletedLoan: any = {};
        public newLoans: any = {
            name: "",
            percent: "",
        };

        public changeLoans: any = {
            name: "",
            percent: "",
        };

        public json_data: any = {};
        public json_fields: any = {
            name: "name",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }

        navigate(path: any, params: any){
            if(path == "loan_details"){
                bus.$emit('navigateToLoan', params);
            }
        }

        search(event: any){
            var search = event.target.value;
            console.log(event.target.value);
            this.loans = this.loans.filter(function(_loans: any){
                return _loans.taxAndInsurance_id == search;
            });
        }

        getEditLoan(currentIndex: any){
            this.loanIndex = currentIndex;
            this.changeLoans.name = this.loans[this.loanIndex].name;
            this.changeLoans.percent = this.loans[this.loanIndex].percent;
        }    

        saveLoan() {
            if(!Authorize.authorizeCreateRoute('loans')){
                bus.$emit('block', 'auth');
            }
            var data = {
                name: this.newLoans.name,
                percent: this.newLoans.percent,
            };
            PayrollDataService.createLoans(data)
            .then((response) => {
                console.log(response);
                this.loanSave = response;
                UIkit.modal('#addLoan').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        retrieveLoans() {
            if(!Authorize.authorizeViewRoute('loans')){
                bus.$emit('block', 'auth');
            }
            PayrollDataService.getAllLoans()
            .then((response) => {
                this.loans = response.data.loans;
                this.json_data = this.loans;
                console.log(this.loans);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveEmpLoans() {
            if(!Authorize.authorizeViewRoute('loans')){
                bus.$emit('block', 'auth');
            }
            PayrollDataService.getAllEmpLoans()
            .then((response) => {
                this.empLoans = response;
                console.log(this.empLoans);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveLoans();
            this.retrieveEmpLoans();
        }

        updateLoan(){
            if(!Authorize.authorizeUpdateRoute('loans')){
                bus.$emit('block', 'auth');
            }
            var data = {
                name: this.changeLoans.name,
                percent: this.changeLoans.name,
            };

            PayrollDataService.updateLoans(this.loans[this.loanIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedLoan = response;
                
                UIkit.modal('#editLoan').hide();
                this.refreshList();
                 if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
        }

        removeLoan(i: any) {
            if(!Authorize.authorizeDeleteRoute('loans')){
                bus.$emit('block', 'auth');
            }
            PayrollDataService.deleteLoans(this.loans[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedLoan = response;
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' })
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        /* color: #045463; */
    }
    ._header{

    }
</style>