<template>
    <div class="container">
        <div class="card mt-1 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-1 mb-0">
                    <div class="col-7">
                        <h5 class="text-left">Payroll Informations of {{theMonthString}} {{theYearString}}</h5>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="search($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" >
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-1 pr-0">
                        <a class="float-right mr-1 mt-1 btn-sm btn-outline-primary" uk-tooltip="Create New Payroll" uk-toogle href="#addPayroll">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>New
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addPayroll" uk-modal>
                    <div class="uk-modal-dialog uk-width-3-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">Generate Payroll</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <div class="ml-3 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-warning active">
                                        <input type="radio" name="options" @change="setEmployeesPayroll($event)" value="all" id="option1" checked> All Employees
                                    </label>
                                    <label class="btn btn-outline-info">
                                        <input type="radio" name="options" @change="setEmployeesPayroll($event)" value="some" id="option2"> Some Employees
                                    </label>
                                </div>
                            </div>
                            <div class="row" v-show="!allEmployeesPayroll">
                                <table class="table table-sm table-striped">
                                    <thead>
                                        <tr class="font-weight-light">
                                            <th class="font-weight-bold" scope="col">Employees</th>
                                            <th class="font-weight-light" scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="font-weight-light"
                                            v-for="(employee, index) in employees.data.employees" :key="employee.id"
                                        >
                                            <td>
                                                {{employee.title}} {{employee.firstName}} {{employee.middleName}} {{employee.lastName}}
                                            </td>
                                            <td>
                                                <input 
                                                type="checkbox" 
                                                class="" 
                                                v-model="employee.payroll" 
                                                @change="addEmployeePayroll(index, employee.id, employee.payroll)"
                                                >
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="username">Year</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newPayroll.year"
                                    
                                    >
                                        <option>
                                        </option>
                                        <option 
                                        v-for="year in years.data.years" 
                                        :key="year.id" 
                                        :value="year.id"
                                        >
                                            {{year.year}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="username">Month</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newPayroll.month"
                                    
                                    >
                                        <option>
                                        </option>
                                        <option 
                                        v-for="month in _months" 
                                        :key="month.number" 
                                        :value="month.number"
                                        >
                                            {{month.month}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer  uk-text-right">
                            <button type="button" class="btn btn-primary" @click="generatePayroll">Create Payroll</button>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <th scope="col">Employee</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Salary Deduction</th>
                        <th scope="col">Net Salary</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(payroll) in payrolls" :key="payroll.id"
                        >
                            <td>{{payroll.employee_name}}</td>
                            <td>{{payroll.total_salary}}</td>
                            <td>{{payroll.salary_deduction}}</td>
                            <td>{{payroll.gross_salary}}</td>
                            <td>
                                <a class="btn btn-sm btn-outline-success">
                                    <font-awesome-icon icon="check"/>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger">
                                    <font-awesome-icon icon="ban"/>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-8">
                        
                    </span>
                    <span class="col-4 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Payroll Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import PayrollDataService from "../../../services/PayrollService";
    import timeDataService from "../../../services/timeService";
    import Sync from "../../../services/synchronousService";
    import EmployeeDataService from "../../../services/EmployeeService";
    import $ from 'jquery';
    import Authorize  from '../../../services/AuthorizationService';
    import bus from '../../../services/eventBusService';
    import UIkit from 'uikit';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");

    @Component
    export default class Payroll extends Vue {
        public payrolls: any = {};
        public payrollDatas: any = {};
        public employees: any = {};
        public years: any = {};
        public months: any = {};
        public theMonth: any = new Date().getMonth() + 1;
        public theYear: any = new Date().getFullYear();
        public theMonthString: any = "";
        public theYearString: any = "";
        public currentMonth: any = "";
        public currentYear: any = "";
        public payrollIndex = "";
        public allEmployeesPayroll: any = true;
        public payrollSave: any = {};
        public updatedPayroll: any = {};
        public deletedPayroll: any = {};
        public payrollEmployees: any = [];
        public newPayroll: any = {
            month: "",
            year: "",
        };

        public changePayroll: any = {
            month: "",
            year: "",
        };

        public json_data: any = {};
        public json_fields: any = {
            employee_name: "employee_name",
            total_salary: "total_salary",
            salary_deduction: "salary_deduction",
            gross_salary: "gross_salary",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }

        public _months: any = 
        [
            {
                "number": 1,
                "month":"January"
            },
            {
                "number": 2,
                "month":"February"
            },
            {
                "number": 3,
                "month":"March"
            },
            {
                "number": 4,
                "month":"April"
            },
            {
                "number": 5,
                "month":"May"
            },
            {
                "number": 6,
                "month":"June"
            },
            {
                "number": 7,
                "month":"July"
            },
            {
                "number": 8,
                "month":"August"
            },
            {
                "number": 9,
                "month":"September"
            },
            {
                "number": 10,
                "month":"October"
            },
            {
                "number": 11,
                "month":"November"
            },
            {
                "number": 12,
                "month":"December"
            }
        ];
        navigate(path: any){
            bus.$emit('navigate', path);
        }

        search(event: any){
            var search = event.target.value;
            console.log(event.target.value);
            this.payrolls = this.payrolls.filter(function(_payrolls: any){
                return _payrolls.taxAndInsurance_id == search;
            });
        }
        retrieveEmployees() {
            EmployeeDataService.getAll()
            .then((response) => {
                this.employees = response;
                console.log(this.employees);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveYears() {
            timeDataService.getYears()
            .then((response) => {
                this.years = response;
                console.log(this.years);
                this.retrieveMonths();
            })
            .catch((e) => {
                console.log(e);
            });
        }

        setYearAndMonth(year: any, month: any){
            console.log(year);
            console.log(month);
            var _Year = this.years.data.years.filter(function(_years: any){
                return _years.year == year;
            });
            this.currentYear = _Year[0].id;

            var _Month = this.months.data.months.filter(function(_months: any){
                return _months.month == month;
            });
            this.currentMonth = _Month[0].id;
            console.log(this.currentYear);
            console.log(this.currentMonth);
            if(Sync.Await(true, 2000)){
                this.setMoment(year, month);
                this.setPayrolls(this.currentYear, this.currentMonth);
            }
        }

        setMoment(year: any, month: any){
            this.theYearString = year;
            if(month == 1){
                this.theMonthString = "January";
            }
            if(month == 2){
                this.theMonthString = "February";
            }
            if(month == 3){
                this.theMonthString = "March";
            }
            if(month == 4){
                this.theMonthString = "April";
            }
            if(month == 5){
                this.theMonthString = "May";
            }
            if(month == 6){
                this.theMonthString = "June";
            }
            if(month == 7){
                this.theMonthString = "July";
            }
            if(month == 8){
                this.theMonthString = "August";
            }
            if(month == 9){
                this.theMonthString = "September";
            }
            if(month == 10){
                this.theMonthString = "October";
            }
            if(month == 11){
                this.theMonthString = "November";
            }
            if(month == 12){
                this.theMonthString = "December";
            }

            console.log(this.theYearString);
            console.log(this.theMonthString);
        }

        setPayrolls(y: any, m: any){
            console.log(this.payrollDatas);
            this.payrolls = this.payrollDatas.filter(function(_payroll: any){
                console.log(_payroll);
                return _payroll.month_id == m.toString() && _payroll.year_id == y.toString();
            });
            console.log(this.payrolls);
            this.json_data = this.payrolls;
        }

        retrieveMonths() {
            timeDataService.getMonths()
            .then((response) => {
                this.months = response;
                console.log(this.months);
                this.setYearAndMonth(this.theYear, this.theMonth);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrievePayroll() {
            PayrollDataService.getPayroll()
            .then((response) => {
                this.payrollDatas = response.data.payrolls;
                console.log(this.payrollDatas);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        employeesInformation(){
            this.payrollEmployees = [];
            for(var a in this.employees.data.employees){
                this.payrollEmployees.push(this.employees.data.employees[a].id);
                this.employees.data.employees[a].payroll = false;
            }
            console.log(this.payrollEmployees);
        }

        setEmployeesPayroll(event: any){
            console.log(event.target.value)
            this.payrollEmployees = [];
            if(event.target.value == "all"){
                this.allEmployeesPayroll = true;
                for(var i in this.employees.data.employees){
                    this.payrollEmployees.push(this.employees.data.employees[i].id);
                    this.employees.data.employees[i].payroll = true;
                }
            }else{
                this.allEmployeesPayroll = false;
                for(var j in this.employees.data.employees){
                    this.employees.data.employees[j].payroll = false;
                }
            }
            console.log(this.payrollEmployees);
        }

        addEmployeePayroll(y: any, employee_id: any, payrollState: boolean){
            if(payrollState == true){
                this.payrollEmployees.push(this.employees.data.employees[y].id);
            }else{
                for(var x in this.payrollEmployees){
                    if(this.payrollEmployees[x].id == employee_id){
                        this.payrollEmployees.splice(x,1);
                    }
                }
            }
            console.log(this.payrollEmployees);

        }

        generatePayroll() {
            
            if(!Authorize.authorizeCreateRoute('payroll')){
                bus.$emit('block', 'auth');
            }
            var data = {
                employee_id: this.payrollEmployees,
                year: this.newPayroll.year,
                month: this.newPayroll.month,
            };
            
            console.log(data);

            PayrollDataService.createPayroll(data)
            .then((response) => {
                console.log(response);
                this.payrollSave = response;
                UIkit.modal('#addEmployee').hide();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
                this.refreshList();
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

       

        refreshList() {
            this.retrieveEmployees();
            this.retrieveYears();
            this.retrievePayroll();
        }

        

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        /* color: #045463; */
    }
    ._header{

    }
</style>