<template>
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-6 card mt-3 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <div class="col-5">
                        <h5 class="text-left">Insurance Providers</h5>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="searchIsurance($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-primary" uk-tooltip="Create New Payroll" uk-toogle href="#addPayroll">
                                <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <a class="float-right mt-1 btn-sm btn-outline-primary" uk-tooltip="Create New Insurance" uk-toggle href="#addInsurance">
                            <font-awesome-icon icon="plus" size="lg" class="fa-lg"/>New
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addInsurance" uk-modal>
                    <div class="uk-modal-dialog uk-width-1-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Insurance</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row w-75 ml-5 mr-5">
                                <label for="username">Name</label>
                                    <input
                                        v-model="newInsurance.name"
                                        
                                        type="text"
                                        class="form-control"
                                        name="name"
                                    />
                            </div>
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button type="button" class="btn btn-primary" @click="saveInsurance">Add Insurance</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(insurance, index) in insurances" :key="insurance.id"
                        >
                            <td>{{insurance.name}}</td>
                            <td>
                                <a class="btn btn-sm mr-0 float-right btn-outline-danger" uk-tooltip="Delete Insurance" @click="removeInsurance(index)">
                                    <font-awesome-icon icon="trash"/>
                                </a>
                                <a class="mr-3 btn btn-sm mr-3 float-right btn-outline-success" uk-toggle uk-tooltip="Edit Insurance" href="#editInsurance" @click="getEditInsurance(index)">
                                    <font-awesome-icon icon="pen"/>
                                </a>
                                <div class="uk-flex-top" id="editInsurance" uk-modal>
                                    <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header">
                                            <h5 class="uk-modal-title" id="addHorseLabel">New Insurance</h5>
                                        </div>
                                        <div class="uk-modal-body" uk-overflow-auto>
                                            <div class="row p-4 ml-5 mr-5">
                                                <label for="username">Name</label>
                                                <input
                                                    v-model="changeInsurance.name"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="name"
                                                />
                                                <label for="username">Percent</label>
                                                <input
                                                    v-model="changeInsurance.percent"
                                                    
                                                    type="text"
                                                    class="form-control"
                                                    name="percent"
                                                />
                                            </div>
                                        </div>
                                        <div class="uk-modal-footer uk-text-right">
                                            <button type="button" class="btn btn-primary" @click="updateInsurance">Update Insurance</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <a class="btn mr-3 float-right btn-sm btn-outline-info" @click="selectViewInsurance(insurance.id, insurance.name)">
                                    <font-awesome-icon icon="file"/>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-6">
                        
                    </span>
                    <span class="col-6 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="json_data"
                        :fields="json_fields"
                        worksheet="My Worksheet"
                        name="Insurance Providers Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6 card mt-3 card-container" v-show="_employeeTax">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <div class="col-5">
                        <h5 class="text-left">{{selectedTaxInsurance}}    Employees</h5>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <!-- <input
                                type="text"
                                class="form-control col-10 float-left"
                                name="search"
                                @keyup="searchEmployee($event)"
                            />
                            <a class="float-left col-2 btn-sm btn-outline-secondary" uk-tooltip="Create New Payroll" uk-toogle href="#addPayroll">
                                <font-awesome-icon icon="search" size="50" class="fa-lg"/>
                            </a> -->
                        </div>
                    </div>
                    <div class="col-2 pr-0">
                        <a class="float-right mt-1 btn-sm btn-outline-primary" uk-tooltip="Add Employee" uk-tooggle href="#addEmpInsurance">
                            <font-awesome-icon icon="plus" size="lg" class="fa-lg"/>New
                        </a>
                    </div>
                </div>
                <div class="uk-flex-top" id="addEmpInsurance" uk-modal>
                    <div class="uk-modal-dialog  uk-width-1-4">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <div class="uk-modal-header">
                            <h5 class="uk-modal-title" id="addHorseLabel">New Employee</h5>
                        </div>
                        <div class="uk-modal-body" uk-overflow-auto>
                            <div class="row">
                                <div class="col-11 p-3">
                                    <label for="username">Employee</label>
                                    <select 
                                    class="form-control" 
                                    v-model="newEmpInsurance.employee_id"
                                    
                                    >
                                        <option>
                                        </option>
                                        <option 
                                        v-for="employee in employees.data.employees" 
                                        :key="employee.id" 
                                        :value="employee.id"
                                        >
                                            {{employee.title}} {{employee.firstName}} {{employee.middleName}} {{employee.lastName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="uk-modal-footer">
                            <button type="button" class="btn btn-primary" @click="saveEmpInsurance">Add Insurance</button>
                        </div>
                    </div>
                </div>
                 
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr class="font-weight-light">
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                        <!-- <th scope="col"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-weight-light"
                            v-for="(empInsurance, index) in selectedEmpTaxInsurances" :key="empInsurance.id"
                        >
                            <td>{{empInsurance.employee_name}}</td>
                            <td>
                                <a class="btn btn-sm btn-outline-danger" @click="removeEmpInsurance(index)">
                                    <font-awesome-icon icon="trash"/>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="card-footer">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-6">
                        
                    </span>
                    <span class="col-6 pr-0">
                        <download-excel
                        class="btn btn-outline-success"
                        :data="jsonData"
                        :fields="jsonFields"
                        worksheet="My Worksheet"
                        name="Insurance Employees Report"
                        >
                        </download-excel>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import { Component, Vue,  } from "vue-property-decorator";
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import PayrollDataService from "../../../services/PayrollService";
    import Sync from "../../../services/synchronousService";
    import EmployeeDataService from "../../../services/EmployeeService";
    import $ from 'jquery';
    import Authorize  from '../../../services/AuthorizationService';
    import UIkit from 'uikit';
    import bus from '../../../services/eventBusService';
    import { namespace } from "vuex-class"; 
    const Auth = namespace("Auth");

    @Component
    export default class Insurance extends Vue {
        public insuranceIndex = "";
        public insurances: any = {};
        public employees: any = {};
        public empInsuranceIndex = "";
        public selectedTaxInsurance = "";
        public selectedTaxInsurance_id = "";
        public selectedEmpTaxInsurances: any = {};
        public empInsurances: any = {};
        public empInsuranceSave: any = {};
        public updatedEmpInsurance: any = {};
        public deletedEmpInsurance: any = {};
        public _employeeTax: any = false;
        public insuranceSave: any = {};
        public updatedInsurance: any = {};
        public deletedInsurance: any = {};
        public newInsurance: any = {
            name: "",
            percent: "",
        };

        public changeInsurance: any = {
            name: "",
            percent: "",
        };

        public json_data: any = {};
        public json_fields: any = {
            name: "name",
            percent: "percent",
            status: "status"
        };

        public newEmpInsurance: any = {
            employee_id: "",
            taxAndInsurance_id: ""
        };

        public changeEmpInsurance: any = {
            employee_id: "",
        };

        public jsonData: any = {};
        public jsonFields: any = {
            employee_name: "employee_name",
            status: "status"
        };

        @Auth.Getter
        public isLoggedIn!: boolean;

        @Auth.Getter
        public membershipStatus!: any;

        @Auth.Action
        public login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }
        searchIsurance(event: any){
            var search = event.target.value;
            console.log(event.target.value);
            this.insurances = this.insurances.filter(function(_insurance: any){
                return _insurance.taxAndInsurance_id == search;
            });
        }

        searchEmployee(event: any){
            var search = event.target.value;
            console.log(event.target.value);
            this.selectedEmpTaxInsurances = this.selectedEmpTaxInsurances.filter(function(_selectedEmpTaxInsurances: any){
                return _selectedEmpTaxInsurances.taxAndInsurance_id == search;
            });
        }


        navigate(path: any){
            bus.$emit('navigate', path);
        }

        getEditInsurance(currentIndex: any){
            this.insuranceIndex = currentIndex;
            this.changeInsurance.name = this.insurances[this.insuranceIndex].name;
            this.changeInsurance.percent = this.insurances[this.insuranceIndex].percent;
        } 
        
        selectViewInsurance(taxInsurance_id: any, taxInsurance: any){
            this.selectedTaxInsurance_id = taxInsurance_id;
            this.selectedTaxInsurance = taxInsurance;
            this.selectedEmpTaxInsurances = this.empInsurances.filter(function(_empInsurance: any){
                return _empInsurance.taxAndInsurance_id == taxInsurance_id;
            });
            this._employeeTax = true;
            console.log(this.selectedEmpTaxInsurances);
            console.log(this.empInsurances);
        }

        saveInsurance() {
            if(!Authorize.authorizeCreateRoute('taxes')){
                bus.$emit('block', 'auth');
            }
            var data = {
                name: this.newInsurance.name,
                percent: this.newInsurance.percent,
            };
            PayrollDataService.createTaxes(data)
            .then((response) => {
                console.log(response);
                this.insuranceSave = response;
                UIkit.modal('#addLoan').hide();
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        saveEmpInsurance() {
            if(!Authorize.authorizeCreateRoute('taxes')){
                bus.$emit('block', 'auth');
            }
            var data = {
                taxAndInsurance_id: this.selectedTaxInsurance_id,
                employee_id: this.newEmpInsurance.employee_id,
            };

            console.log(data);
            PayrollDataService.createEmpTaxes(data)
            .then((response) => {
                console.log(response);
                this.empInsuranceSave = response;
                UIkit.modal('#addEmpInsurance').hide();
                this.refreshList();
                if(Sync.Await(true, 5000)){
                    this.selectViewInsurance(this.selectedTaxInsurance_id, this.selectedTaxInsurance);
                }
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
                
                
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        retrieveInsurance() {
            if(!Authorize.authorizeViewRoute('taxes')){
                bus.$emit('block', 'auth');
            }
            PayrollDataService.getAllTaxes()
            .then((response) => {
                this.insurances = response.data.insurances;
                this.json_data = this.insurances;
                console.log(this.insurances);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveEmpInsurance() {
            if(!Authorize.authorizeViewRoute('taxes')){
                bus.$emit('block', 'auth');
            }
            PayrollDataService.getAllEmpTaxes()
            .then((response) => {
                this.empInsurances = response.data.empInsurances;
                this.jsonData = this.empInsurances;
                console.log(this.empInsurances);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        retrieveEmployees() {
            EmployeeDataService.getAll()
            .then((response) => {
                this.employees = response;
                console.log(this.employees);
            })
            .catch((e) => {
                console.log(e);
            });
        }

        refreshList() {
            this.retrieveInsurance();
            this.retrieveEmpInsurance();
            this.retrieveEmployees();
        }

        updateInsurance(){
            if(!Authorize.authorizeUpdateRoute('taxes')){
                bus.$emit('block', 'auth');
            }
            var data = {
                name: this.changeInsurance.name,
                percent: this.changeInsurance.name,
            };

            PayrollDataService.updateTaxes(this.insurances[this.insuranceIndex].id, data)
            .then((response) => {
                console.log(response.data);
                this.updatedInsurance = response;
                UIkit.modal('#editLoan').hide();
                this.refreshList();
                 if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
        }

        removeInsurance(i: any) {
            if(!Authorize.authorizeDeleteRoute('taxes')){
                bus.$emit('block', 'auth');
            }
            PayrollDataService.deleteTaxes(this.insurances[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedInsurance = response;
                this.refreshList();
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        removeEmpInsurance(i: any) {
            if(!Authorize.authorizeDeleteRoute('taxes')){
                bus.$emit('block', 'auth');
            }
            console.log(this.selectedEmpTaxInsurances[i].id);
            PayrollDataService.deleteEmpTaxes(this.selectedEmpTaxInsurances[i].id)
            .then((response) => {
                console.log(response.data);
                this.deletedEmpInsurance = response;
                this.refreshList();
                if(Sync.Await(true, 5000)){
                    this.selectViewInsurance(this.selectedTaxInsurance_id, this.selectedTaxInsurance);
                }
                if(response.status =="success"){
                    bus.$emit('success', response.data.message);
                }else{
                     bus.$emit('failed', response.data.message);
                }
            })
            .catch((e) => {
                console.log(e);
            });
            
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>

<style scoped>
    
    .fa-lg{
        /* color: #045463; */
    }
    
</style>