<template>
  <div class="container">
    <!-- <header class="jumbotron"> -->
      <h3>Home</h3>
    <!-- </header> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
// import UserService from "@/services/UserService";

@Component
export default class Home extends Vue {
  private content = "";

  mounted() {
    // UserService.getPublicContent().then(
    //   (response) => {
    //     this.content = response.data;
    //   },
    //   (error) => {
    //     this.content =
    //       (error.response && error.response.data) ||
    //       error.message ||
    //       error.toString();
    //   }
    // );
  }
}
</script>