<template>
  <div class="container-fluid">
      <h4 class="m-0">Dashboard</h4>
      <div class="mb-2">
          <small class="font-weight-light font-italic">Quick shortcut </small>
      </div>
      <hr class="p-0 m-0">
      <div class="mt-2">
          <div class="row">
              <div class="col">
                  <div class="card card-body card-back" @click="navigate('employees')">
                      <div class="row  mt-3">
                          <div class="col p-0 m-0">
                              <font-awesome-icon icon="users" class="card-icon ml-4" size="20"/>
                          </div>
                          <div class="col p-0 m-0 mt-1">
                              <span class="mt-2 card-back-text">Employees</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card card-body card-back">
                      <div class="row  mt-3">
                          <div class="col p-0 m-0">
                              <font-awesome-icon icon="money-check-alt" class="card-icon ml-4" size="20"/>
                          </div>
                          <div class="col p-0 m-0 mt-1">
                              <span class="mt-2 card-back-text">Purchase</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card card-body card-back">
                      <div class="row  mt-3">
                          <div class="col p-0 m-0">
                              <font-awesome-icon icon="truck" class="card-icon ml-4" size="20"/>
                          </div>
                          <div class="col p-0 m-0 mt-1">
                              <span class="mt-2 card-back-text">Trucks</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card card-body card-back">
                      <div class="row  mt-3">
                          <div class="col p-0 m-0">
                              <font-awesome-icon icon="money-bill" class="card-icon ml-4" size="20"/>
                          </div>
                          <div class="col p-0 m-0 mt-1">
                              <span class="mt-2 card-back-text">Sales</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row mt-lg-4">
              <div class="col">
                  <div class="card card-body card-back" >
                      <div class="row  mt-3">
                          <div class="col p-0 m-0">
                              <font-awesome-icon icon="car" class="card-icon ml-4" size="20"/>
                          </div>
                          <div class="col p-0 m-0 mt-1">
                              <span class="mt-2 card-back-text">Vehicles</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card card-body card-back">
                      <div class="row  mt-3">
                          <div class="col p-0 m-0">
                              <font-awesome-icon icon="trailer" class="card-icon ml-4" size="20"/>
                          </div>
                          <div class="col p-0 m-0 mt-1">
                              <span class="mt-2 card-back-text">Trailers</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card card-body card-back">
                      <div class="row  mt-3">
                          <div class="col p-0 m-0">
                              <font-awesome-icon icon="user" class="card-icon ml-4" size="20"/>
                          </div>
                          <div class="col p-0 m-0 mt-1">
                              <span class="mt-2 card-back-text">Debtors</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card card-body card-back">
                      <div class="row mt-3">
                          <div class="col p-0 m-0">
                              <font-awesome-icon icon="user" class="card-icon ml-4" size="20"/>
                          </div>
                          <div class="col p-0 m-0 mt-1">
                              <span class="mt-2 card-back-text">Creditor</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row d-flex justify-content-center">
        
      </div>
    </div>
  
</template>

<script lang="ts">
  import Navigation from './layout/navbar.vue'
  import { Component, Vue } from "vue-property-decorator";
  import AuthorizeUserStatus  from '../services/checkUserStatusService';
  // import UserService from "../services/userService";
  import router from '../router/index';
  
  import { namespace } from "vuex-class"; 
  import bus from '../services/eventBusService';
  const Auth = namespace("Auth");

  @Component({
    components: {
      Navigation
    }
  })
  export default class Home extends Vue {
    public content = "";
    // public home: boolean = false;

    @Auth.Getter
    public isLoggedIn!: boolean;

    @Auth.Getter
    public membershipStatus!: any;

    @Auth.Action
    public login!: (data: any) => Promise<any>;

    created() {
        if (!this.isLoggedIn) {
            router.push("/");
        }

        if (this.membershipStatus == "new") {
            bus.$emit('navigate', 'user_verify');
        }
    }
    mounted() {
      if(AuthorizeUserStatus.auth()){
          setTimeout(function(){
              router.push({ name: 'user_verify' });
          }.bind(this), 2000);
      }
      // UserService.getPublicContent().then(
      //   (response) => {
      //     this.content = response.data;
      //   },
      //   (error) => {
      //     this.content =
      //       (error.response && error.response.data) ||
      //       error.message ||
      //       error.toString();
      //   }
      // );
    }

    navigate(path: any){
      this.$bus.$emit('navigate', path);
    }
  }
</script>
<style scoped>
  /*.dash_link{*/
  /*  height: 100%;*/
  /*}*/

  /*.dash_link:hover{*/
  /*  transform: scale(1.2,1,2);*/
  /*}*/

  /*.card:hover{*/
  /*  transform: scale(1.2,1,2);*/
  /*  background-color: white;*/
  /*  box-shadow: 0px 10px 10px 5px #045463;*/
  /*}*/

  /*.card{*/
  /*  background-color: white;*/
  /*  box-shadow: 0px 5px 5px #045463;*/
  /*}*/

  /*.icon_nav{*/
  /*  color:  #045463;*/
  /*  margin: 25% 25% 25% 25%;*/
  /*}*/




  .card-back {
      /*padding-left: 20px;*/
      /*padding-right: 20px;*/
      box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
      background-color: dodgerblue;
      transition: 0.3s;
      color: white;
      height: 120px;
  }

    .card-back:hover {
        color: wheat;
        transform: scale(1.2,1.2);
        box-shadow: 0px 10px 10px 5px #045463;
    }

    .card-icon{
        font-size: 38px;
    }

    .card-back-text{
        font-family: "Courier New";
        font-size: 20px;
        margin-right: 8px;
        margin-top: 2px;
    }

    .card-detail{
        color: white;
        font-weight: lighter;
        margin-top: 3px;
    }
</style>
