<template>
    <div class="container">
        <span></span>
        <div class="row _header mt-0 ml-3">
            <div class="col-8">
                <h4>Management</h4>
            </div>
            <div class="col-2 float-right">
                   <!-- <button type="button" class="btn btn-outline-secondary"@click="navigate('security')" v-show="security" >Security</button>       -->
                   <button type="button" class="btn btn-outline-secondary" v-show="security" >Security</button>      
            </div>
            <div class="col-2 float-right">
                   <button type="button" class="btn btn-outline-secondary" v-show="store">Store</button>      
                   <!-- <button type="button" class="btn btn-outline-secondary"@click="navigate('store')" v-show="store">Store</button>       -->
            </div>
        </div>
        <!-- <div class="card mt-5 card-container">
            <div class="card-title">
                <div class="row ml-3 mr-3 mt-2 mb-0">
                    <span class="col-11">
                        <h5>Employees List</h5>
                    </span>
                    <span class="col-1 pr-0">
                        <a class="float-right mr-1 mt-1" data-toggle="modal" href="#exampleModal">
                            <font-awesome-icon icon="plus" size="50" class="fa-lg"/>
                        </a>
                    </span>
                </div>
                
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div> -->
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import router from '../../router/index';
    import Authorize  from '../../services/AuthorizationService';
    import AuthorizeUserStatus  from '../../services/checkUserStatusService';
    import bus from '../../services/eventBusService';

    @Component
    export default class Employee extends Vue {
        public security: any = false;
        public store: any = false;
        navigate(path: any){
            // router.push({ name: path });
            bus.$emit('navigate', path);
        }

        showLink(){
            this.security = Authorize.authorizeViewRoute('security');
            this.store = Authorize.authorizeViewRoute('store');
        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' });
                }.bind(this), 2000);
            }
            this.showLink();
        }
        
    }
</script>

<style scoped>
   
    .fa-lg{
        color: #364372;
    }
    ._header{

    }
</style>