<template>
  <div id="app" class="app">
   
    <router-view/>
  </div>
</template>
<script lang="ts">

export default {
  name: 'App',
  methods: {
    
  },
};
</script>
<style>
/* @import "../node_modules/uikit/src/less/uikit.less"; */
h5,h6, h4,h3,h2{
        font-family: Caladea;
        color: #045463;
        /* color: #0ea56e; */
        /*font-weight: bolder;*/
    }

    .app{
      /*padding-right: 0px;*/
      /*padding-left: 0px;*/
      /*padding-left: 0px;*/
      /*padding-left: 0px;*/
    }

    label, th{
        /*font-family: cursive;*/
        /*font-weight: bold;*/
        /*color: #0ea56e;*/
    }

    td{
        /*font-family: cursive;*/
        /*color:  #045463;*/
    }

    .btn_status{
        background-color: #f0ff19;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_delete{
        background-color: #ff1952;
        color: #ffffff;
        font-family: cursive;
    }

    .btn_edit{
        background-color: #054731a4;
        color: #ffffff;
        font-family: cursive;
    }
    .uk-modal-dialog, .uk-modal-header, .uk-modal-body, .uk-modal-footer{
      background-color: rgb(214, 235, 235);
    }
    .card-title{
      height: 20px;
    }

    .card-footer{
      height: 60px;
    }
    .btn{
      height: 35px;
      text-align: center;
    }
    tr{
      height: 15px;
    }
</style>
