<template>
    <div class="container-fluid justify-content-between">
        <div >
            <b-row class="">
                <b-col></b-col>
                <b-col cols="8"></b-col>
                <b-col>
                    <span id="show-btn" @click="$bvModal.show('modal-login')" class="float-right log-in">Log In</span>
                    <b-modal id="modal-login" hide-footer>
                        <template #modal-title>
                            login
                        </template>
                        <div class="d-block">
                            <b-form @submit.prevent="loginUser">
                                <b-form-group id="input-group-1" label="Email" label-for="input-1">
                                    <b-form-input id="input-1" v-model="email" type="email" placeholder="Enter email" ></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-2" label="Password" label-for="input-2">
                                    <b-form-input id="input-2" v-model="password" placeholder="Enter Password" type="password" ></b-form-input>
                                </b-form-group>

                                <b-button type="submit" variant="primary" class="mr-2">Submit</b-button>
                            </b-form>
                        </div>
<!--                        <b-button class="mt-3" block @click="$bvModal.hide('modal-login')">Close Me</b-button>-->
                    </b-modal>
                </b-col>
            </b-row>
        </div>
    </div>
</template>


<script>
import axios from 'axios'
export default {
    data() {
        return {
            'email' : '',
            'password' : ''
        }
    },

    methods: {
      async loginUser() {
          const response = await axios.post('login', {
              email: this.email,
              password: this.password,
          });
          localStorage.setItem('token', response.data.access_token);
          this.$store.dispatch('user', response.data.user);
          this.$router.push('/home');

      }
    }
}
</script>

<style>
    .log-in {
        font-family: SansSerif;
        font-size: 18px;
        cursor: pointer;
    }
</style>
