<template>
    <div class="container-fluid">
        <h4 class="m-0">Fuels Requests</h4>
        <div class="mb-2">
            <small class="font-weight-light font-italic">All the request of fuels</small>
        </div>
        <hr class="p-0 m-0">
<!--        modal and its button-->
        <div class="">
            <a class="float-right mr-1 mt-1 btn btn-sm btn-outline-primary" uk-tooltip="Create New Fuel Request" uk-toggle href="#addfuel">
                <font-awesome-icon icon="plus" size="50" class="fa-lg mr-2"/>New
            </a>
            <div class="uk-flex-top" id="addfuel" uk-modal>
                <div class="uk-modal-dialog  uk-width-2-3">
                    <button class="uk-modal-close-default" type="button" uk-close></button>

                    <div class="uk-modal-header">
                        <h5 class="uk-modal-title" id="addHorseLabel">New Fuel Request</h5>
                    </div>
                    <div class="uk-modal-body" uk-overflow-auto>
                        <div class="row">
                            <div class="col-6">
                                <label for="username">Plate Number</label>
                                <input
                                        v-model="newFuel.plate_number"

                                        type="text"
                                        class="form-control"
                                        name="plate_number"
                                />
                            </div>
                            <div class="col-6">
                                <label for="username">Fuel Type</label>
                                <input
                                        v-model="newFuel.fuel_type"

                                        type="text"
                                        class="form-control"
                                        name="fuel_type"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="username">Voucher Number</label>
                                <input
                                        v-model="newFuel.voucher_number"

                                        type="text"
                                        class="form-control"
                                        name="voucher_number"
                                />
                            </div>

                            <div class="col-6">
                                <label for="username">Amount</label>
                                <input
                                        v-model="newFuel.amount"

                                        type="number"
                                        class="form-control"
                                        name="amount"
                                />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="username">Litre</label>
                                <input
                                        v-model="newFuel.litre"

                                        type="number"
                                        class="form-control"
                                        name="litre"
                                />
                            </div>
                            <div class="col-6">
                                <label for="username">Unit Price</label>
                                <input
                                        v-model="newFuel.unit_price"

                                        type="number"
                                        class="form-control"
                                        name="unit_price"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="username">Receipt Number</label>
                                <input
                                        v-model="newFuel.receipt_number"

                                        type="number"
                                        class="form-control"
                                        name="litre"
                                />
                            </div>
                            <div class="col-6">
                                <label for="username">Driver Name</label>
                                <input
                                        v-model="newFuel.driver_name"

                                        type="text"
                                        class="form-control"
                                        name="driver_name"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="username">Driver Phone</label>
                                <input
                                        v-model="newFuel.driver_mobile_number"

                                        type="number"
                                        class="form-control"
                                        name="litre"
                                />
                            </div>
                            <div class="col-6">
                                <label for="username">Location</label>
                                <input
                                        v-model="newFuel.location"

                                        type="text"
                                        class="form-control"
                                        name="location"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="btn btn-outline-primary" @click="saveFuel">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-2">
            <table class="table table-sm table-striped">
                <thead>
                <tr class="font-weight-light">
                    <th class="font-weight-light" scope="col"></th>
                    <th class="font-weight-light" scope="col">Driver</th>
                    <th class="font-weight-light" scope="col">Fuel Type</th>
                    <th class="font-weight-light" scope="col">Plate Number</th>
                    <th class="font-weight-light" scope="col">Status</th>
                    <th class="font-weight-light" scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="font-weight-light"
                    v-for="(fuel, index) in fuels" :key="fuel.id"
                >
                    <td>{{index + 1}}</td>
                    <td>
                        {{fuel.driver_name}}<br/>
                        {{fuel.driver_mobile_number}}
                    </td>
                    <td>{{fuel.fuel_type}}</td>
                    <td>{{fuel.plate_number}}</td>
                    <td>{{fuel.status}}</td>
                    <td>
                        <a class="float-right btn btn-sm btn-outline-danger" uk-tooltip="Delete" @click="removefuel(index)">
                            <font-awesome-icon icon="trash"/>
                        </a>
                        <a class="mr-3 float-right btn btn-sm btn-outline-danger"  uk-tooltip="Reject Fuel Request" @click="reject(index, 'Fuel')" v-show="manage_fuel">
                            <font-awesome-icon icon="ban"/>
                        </a>
                        <a class="mr-3 float-right btn btn-sm btn-outline-success" uk-tooltip="Approve Fuel Request" @click="approve(index, 'Fuel')" v-show="manage_fuel">
                            <font-awesome-icon icon="check"/>
                        </a>
                        <a class="mr-3 float-right btn btn-sm btn-outline-warning" uk-tooltip="Edit" uk-toggle href="#editfuel" @click="getEditFuel(index)">
                            <font-awesome-icon icon="pen"/>
                        </a>
                        <div class="uk-flex-top" id="editfuel" uk-modal>
                            <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                <button class="uk-modal-close-default" type="button" uk-close></button>

                                <div class="uk-modal-header">
                                    <h5 class="uk-modal-title" id="addHorseLabel">Edit Fuel Request</h5>
                                </div>
                                <div class="uk-modal-body" uk-overflow-auto>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="username">Plate Number</label>
                                            <input
                                                    v-model="fuelChange.plate_number"

                                                    type="text"
                                                    class="form-control"
                                                    name="plate_number"
                                            />
                                        </div>
                                        <div class="col-6">
                                            <label for="username">Fuel Type</label>
                                            <input
                                                    v-model="fuelChange.fuel_type"

                                                    type="text"
                                                    class="form-control"
                                                    name="fuel_type"
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="username">Voucher Number</label>
                                            <input
                                                    v-model="fuelChange.voucher_number"

                                                    type="text"
                                                    class="form-control"
                                                    name="voucher_number"
                                            />
                                        </div>

                                        <div class="col-6">
                                            <label for="username">Amount</label>
                                            <input
                                                    v-model="fuelChange.amount"

                                                    type="number"
                                                    class="form-control"
                                                    name="amount"
                                            />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="username">Litre</label>
                                            <input
                                                    v-model="fuelChange.litre"

                                                    type="number"
                                                    class="form-control"
                                                    name="litre"
                                            />
                                        </div>
                                        <div class="col-6">
                                            <label for="username">Unit Price</label>
                                            <input
                                                    v-model="fuelChange.unit_price"

                                                    type="number"
                                                    class="form-control"
                                                    name="unit_price"
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="username">Receipt Number</label>
                                            <input
                                                    v-model="fuelChange.receipt_number"

                                                    type="number"
                                                    class="form-control"
                                                    name="litre"
                                            />
                                        </div>
                                        <div class="col-6">
                                            <label for="username">Driver Name</label>
                                            <input
                                                    v-model="fuelChange.driver_name"

                                                    type="date"
                                                    class="form-control"
                                                    name="date"
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="username">Driver Phone</label>
                                            <input
                                                    v-model="fuelChange.driver_mobile_number"

                                                    type="number"
                                                    class="form-control"
                                                    name="litre"
                                            />
                                        </div>
                                        <div class="col-6">
                                            <label for="username">Location</label>
                                            <input
                                                    v-model="fuelChange.location"

                                                    type="text"
                                                    class="form-control"
                                                    name="location"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-modal-footer">
                                    <button type="button" class="btn btn-outline-primary" @click="updateFuel">Update</button>
                                </div>
                            </div>
                        </div>

                        <a class="mr-3 float-right btn btn-sm btn-outline-info" uk-toggle uk-tooltip="View" href="#fuelModal" @click="getFuel(index)">
                            <font-awesome-icon icon="file"/>
                        </a>
                        <div class="uk-flex-top" id="fuelModal" uk-modal>
                            <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                <button class="uk-modal-close-default" type="button" uk-close></button>

                                <div class="uk-modal-header">
                                    <h5 class="uk-modal-title" id="addHorseLabel">Fuel {{fuel.driver_name}}</h5>
                                </div>
                                <div class="uk-modal-body" uk-overflow-auto>
                                    <div class="row mb-5">
                                        <div class="col-6">
                                            <h6>Driver Name:</h6><br/>
                                            {{fuelView.driver_name}}
                                        </div>
                                        <div class="col-6">
                                            <h6>Driver Phone Number:</h6><br/>
                                            {{fuelView.driver_mobile_number}}
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-6">
                                            <h6>Fuel Type:</h6><br/>
                                            {{fuelView.fuel_type}}
                                        </div>
                                        <div class="col-6">
                                            <h6>Plate Number:</h6><br/>
                                            {{fuelView.plate_number}}
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-6">
                                            <h6>Litre:</h6><br/>
                                            {{fuelView.litre}}
                                        </div>
                                        <div class="col-6">
                                            <h6>Unit Price:</h6><br/>
                                            {{fuelView.unit_price}}
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-6">
                                            <h6>Amount:</h6><br/>
                                            {{fuelView.amount}}
                                        </div>
                                        <div class="col-6">
                                            <h6>Receipt Number:</h6><br/>
                                            {{fuelView.reciept_number}}
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-6">
                                            <h6>Voucher Number:</h6><br/>
                                            {{fuelView.voucher_number}}
                                        </div>
                                        <div class="col-6">
                                            <h6>Status:</h6><br/>
                                            {{fuelView.status}}
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-8">
                                            <h6>Location:</h6><br/>
                                            {{fuelView.location}}
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-modal-footer">
                                    <a class="btn btn-sm btn-outline-danger float-right" @click="reject(index, 'Fuel')" v-show="manage_fuel">
                                        Reject
                                        <font-awesome-icon icon="ban"/>
                                    </a>
                                    <a class="btn btn-sm btn-outline-success float-right" @click="approve(index, 'Fuel')" v-show="manage_fuel">
                                        Approve
                                        <font-awesome-icon icon="check"/>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script lang="ts">

    import { Component, Vue } from "vue-property-decorator";
    import FuelDataService from "../../../services/FuelServices";
    import Authorize  from '../../../services/AuthorizationService';
    import AuthorizeUserStatus  from '../../../services/checkUserStatusService';
    import router from '../../../router/index';
    import RequestDataService from "../../../services/Requestservice";
    import bus from '../../../services/eventBusService';
    import $ from 'jquery';
    import UIkit from 'uikit';
    import { namespace } from "vuex-class";
    const Auth = namespace("Auth");

    @Component
    export default class Fuel extends Vue {
        private fuelIndex = "";
        private fuels: any = {};
        private fuelSave: any = {};
        private manage_fuel: boolean = false;
        private updatedFuel: any = {};
        private fuelView: any = {};
        private deletedFuel: any = {};
        private newFuel: any = {
            plate_number: "",
            fuel_type: "",
            litre: "",
            unit_price: "",
            voucher_number: "",
            amount: "",
            receipt_number: "",
            driver_name: "",
            driver_mobile_number: "",
            location: "",
        };

        private fuelChange: any = {
            plate_number: "",
            fuel_type: "",
            litre: "",
            unit_price: "",
            voucher_number: "",
            amount: "",
            receipt_number: "",
            driver_name: "",
            driver_mobile_number: "",
            location: "",
        };
        private json_data: any = {};
        private json_fields: any = {
            plate_number: "plate_number",
            fuel_type: "fuel_type",
            litre: "litre",
            unit_price: "unit_price",
            voucher_number: "voucher_number",
            amount: "amount",
            receipt_number: "receipt_number",
            driver_name: "driver_name",
            driver_mobile_number: "driver_mobile_number",
            location: "location",
            status: "status"
        };

        @Auth.Getter
        private isLoggedIn!: boolean;

        @Auth.Getter
        private membershipStatus!: any;

        @Auth.Action
        private login!: (data: any) => Promise<any>;

        created() {
            if (!this.isLoggedIn) {
                router.push("/");
            }

            if (this.membershipStatus == "new") {
                bus.$emit('navigate', 'user_verify');
            }
        }

        // search(event: any){
        //     var search = event.target.value;
        //     console.log(event.target.value);
        //     this.fuels = this.fuels.filter(function(_fuels: any){
        //         return _fuels.taxAndInsurance_id == search;
        //     });
        // }

        showLink(){
            this.manage_fuel = Authorize.authorizeManageRoute('fuel');
        }

        getFuel(fuelIndex: any){
            this.fuelView = this.fuels[fuelIndex];
        }

        approve(i: any, req: string){
            if(!Authorize.authorizeManageRoute('fuel')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "approved",
                table: req,
                id: this.fuels[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
                .then((response) => {
                    console.log(response.data);
                    if(response.status =="success"){
                        bus.$emit('success', response.data.message);
                    }else{
                        bus.$emit('failed', response.data.message);
                    }
                    this.refreshList();
                    this.getFuel(i);
                })
                .catch((e) => {
                    console.log(e);
                });
        }

        reject(i: any, req: string){
            if(!Authorize.authorizeManageRoute('fuel')){
                bus.$emit('block', 'auth');
            }
            var data = {
                status: "rejected",
                table: req,
                id: this.fuels[i].id,
            }
            console.log(data);
            RequestDataService.updateRequestStatus(data)
                .then((response) => {
                    console.log(response.data);
                    if(response.status =="success"){
                        bus.$emit('success', response.data.message);
                    }else{
                        bus.$emit('failed', response.data.message);
                    }
                    this.refreshList();
                    this.getFuel(i);

                })
                .catch((e) => {
                    console.log(e);
                });
        }

        getEditFuel(currentIndex: any){
            console.log(currentIndex);
            this.fuelIndex = currentIndex;
            this.fuelChange.plate_number = this.fuels[this.fuelIndex].plate_number;
            this.fuelChange.fuel_type = this.fuels[this.fuelIndex].fuel_type;
            this.fuelChange.litre = this.fuels[this.fuelIndex].litre;
            this.fuelChange.unit_price = this.fuels[this.fuelIndex].unit_price;
            this.fuelChange.voucher_number = this.fuels[this.fuelIndex].voucher_number;
            this.fuelChange.amount = this.fuels[this.fuelIndex].amount;
            this.fuelChange.receipt_number = this.fuels[this.fuelIndex].receipt_number;
            this.fuelChange.driver_name = this.fuels[this.fuelIndex].driver_name;
            this.fuelChange.driver_mobile_number = this.fuels[this.fuelIndex].driver_mobile_number;
            this.fuelChange.location = this.fuels[this.fuelIndex].location;
        }

        retrieveFuels() {
            FuelDataService.getAll()
                .then((response) => {
                    this.fuels = response.data.fuels;
                    this.json_data = this.fuels;
                    console.log(this.fuels);
                })
                .catch((e) => {
                    console.log(e);
                });
        }

        refreshList() {
            this.retrieveFuels();
            this.showLink();
        }


        saveFuel() {
            if(!Authorize.authorizeCreateRoute('fuel')){
                bus.$emit('block', 'auth');
            }
            var data = {
                plate_number: this.newFuel.plate_number,
                fuel_type: this.newFuel.fuel_type,
                litre: this.newFuel.litre,
                unit_price: this.newFuel.unit_price,
                voucher_number: this.newFuel.voucher_number,
                amount: this.newFuel.amount,
                receipt_number: this.newFuel.receipt_number,
                driver_name: this.newFuel.driver_name,
                driver_mobile_number: this.newFuel.driver_mobile_number,
                location: this.newFuel.location,
            };
            console.log(data);
            FuelDataService.create(data)
                .then((response) => {
                    console.log(response.data);
                    this.fuelSave = response;
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    this.refreshList();
                    if(response.status =="success"){
                        this.$swal('Saving', 'Request Saved Success', 'success');
                    }else{
                        this.$swal('Failed', 'Request not Saved', 'error');
                    }
                    // this.submitted = true;
                })
                .catch((e) => {
                    this.$swal('Error', 'oops something went wrong', 'error');
                    console.log(e);
                });

        }

        updateFuel() {
            if(!Authorize.authorizeUpdateRoute('fuel')){
                bus.$emit('block', 'auth');
            }
            var data = {
                plate_number: this.fuelChange.plate_number,
                fuel_type: this.fuelChange.fuel_type,
                litre: this.fuelChange.litre,
                unit_price: this.fuelChange.unit_price,
                voucher_number: this.fuelChange.voucher_number,
                amount: this.fuelChange.amount,
                receipt_number: this.fuelChange.receipt_number,
                driver_name: this.fuelChange.driver_name,
                driver_mobile_number: this.fuelChange.driver_mobile_number,
                location: this.fuelChange.location,
            };

            FuelDataService.update(this.fuels[this.fuelIndex].id, data)
                .then((response) => {
                    console.log(response.data);
                    this.updatedFuel = response;
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    this.refreshList();
                    if(response.status =="success"){
                        this.$swal('Update', 'Updated', 'success');
                    }else{
                        this.$swal('Error', 'Not Updated', 'error');
                    }
                })
                .catch((e) => {
                    console.log(e);
                });

        }

        removeFuel(i: any) {
            if(!Authorize.authorizeDeleteRoute('fuel')){
                bus.$emit('block', 'auth');
            }
            FuelDataService.delete(this.fuels[i].id)
                .then((response) => {
                    console.log(response.data);
                    this.deletedFuel = response;
                    if(response.status =="success"){
                        this.$swal('Success', 'Deleted', 'warning');
                    }else{
                        this.$swal('Failed', 'Not Deleted', 'error');
                    }
                    this.refreshList();
                })
                .catch((e) => {
                    console.log(e);
                });

        }

        mounted() {
            if(AuthorizeUserStatus.auth()){
                setTimeout(function(){
                    router.push({ name: 'user_verify' }).catch(err => {});
                }.bind(this), 2000);
            }
            this.refreshList();
        }
    }
</script>
