<template>
  <div class="auth">
    <div class="login-content">
      <div class="login_card uk-width-1-4 uk-align-center">
        <div class="card card-small">
          <form name="form" @submit.prevent="updatePassword">
            <h3 class="text-center">Login</h3>
            <!-- <div class="form-group">
              <label for="username">Email</label>
              <input
                v-model="confirm.email"
                v-validate="'required'"
                type="text"
                class="form-control"
                name="username"
              />
              <div
                v-if="errors.has('username')"
                class="alert alert-danger"
                role="alert"
              >
                Username is required!
              </div>
            </div> -->
            <div class="form-group">
              <label for="password">Password</label>
              <input
                v-model="confirm.password"
                v-validate="'required'"
                type="password"
                class="form-control"
                name="password"
              />
              <div
                v-if="errors.has('password')"
                class="alert alert-danger"
                role="alert"
              >
                Password is required!
              </div>
            </div>
            <div class="form-group">
              <label for="password">New Password</label>
              <input
                v-model="confirm.new_password"
                v-validate="'required'"
                type="password"
                class="form-control"
                name="password"
              />
              <div
                v-if="errors.has('password')"
                class="alert alert-danger"
                role="alert"
              >
                Password is required!
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" :disabled="loading">
                <span
                  v-show="loading"
                  class="spinner-border spinner-border-sm"
                ></span>
                <span>Login</span>
              </button>
            </div>
            <div class="form-group">
              <div v-if="message" class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { namespace } from "vuex-class"; 
import userVerificationService from "../../services/userAuthService";
import router from '../../router/index';
import EmployeeDataService from "../../services/EmployeeService";
import bus from '../../services/eventBusService';
// import AuthorizationStorage from "../../services/EmployeeService";
const Auth = namespace("Auth");

const storedUser = localStorage.getItem('user');
const user = JSON.parse(storedUser ? storedUser : "");


@Component
export default class VerifyPassword extends Vue {
  private user: any = { email: "", password: "" };
  private confirm: any = { entered_password: "", new_password: "" };
  private loading = false;
  private newMembership = false;
  private message = "";

  @Auth.Getter
  private isLoggedIn!: boolean;

  @Auth.Getter
  private membershipStatus!: any;

  @Auth.Action
  private login!: (data: any) => Promise<any>;

  created() {
      if (!this.isLoggedIn) {
          router.push("/");
      }
  }

  updatePassword() {
    this.loading = true;
    this.$validator.validateAll().then((isValid) => {
      if (!isValid) {
        this.loading = false;
        return;
      }

      if (this.confirm.password && this.confirm.new_password) {
            EmployeeDataService.updatePassword(user.staff.email, this.confirm.password, this.confirm.new_password)
            .then((response) => {
                console.log(response);
                router.push({ name: 'dashboard' });
            })
            .catch((e) => {
                console.log(e);
            });
        // return userVerificationService.updatePassword(user.staff.email, this.confirm.password, this.confirm.new_password).then(
        //   response => {
        //     console.log(response);
        //     this.loading = false;
        //     router.push({ name: 'dashboard' });
        //   },
        //   error => {
        //     this.loading = false;
        //     this.message = error;
        //   }
        // );
        
      }
    });
  }
}
</script>

<style scoped>
  .auth {
    height: 100vh;
    background-image: url('../../assets/logistic.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
  }
  .land_one{
    background-position: center center;
    background-size: cover;
    /* background-size: 100% 100%; */
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-image: url('../../assets/logistic.png');
  }
  .row_on{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .login_card{
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: rgb(214, 235, 235);
    margin: -25px 0 0 -25px;
  }
  .pass_card{
    position: absolute;
    top: 30%;
    left: 35%;
    margin: -25px 0 0 -25px;
  }

  .pass_card .card{
    color: #364372;
    background-color: white;
    box-shadow: 0px 10px 10px #364372;
  }

  .login_card .card{
    color: #364372;
    background-color: white;
    box-shadow: 0px 10px 10px #045463;
  }
    form {
        padding: 50px;
    }
  .btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #045463, #ffffff);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
  }

.btn:hover {
	background-position: right;
}
</style>
