<template>
    <div class="container-fluid">
        <h4 class="m-0">Trucks</h4>
        <div class="mb-2">
            <small class="font-weight-light font-italic">All the truck belongs to our company</small>
        </div>
        <hr class="p-0 m-0">
        <div class="mt-2">
            <button class="btn btn-sm btn-outline-primary float-right mb-2" uk-toggle="target: #addHorse">Add new Truck</button>
            <div class="uk-flex-top" id="addHorse" uk-modal>
                <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                    <button class="uk-modal-close-default" type="button" uk-close></button>

                    <div class="uk-modal-header">
                        <h5 class="uk-modal-title">Add New Truck</h5>
                    </div>
                    <div class="uk-modal-body" uk-overflow-auto>
                        <form @submit.prevent="saveHorse">
                            <div class="row mt-2">
                                <div class="col-6">
                                    <label for="size">Plate Number</label>
                                    <input type="text" class="uk-input" name="plate_number" v-model="newHorse.plate_number" required/>
                                </div>

                                <div class="col-6">
                                    <label for="username">Model</label>
                                    <input type="text" class="uk-input" name="model" v-model="newHorse.model"/>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-6">
                                    <label for="username">Fuel Type</label>
                                    <select class="uk-select" name="fuel_type" v-model="newHorse.fuel_type" >
                                        <option value="">Select your choice</option>
                                        <option value="Petrol">Petrol</option>
                                        <option value="Diesel">Diesel</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="username">Tone</label>
                                    <input type="number" class="uk-input" name="tone" v-model="newHorse.tone"/>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <label for="username">Registration Number</label>
                                    <input type="text" class="uk-input" name="registration_number" v-model="newHorse.registration_number" required/>
                                </div>
                                <div class="col">
                                    <label for="username">Type</label>
                                    <input type="text" class="uk-input" name="type" v-model="newHorse.type" />
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-6">
                                    <label for="username">Body Type</label>
                                    <input type="text" class="uk-input" name="body_type" v-model="newHorse.body_type"/>
                                </div>
                                <div class="col-6">
                                    <label for="username">Engine Number</label>
                                    <input type="number" class="uk-input" name="engine_number" v-model="newHorse.engine_number"/>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <label for="username">Chassis Number</label>
                                    <input type="text" class="uk-input" name="chassis_number" v-model="newHorse.chassis_number"/>
                                </div>

                                <div class="col-6">
                                    <label for="username">Color</label>
                                    <input type="text" class="uk-input" name="color" v-model="newHorse.color"/>
                                </div>
                            </div>
                            <div class="mt-3 text-center">
                               <button class="btn btn-sm btn-outline-primary" type="submit">Register Horse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="table-responsive mt-2">
                <table class="table-sm table table-hover table-striped ">
                    <thead>
                    <tr>
                        <th class="font-weight-normal">Plate number</th>
                        <th class="font-weight-normal">Model</th>
                        <th class="font-weight-normal">Fuel Type</th>
                        <th class="font-weight-normal">Tone</th>
                        <th class="font-weight-normal">Registration number</th>
                        <th class="font-weight-normal">Body</th>
                        <th class="font-weight-normal"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(horse, index) in horses.data.horses" :key="horse.id">
                        <td class="font-weight-light">{{horse.plate_number}}</td>
                        <td>
                            <div class="p-0 m-0">
                                <small class="font-weight-bold">Model: </small> <small class="font-weight-light font-italic">{{horse.model}}</small>
                            </div>

                            <div class="p-0 m-0">
                                <small class="font-weight-bold">Type: </small> <small class="font-weight-light font-italic">{{horse.type}}</small>
                            </div>
                        </td>
                        <td class="font-weight-light">{{horse.fuel_type}}</td>
                        <td class="font-weight-light">{{horse.tone}}</td>
                        <td class="font-weight-light">{{horse.registration_number}}</td>
                        <td>
                            <div>
                                <small class="font-weight-bold">Type: </small> <small class="font-weight-light font-italic">{{horse.body_type}}</small>
                            </div>
                            <div>
                                <small class="font-weight-bold">Engine Number: </small> <small class="font-weight-light font-italic">{{horse.engine_number}}</small>
                            </div>
                            <div>
                                <small class="font-weight-bold">Chassis Number: </small> <small class="font-weight-light font-italic">{{horse.chassis_number}}</small>
                            </div>

                            <div>
                                <small class="font-weight-bold">Color: </small> <small class="font-weight-light font-italic">{{horse.color}}</small>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary p-1 m-1 dropdown-toggle" type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <small>Actions</small>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="actions">

                                    <router-link :to="{name: 'horse_details', params: { id: horse.id}}">
                                        <a class="dropdown-item" href="#">
                                            <font-awesome-icon icon="eye" class="fa-sm mr-2"/> <small>Details</small>
                                        </a>
                                    </router-link>
                                    <a class="dropdown-item"   uk-toggle href="#editCargo"  @click="getEditHorse(index)">
                                        <font-awesome-icon icon="edit" class="fa-sm mr-2"/> <small>Edit</small>
                                    </a>

                                    <div class="uk-flex-top" id="editCargo" uk-modal>
                                        <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                            <button class="uk-modal-close-default" type="button" uk-close></button>

                                            <div class="uk-modal-header">
                                                <h5 class="uk-modal-title" id="addHorseLabel">Edit Truck</h5>
                                            </div>
                                            <div class="uk-modal-body" uk-overflow-auto>
                                                <form @submit.prevent="EditHorse">
                                                    <div class="row mt-2">
                                                        <div class="col-6">
                                                            <label for="size">Plate Number</label>
                                                            <input type="text" class="uk-input" name="plate_number" v-model="horseChange.plate_number" required/>
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="username">Model</label>
                                                            <input type="text" class="uk-input" name="model" v-model="horseChange.model"/>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-2">
                                                        <div class="col-6">
                                                            <label for="username">Fuel Type</label>
                                                            <select class="uk-select" name="fuel_type" v-model="horseChange.fuel_type" >
                                                                <option value="">Select your choice</option>
                                                                <option value="Petrol">Petrol</option>
                                                                <option value="Diesel">Diesel</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="username">Tone</label>
                                                            <input type="number" class="uk-input" name="tone" v-model="horseChange.tone"/>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-2">
                                                        <div class="col">
                                                            <label for="username">Registration Number</label>
                                                            <input type="text" class="uk-input" name="registration_number" v-model="horseChange.registration_number" required/>
                                                        </div>
                                                        <div class="col">
                                                            <label for="username">Type</label>
                                                            <input type="text" class="uk-input" name="type" v-model="horseChange.type" />
                                                        </div>
                                                    </div>

                                                    <div class="row mt-2">
                                                        <div class="col-6">
                                                            <label for="username">Body Type</label>
                                                            <input type="text" class="uk-input" name="body_type" v-model="horseChange.body_type"/>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="username">Engine Number</label>
                                                            <input type="number" class="uk-input" name="engine_number" v-model="horseChange.engine_number"/>
                                                        </div>

                                                    </div>
                                                    <div class="row mt-2">
                                                        <div class="col-6">
                                                            <label for="username">Chassis Number</label>
                                                            <input type="text" class="uk-input" name="chassis_number" v-model="horseChange.chassis_number"/>
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="username">Color</label>
                                                            <input type="text" class="uk-input" name="color" v-model="horseChange.color"/>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 text-center">
                                                        <button class="btn btn-sm btn-outline-primary" type="submit">Edit Truck</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="dropdown-item" href="#" uk-toggle="target: #deleteHorse">
                                        <font-awesome-icon icon="trash" class="fa-sm mr-2"/> <small>Delete</small>
                                    </a>

                                    <div class="uk-flex-top" id="deleteHorse" uk-modal>
                                        <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-2-5">
                                            <button class="uk-modal-close-default" type="button" uk-close></button>

                                            <div class="uk-modal-header">
                                                <h5 class="uk-modal-title" id="">Delete Truck</h5>
                                            </div>
                                            <div class="uk-modal-body">
                                                Are you Sure you want to delete this truck
                                            </div>
                                            <div class="uk-modal-footer">
                                                <button class="btn btn-sm btn-danger" @click="DeleteHorse(index)">Yes</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import HorseDataServices from "../../../services/HorseService";
    import $ from "jquery";

    @Component
    export default class Horse extends Vue{
        public horses: any = {};
        public horseIndex = "";
        public newHorse: any = {
            plate_number: "",
            fuel_type: "",
            chassis_number: "",
            model: "",
            tone: "",
            registration_number: "",
            body_type: "",
            engine_number: "",
            color: "",
            type: "",
        }

        public horseChange: any = {
            plate_number: "",
            fuel_type: "",
            chassis_number: "",
            model: "",
            tone: "",
            registration_number: "",
            body_type: "",
            engine_number: "",
            color: "",
            type: "",
        }

        getEditHorse(currentIndex: any){
            this.horseIndex = currentIndex;
            this.horseChange.plate_number = this.horses.data.horses[currentIndex].plate_number;
            this.horseChange.fuel_type = this.horses.data.horses[currentIndex].fuel_type;
            this.horseChange.chassis_number = this.horses.data.horses[currentIndex].chassis_number;
            this.horseChange.model = this.horses.data.horses[currentIndex].model;
            this.horseChange.tone = this.horses.data.horses[currentIndex].tone;
            this.horseChange.registration_number = this.horses.data.horses[currentIndex].registration_number;
            this.horseChange.body_type = this.horses.data.horses[currentIndex].body_type;
            this.horseChange.engine_number = this.horses.data.horses[currentIndex].engine_number;
            this.horseChange.color = this.horses.data.horses[currentIndex].color;
            this.horseChange.type = this.horses.data.horses[currentIndex].type;

        }

        showHorses(){
            HorseDataServices.ShowRegisteredHorse().then((response) => {
                this.horses = response;
            }).catch((e) => {
                console.log(e);
            })
        }

        mounted(){
            this.showHorses()
        }

        refreshPage(){
            this.showHorses()
        }

        saveHorse(){
            var data = {
                plate_number: this.newHorse.plate_number,
                fuel_type: this.newHorse.fuel_type,
                chassis_number: this.newHorse.chassis_number,
                model: this.newHorse.model,
                tone: this.newHorse.tone,
                registration_number: this.newHorse.registration_number,
                body_type: this.newHorse.body_type,
                engine_number: this.newHorse.engine_number,
                color: this.newHorse.color,
                type: this.newHorse.type,
            };
            HorseDataServices.RegisterHorse(data)
            .then((response) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                if (response.status == "success"){
                    this.$swal('Saving', 'Horse Registered Success', 'success');
                    this.refreshPage();
                }else{
                    this.$swal('Failed', 'Horse not Registered', 'error');
                    this.refreshPage();
                }
            }).catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e)
            });
        }

        EditHorse(){
            var data = {
                plate_number: this.horseChange.plate_number,
                fuel_type: this.horseChange.fuel_type,
                chassis_number: this.horseChange.chassis_number,
                model: this.horseChange.model,
                tone: this.horseChange.tone,
                registration_number: this.horseChange.registration_number,
                body_type: this.horseChange.body_type,
                engine_number: this.horseChange.engine_number,
                color: this.horseChange.color,
                type: this.horseChange.type,
            };
            HorseDataServices.EditRegisteredHorse(this.horses.data.horses[this.horseIndex].id, data)
                .then((response) => {
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    this.$swal('Updates', 'Horse Updated Success', 'success');
                    this.refreshPage()
                }).catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            })
        }

        DeleteHorse(index: any){
            HorseDataServices.DeleteRegisteredHorse(this.horses.data.horses[index].id)
                .then((response) => {
                    console.log(response.data)
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    this.$swal('Deleted', 'Horse Deleted Success', 'info');
                    this.refreshPage()
                }).catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            })
        }
    }

</script>
