<template>
    <div class="container-fluid">
        <h4 class="m-0">Truck Details</h4>
        <div class="mb-2">
            <small class="font-weight-light font-italic">Here you can find all the details of this truck</small>
        </div>
        <hr class="p-0 m-0">

<!--        on top-->
        <div class="row mb-2 mt-2">
            <div class="col">
                <div class="card card-body card-back">
                    <span class="plate_no text-uppercase">{{horse.plate_number}}</span>
                </div>
            </div>
            <div class="col">
               <div>
                   <small class="font-weight-bold">Model: </small> <small class="font-weight-light font-italic">{{horse.model}}</small>
               </div>
                <div>
                    <small class="font-weight-bold">Reg/no: </small> <small class="font-weight-light font-italic">{{horse.registration_number}}</small>
                </div>
                <div>
                    <small class="font-weight-bold">Eng/no: </small> <small class="font-weight-light font-italic">{{horse.engine_number}}</small>
                </div>
                <div>
                    <small class="font-weight-bold">Chas/no: </small> <small class="font-weight-light font-italic">{{horse.chassis_number}}</small>
                </div>
                <div>
                    <small class="font-weight-bold">Tone: </small> <small class="font-weight-light font-italic">{{horse.tone}}</small>
                </div>
            </div>
            <div class="col">
                <div class="p-0 m-0">
                    <h6>Driver</h6>
                    <hr class="p-0 m-0">
                    <div v-if="driver != null"><small class="font-weight-light font-italic">{{driver.driver_name}}</small></div>
                </div>

                <div class="p-0 m-0">
                    <h6>Current Route</h6>
                    <hr class="p-0 m-0">
                    <div v-if="travel != null">
                        <div>
                            <small class="font-weight-bold">From: </small><small class="font-weight-light font-italic">{{travel.from}}</small>
                        </div>
                        <div>
                            <small class="font-weight-bold">To: </small><small class="font-weight-light font-italic">{{travel.to}}</small>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-1-3">
                <div class="mb-1">
                    <span class=""   uk-toggle href="#driver" uk-tooltip="Assign Driver">
                        <font-awesome-icon icon="user" class="fa-sm mr-2 con-left " />
                    </span>

                    <div class="uk-flex-top" id="driver" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-2-5">
                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <div class="uk-modal-header">
                                <h5 class="uk-modal-title" id="">Assign new Driver</h5>
                            </div>
                            <div class="uk-modal-body">
                                <form @submit.prevent="AssignDriver">
                                    <div class="mb-2">
                                        <label for="username">Driver</label>
                                        <select class="uk-select" name="driver_id" v-model="newDriver.driver_id">
                                            <option value="">Select Driver</option>
                                            <option v-for="employee in employees.data.employees" :key="employee.id" :value="employee.id">
                                                {{employee.title}} {{employee.firstName}} {{employee.middleName}} {{employee.lastName}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="mt-2">
                                        <button class="btn btn-sm btn-outline-primary">Assign</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="mb-1">
                    <span class=""   uk-toggle href="#insurance" uk-tooltip="Add insurances">
                        <font-awesome-icon icon="credit-card" class="fa-sm mr-2 con-left" />
                    </span>

                    <div class="uk-flex-top" id="insurance" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical">
                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <div class="uk-modal-header">
                                <h5 class="uk-modal-title" >New Insurance</h5>
                            </div>
                            <div class="uk-modal-body">
                                <form @submit.prevent="saveInsurance">
                                    <div class="row mb-2">
                                        <div class="col">
                                            <label for="username">Insured By</label>
                                            <input type="text" class="uk-input" name="insured_by" v-model="newInsurance.insured_by"/>
                                        </div>
                                        <div class="col">
                                            <label for="username">Type</label>
                                            <select class="uk-select" name="insurance_type" v-model="newInsurance.insurance_type">
                                                <option value="">Select Insurance Type</option>
                                                <option value="Third Party">Third Party</option>
                                                <option value="Comprehensive">Comprehensive</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <label for="username">Start Date</label>
                                            <input type="date" class="uk-input" name="start_date" v-model="newInsurance.start_date"/>
                                        </div>
                                        <div class="col">
                                            <label for="username">End Date</label>
                                            <input type="date" class="uk-input" name="end_date" v-model="newInsurance.end_date"/>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <label for="username">Amount</label>
                                            <input type="number" class="uk-input" name="amount" v-model="newInsurance.amount"/>
                                        </div>
                                        <div class="col">
                                            <label for="username">Reference Number</label>
                                            <input type="number" class="uk-input" name="reference_no" v-model="newInsurance.reference_no"/>
                                        </div>
                                    </div>

                                    <div class="mb-2">
                                        <label for="username">Description</label>
                                        <textarea rows="4"  class="uk-textarea" name="description" v-model="newInsurance.description"/>
                                    </div>
                                    <div class="mt-2">
                                        <button class="btn btn-sm btn-outline-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-1">
                    <span class="" uk-toggle href="#route" uk-tooltip="New Route">
                        <font-awesome-icon icon="map-marker-alt" class="fa-sm mr-2 con-left" />
                    </span>

                    <div class="uk-flex-top" id="route" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-2-5">
                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <div class="uk-modal-header">
                                <h5 class="uk-modal-title" >New Route</h5>
                            </div>
                            <div class="uk-modal-body">
                               <form @submit.prevent="AssignRoute">
                                   <div class="mb-2">
                                       <label for="username">From</label>
                                       <input type="text" class="uk-input" name="from" placeholder="Starting Destination" required v-model="newRoute.from"/>
                                   </div>

                                   <div class="mb-2">
                                       <label for="username">To</label>
                                       <input type="text" class="uk-input" name="to" placeholder="Ending Destination" required v-model="newRoute.to"/>
                                   </div>
                                   <div class="mt-2">
                                       <button class="btn btn-sm btn-outline-primary" type="submit">Go</button>
                                   </div>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-1">
                    <span class=""   uk-toggle href="#service" uk-tooltip="Services">
                        <font-awesome-icon icon="wrench" class="fa-sm mr-2 con-left" />
                    </span>

                    <div class="uk-flex-top" id="service" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-2-5">
                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <div class="uk-modal-header">
                                <h5 class="uk-modal-title" >New Service</h5>
                            </div>
                            <div class="uk-modal-body">
                                <form  @submit.prevent="AssignService">
                                    <div class="mb-2">
                                        <label for="username">Amount</label>
                                        <input type="number" class="uk-input" name="amount" required v-model="newService.amount"/>
                                    </div>

                                    <div class="mb-2">
                                        <label for="username">Description</label>
                                        <textarea rows="4"  class="uk-textarea" name="description" v-model="newService.description"/>
                                    </div>
                                    <div class="mt-2">
                                        <button class="btn btn-sm btn-outline-primary">Grant</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="p-0 m-0">
<!--        to insurance table-->
        <div class="row mt-3">
            <div class="col-8">
                <h6>Insurance Records</h6>
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="font-weight-normal">Insured By</th>
                            <th class="font-weight-normal">Type</th>
                            <th class="font-weight-normal">Date</th>
                            <th class="font-weight-normal">Amount</th>
                            <th class="font-weight-normal">Refer.no</th>
                            <th class="font-weight-normal"></th>
                        </tr>
                        </thead>
                        <tbody uk-overflor-auto>
                        <tr v-for="insurance in insurances" :key="insurance.id">
                            <td class="font-weight-light">{{insurance.insured_by}}</td>
                            <td class="font-weight-light">{{insurance.insurance_type}}</td>
                            <td class="font-weight-light">
                                <div><small>Start: </small> <small class="font-weight-light">{{insurance.start_date}}</small></div>
                                <div><small>End: </small> <small class="font-weight-light">{{insurance.end_date}}</small></div>
                            </td>
                            <td class="font-weight-light">{{insurance.amount}}</td>
                            <td class="font-weight-light">{{insurance.reference_no}}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h6>Service Records</h6>
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="font-weight-normal">Info</th>
                        </tr>
                        </thead>
                        <tbody uk-overflor-auto>
                            <tr v-for="service in services" :key="service.id">
                                <td>
                                    <div><small>Total Amount:</small> <small class="font-weight-light font-italic">{{service.amount}}</small></div>
                                    <div><span class="font-weight-light uk-description-list">{{service.description}}</span></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import { Component, Prop,Vue } from "vue-property-decorator";
    import HorseDataServices from "../../../services/HorseService";
    import $ from "jquery";

    @Component
    export default class HorseView extends Vue{
        @Prop({required: true}) readonly id: any;
        public horse: any = {};
        public driver: any = {};
        public employees: any = {};
        public travel: any = {};
        public services: any = {};
        public insurances: any = {};


        public newInsurance: any = {
            insured_by: "",
            insurance_type: "",
            start_date: "",
            end_date: "",
            amount: "",
            reference_no: "",
            description: "",
        }

        public newRoute: any = {
            from: "",
            to: "",
        }

        public newService: any = {
            amount: "",
            description: "",
        }

        public newDriver: any = {
            driver_id: "",
        }

        AssignDriver(){
            var data = {
                driver_id: this.newDriver.driver_id,
            };
            HorseDataServices.NewDriver(this.id,data)
                .then((response) => {
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    if (response.status == "success"){
                        this.$swal('Saving', 'Driver Assigned', 'success');
                        this.refreshPage();
                    }else{
                        this.$swal('Failed', 'Driver Not Assigned', 'error');
                        this.refreshPage();
                    }
                }).catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e)
            });
        }

        AssignService(){
            var data = {
                amount: this.newService.amount,
                description: this.newService.description,
            };
            HorseDataServices.NewService(this.id,data)
                .then((response) => {
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    if (response.status == "success"){
                        this.$swal('Saving', 'Service Granted', 'success');
                        this.refreshPage();
                    }else{
                        this.$swal('Failed', 'Service Not Granted', 'error');
                        this.refreshPage();
                    }
                }).catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e)
            });
        }

        AssignRoute(){
            var data = {
                from: this.newRoute.from,
                to: this.newRoute.to,
            };
            HorseDataServices.NewRoute(this.id,data)
                .then((response) => {
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    if (response.status == "success"){
                        this.$swal('Saving', 'Route Granted', 'success');
                        this.refreshPage();
                    }else{
                        this.$swal('Failed', 'Route Not Granted', 'error');
                        this.refreshPage();
                    }
                }).catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e)
            });
        }

        viewHorse(){
            HorseDataServices.ViewRegisteredHorse(this.id)
                .then((response) => {
                    this.horse = response.data.hose;
                    this.driver = response.data.driver;
                    this.employees = response.data.employees;
                    this.travel = response.data.travel;
                    this.services = response.data.services;
                }).catch((e) => {
                console.log(e)
            })
        }

        viewDrivers(){
            HorseDataServices.viewDriversList()
                .then((response) => {
                    this.employees = response;
                }).catch((e) => {
                console.log(e)
            })
        }

        viewInsurance(){
            HorseDataServices.viewHorseInsurance(this.id)
                .then((response) => {
                    this.insurances = response.data.insurances;
                }).catch((e) => {
                console.log(e)
            })
        }

        mounted(){
            this.viewHorse();
            this.viewDrivers();
            this.viewInsurance();
        }

        saveInsurance(){
            var data = {
                insured_by: this.newInsurance.insured_by,
                insurance_type: this.newInsurance.insurance_type,
                start_date: this.newInsurance.start_date,
                end_date: this.newInsurance.end_date,
                amount: this.newInsurance.amount,
                reference_no: this.newInsurance.reference_no,
                description: this.newInsurance.description,
            };
            HorseDataServices.newHorseInsurance(this.id, data)
                .then((response) => {
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    if (response.status == "success"){
                        this.$swal('Saving', 'Insurance Added Success', 'success');
                        this.refreshPage();
                    }else{
                        this.$swal('Failed', 'Insurance not added', 'error');
                        this.refreshPage();
                    }
                }).catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e)
            });
        }

        refreshPage() {
            this.viewHorse();
            this.viewInsurance();
        }
    }

</script>

<style>
    .card-back {
        /*padding-left: 20px;*/
        /*padding-right: 20px;*/
        box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
        background-color: yellow;
        transition: 0.3s;
    }

    .plate_no{
        font-family: "Times New Roman";
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        text-shadow: grey;
    }
    .con-left{
        font-size: 25px;
    }
</style>
