<template>
    <div class="container-fluid">
        <h4 class="m-0">Trailers</h4>
        <div class="mb-2">
            <small class="font-weight-light font-italic">All the trailer belongs to our company</small>
        </div>
        <hr class="p-0 m-0">
        <div class="mt-2">
            <button class="btn btn-sm btn-outline-primary float-right mb-2" uk-toggle="target: #addTrailer">Add new Trailer</button>
            <div class="uk-flex-top" id="addTrailer" uk-modal>
                <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-2-5">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h5 class="uk-modal-title">Add New Trailer</h5>
                    </div>
                    <div class="uk-modal-body" uk-overflow-auto>
                        <form @submit.prevent="">
                            <div class="">
                                <label for="size">Registration Number</label>
                                <input type="text" class="uk-input" name="registration_number" required/>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-sm btn-outline-primary w-100" type="submit">Register Trailer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div>

        </div>
    </div>
</template>
