<template>
    <div class="container-fluid" uk-overflor-auto>
        <h4 class="m-0">Vehicle Details</h4>
        <div class="mb-2 mt-0">
            <small class="font-weight-light font-italic">Here you can find all the details of this Vehicle</small>
        </div>
       <div class="row mb-2">
           <div class="col"></div>
           <div class="col">
               <div class="row text-right">
                   <div class="col p-0">
                        <span class="mr-4"   uk-toggle href="#driver" uk-tooltip="Assign Driver">
                        <font-awesome-icon icon="user" class="fa-sm mr-2 con-left " />
                        </span>

                       <div class="uk-flex-top" id="driver" uk-modal>
                           <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-2-5">
                               <button class="uk-modal-close-default" type="button" uk-close></button>

                               <div class="uk-modal-header">
                                   <h5 class="uk-modal-title" id="">Assign new Driver</h5>
                               </div>
                               <div class="uk-modal-body">
                                   <form @submit.prevent="AssignDriver">
                                       <div class="mb-2">
                                           <label for="username">Driver</label>
                                           <select class="uk-select" name="driver_id" v-model="newDriver.driver_id">
                                               <option value="">Select Driver</option>
                                               <option v-for="employee in employees.data.employees" :key="employee.id" :value="employee.id">
                                                   {{employee.title}} {{employee.firstName}} {{employee.middleName}} {{employee.lastName}}
                                               </option>
                                           </select>
                                       </div>

                                       <div class="mt-2">
                                           <button class="btn btn-sm btn-outline-primary">Assign</button>
                                       </div>
                                   </form>
                               </div>
                           </div>
                       </div>



                        <span class="mr-4"   uk-toggle href="#insurance" uk-tooltip="Add insurances">
                        <font-awesome-icon icon="credit-card" class="fa-sm mr-2 con-left" />
                        </span>

                       <div class="uk-flex-top" id="insurance" uk-modal>
                           <div class="uk-modal-dialog uk-margin-auto-vertical">
                               <button class="uk-modal-close-default" type="button" uk-close></button>

                               <div class="uk-modal-header">
                                   <h5 class="uk-modal-title" >New Insurance</h5>
                               </div>
                               <div class="uk-modal-body">
                                   <form @submit.prevent="saveInsurance">
                                       <div class="row mb-2">
                                           <div class="col">
                                               <label for="username">Insured By</label>
                                               <input type="text" class="uk-input" name="insured_by" v-model="newInsurance.insured_by"/>
                                           </div>
                                           <div class="col">
                                               <label for="username">Type</label>
                                               <select class="uk-select" name="insurance_type" v-model="newInsurance.insurance_type">
                                                   <option value="">Select Insurance Type</option>
                                                   <option value="Third Party">Third Party</option>
                                                   <option value="Comprehensive">Comprehensive</option>
                                               </select>
                                           </div>
                                       </div>

                                       <div class="row mb-2">
                                           <div class="col">
                                               <label for="username">Start Date</label>
                                               <input type="date" class="uk-input" name="start_date" v-model="newInsurance.start_date"/>
                                           </div>
                                           <div class="col">
                                               <label for="username">End Date</label>
                                               <input type="date" class="uk-input" name="end_date" v-model="newInsurance.end_date"/>
                                           </div>
                                       </div>

                                       <div class="row mb-2">
                                           <div class="col">
                                               <label for="username">Amount</label>
                                               <input type="number" class="uk-input" name="amount" v-model="newInsurance.amount"/>
                                           </div>
                                           <div class="col">
                                               <label for="username">Reference Number</label>
                                               <input type="number" class="uk-input" name="reference_no" v-model="newInsurance.reference_no"/>
                                           </div>
                                       </div>

                                       <div class="mb-2">
                                           <label for="username">Description</label>
                                           <textarea rows="4"  class="uk-textarea" name="description" v-model="newInsurance.description"/>
                                       </div>
                                       <div class="mt-2">
                                           <button class="btn btn-sm btn-outline-primary">Save</button>
                                       </div>
                                   </form>
                               </div>
                           </div>
                       </div>

                        <span class=""   uk-toggle href="#service" uk-tooltip="Services">
                        <font-awesome-icon icon="wrench" class="fa-sm mr-2 con-left" />
                        </span>

                       <div class="uk-flex-top" id="service" uk-modal>
                           <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-2-5">
                               <button class="uk-modal-close-default" type="button" uk-close></button>

                               <div class="uk-modal-header">
                                   <h5 class="uk-modal-title" >New Service</h5>
                               </div>
                               <div class="uk-modal-body">
                                   <form  @submit.prevent="AssignService">
                                       <div class="mb-2">
                                           <label for="username">Amount</label>
                                           <input type="number" class="uk-input" name="amount" required v-model="newService.amount"/>
                                       </div>

                                       <div class="mb-2">
                                           <label for="username">Description</label>
                                           <textarea rows="4"  class="uk-textarea" name="description" v-model="newService.description"/>
                                       </div>
                                       <div class="mt-2">
                                           <button class="btn btn-sm btn-outline-primary">Grant</button>
                                       </div>
                                   </form>
                               </div>
                           </div>
                       </div>

                   </div>
               </div>
           </div>
       </div>
        <hr class="p-0 m-0 ruler-dark">
        <div class="mt-2">
            <div class="row">
                <div class="col-4">
                    <h6>Details</h6>
                    <ul class="uk-list-striped none-list p-0">
                        <li class="font-weight-light"><small>Plate Number: </small><small class="font-weight-light">{{vehicle.plate_number}}</small></li>
                        <li class="font-weight-light"><small>Current Mileage: </small><small class="font-weight-light">{{vehicle.current_mileage}}</small></li>
                        <li class="font-weight-light"><small>Model: </small><small class="font-weight-light">{{vehicle.model}}</small></li>
                        <li class="font-weight-light"><small>Fuel Type: </small><small class="font-weight-light">{{vehicle.fuel_type}}</small></li>
                        <li class="font-weight-light"><small>Tone: </small><small class="font-weight-light">{{vehicle.tone}}</small></li>
                        <li class="font-weight-light"><small>Color: </small><small class="font-weight-light">{{vehicle.color}}</small></li>
                        <li class="font-weight-light"><small>Type: </small><small class="font-weight-light">{{vehicle.type}}</small></li>
                        <li class="font-weight-light"><small>Year Of Manufactured: </small><small class="font-weight-light">{{vehicle.year_of_manufacture}}</small></li>
                        <li class="font-weight-light"><small>Gvm: </small><small class="font-weight-light">{{vehicle.gvm}}</small></li>
                        <li class="font-weight-light"><small>Loaded Gvm: </small><small class="font-weight-light">{{vehicle.loaded_gvm}}</small></li>
                        <li class="font-weight-light"><small>Unloaded Gvm: </small><small class="font-weight-light">{{vehicle.unloaded_gvm}}</small></li>
                        <li class="font-weight-light"><small>Class: </small><small class="font-weight-light">{{vehicle.class}}</small></li>
                    </ul>
                </div>
                <div class="col ml-0">
                    <h6>Insurance Lists</h6>
                    <div v-for="insurance in insurances" :key="insurance.id">
                        <div class="card card-body card-back m-2 p-2">
                            <div class="mb-1">
                                <small class="hd">Insured By: </small> <small class="font-weight-light font-italic text-light">{{insurance.insured_by}}</small>
                            </div>
                            <div class="mb-1">
                                <div class="row">
                                    <div class="col">
                                        <div>
                                            <small class="font-weight-normal hd">Start date</small>
                                        </div>
                                        <div>
                                            <small class="font-weight-light text-light">{{insurance.start_date}}</small>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <small class="font-weight-normal hd">End date</small>
                                        </div>
                                        <div>
                                            <small class="font-weight-light text-light">{{insurance.end_date}}</small>
                                        </div>
                                    </div>
                                </div>
                                <hr class="p-1 m-1">
                                <div class="row mb-1">
                                    <div class="col">
                                        <div>
                                            <small class="font-weight-normal hd">Amount</small>
                                        </div>
                                        <div>
                                            <small class="font-weight-light text-light">{{insurance.amount}}</small>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <small class="font-weight-normal hd">Reference number</small>
                                        </div>
                                        <div>
                                            <small class="font-weight-light text-light">{{insurance.reference_no}}</small>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div>
                                        <small class="font-weight-normal hd">Description</small>
                                    </div>
                                    <div>
                                        <small class="font-weight-light text-light">{{insurance.description}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="col-3 ml-0">
                    <h6>Service Lists</h6>
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-hover">
                            <tbody>
                            <tr v-for="service in services" :key="service.id">
                                <td>
                                    <div>
                                        <small>Amount: </small> <small class="font-weight-light">{{service.amount}}</small>
                                    </div>
                                    <div>
                                        <small class="font-weight-light">{{service.description}}</small>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import { Component, Prop,Vue } from "vue-property-decorator";
    import HorseDataServices from "../../../services/HorseService";
    import $ from "jquery";

    @Component
    export default class VehicleView extends Vue {
        @Prop({required: true}) readonly id: any;
        public vehicle: any = {};
        public employees: any = {};
        public insurances: any = {};
        public services: any = {};

        public newInsurance: any = {
            insured_by: "",
            insurance_type: "",
            start_date: "",
            end_date: "",
            amount: "",
            reference_no: "",
            description: "",
        }

        public newService: any = {
            amount: "",
            description: "",
        }

        public newDriver: any = {
            driver_id: "",
        }

        AssignService(){
            var data = {
                amount: this.newService.amount,
                description: this.newService.description,
            };
            HorseDataServices.vehicleService(this.id,data)
                .then((response) => {
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    if (response.status == "success"){
                        this.$swal('Saving', 'Service Granted', 'success');
                    }else{
                        this.$swal('Failed', 'Service Not Granted', 'error');
                    }
                }).catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e)
            });
        }

        AssignDriver(){
            var data = {
                driver_id: this.newDriver.driver_id,
            };
            HorseDataServices.newVehicleDriver(this.id,data)
                .then((response) => {
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    if (response.status == "success"){
                        this.$swal('Saving', 'Driver Assigned', 'success');
                        this.refreshPage();
                    }else{
                        this.$swal('Failed', 'Driver Not Assigned', 'error');
                        this.refreshPage();
                    }
                }).catch((e) => {
                // $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e)
            });
        }

        saveInsurance(){
            var data = {
                insured_by: this.newInsurance.insured_by,
                insurance_type: this.newInsurance.insurance_type,
                start_date: this.newInsurance.start_date,
                end_date: this.newInsurance.end_date,
                amount: this.newInsurance.amount,
                reference_no: this.newInsurance.reference_no,
                description: this.newInsurance.description,
            };
            HorseDataServices.VehicleInsurance(this.id, data)
                .then((response) => {
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    if (response.status == "success"){
                        this.$swal('Saving', 'Insurance Added Success', 'success');
                    }else{
                        this.$swal('Failed', 'Insurance not added', 'error');
                    }
                }).catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e)
            });
        }

        viewVehicle(){
            HorseDataServices.showRegisteredVehicle(this.id)
                .then((response) => {
                    this.vehicle = response.data.vehicle;
                    this.insurances = response.data.insurances;
                    this.services = response.data.services;
                }).catch((e) => {
                console.log(e)
            })
        }

        viewDrivers(){
            HorseDataServices.viewDriversList()
                .then((response) => {
                    this.employees = response;
                }).catch((e) => {
                console.log(e)
            })
        }

        mounted(){
            this.viewVehicle();
            this.viewDrivers();
        }
        refreshPage() {
            this.viewVehicle();
            this.viewDrivers();
        }
    }
</script>

<style>
    .con-left{
        font-size: 40px;
        color: darkblue;
    }

    .ruler-dark{
        font-weight: bolder;
    }

    .none-list {
        list-style: none;
    }

    .card-back {
        box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
        background-color: lightslategray;
        transition: 0.3s;
    }

    .hd{
        color: darkblue;
    }
</style>
