<template>
    <div class="container-fluid">
        <h4 class="m-0">Vehicle</h4>
        <div class="mb-2">
            <small class="font-weight-light font-italic">All the vehicle belongs to our company</small>
        </div>
        <hr class="p-0 m-0">
        <div class="mt-2">
            <button class="btn btn-sm btn-outline-primary float-right mb-2" uk-toggle="target: #addHorse">Add new Vehicle</button>
            <div class="uk-flex-top" id="addHorse" uk-modal>
                <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                    <button class="uk-modal-close-default" type="button" uk-close></button>

                    <div class="uk-modal-header">
                        <h5 class="uk-modal-title">Add New Vehicle</h5>
                    </div>
                    <div class="uk-modal-body" uk-overflow-auto>
                        <form @submit.prevent="saveVehicle">
                            <div class="row mt-2">
                                <div class="col-6">
                                    <label for="size">Plate Number</label>
                                    <input type="text" class="uk-input" name="plate_number" v-model="newVehicle.plate_number" required/>
                                </div>

                                <div class="col-6">
                                    <label for="username">Model</label>
                                    <input type="text" class="uk-input" name="model" v-model="newVehicle.model"/>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-6">
                                    <label for="username">Fuel Type</label>
                                    <select class="uk-select" name="fuel_type"   v-model="newVehicle.fuel_type">
                                        <option value="">Select your choice</option>
                                        <option value="Petrol">Petrol</option>
                                        <option value="Diesel">Diesel</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="username">Tone</label>
                                    <input type="number" class="uk-input" name="tone"  v-model="newVehicle.tone"/>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <label for="username">Current Mileage</label>
                                    <input type="text" class="uk-input" name="current_mileage" v-model="newVehicle.current_mileage" required/>
                                </div>
                                <div class="col">
                                    <label for="username">Type</label>
                                    <input type="text" class="uk-input" name="type" v-model="newVehicle.type"/>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col">
                                    <label for="username">Gvm</label>
                                    <input type="text" class="uk-input" name="gvm"  v-model="newVehicle.gvm" required/>
                                </div>
                                <div class="col">
                                    <label for="username">Unloaded Gvm</label>
                                    <input type="text" class="uk-input" name="unloaded_gvm" v-model="newVehicle.unloaded_gvm"/>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6">
                                    <label for="username">Loaded Gvm </label>
                                    <input type="text" class="uk-input" name="loaded_gvm" v-model="newVehicle.loaded_gvm" required/>
                                </div>
                                <div class="col-6">
                                    <label for="username">Year Of Manufacture</label>
                                    <input type="number" class="uk-input" name="year_of_manufacture"  v-model="newVehicle.year_of_manufacture"/>
                                </div>

                            </div>

                            <div class="row mt-2">
                                <div class="col-6">
                                    <label for="username">Class</label>
                                    <input type="text" class="uk-input" name="class" v-model="newVehicle.class" />
                                </div>

                                <div class="col-6">
                                    <label for="username">Color</label>
                                    <input type="text" class="uk-input" name="color" v-model="newVehicle.color"/>
                                </div>
                            </div>
                            <div class="mt-3 text-center">
                                <button class="btn btn-sm btn-outline-primary" type="submit">Register Vehicle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="table-responsive mt-2">
                <table class="table-sm table table-hover table-striped ">
                    <thead>
                    <tr>
                        <th class="font-weight-normal">Plate number</th>
                        <th class="font-weight-normal">Model</th>
                        <th class="font-weight-normal">Fuel Type</th>
                        <th class="font-weight-normal">Tone</th>
                        <th class="font-weight-normal">Gvm</th>
                        <th class="font-weight-normal">Body</th>
                        <th class="font-weight-normal"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(vehicle, index) in vehicles.data.vehicles" :key="vehicle.id">
                        <td class="font-weight-light">{{vehicle.plate_number}}</td>
                        <td>
                            <div class="p-0 m-0">
                                <small class="font-weight-bold">Model: </small><small class="font-weight-light font-italic">{{vehicle.model}} </small>
                            </div>

                            <div class="p-0 m-0">
                                <small class="font-weight-bold">Type: </small><small class="font-weight-light font-italic"> {{vehicle.type}}</small>
                            </div>
                            <div class="p-0 m-0">
                                <small class="font-weight-bold">Color: </small> <small class="font-weight-light font-italic">{{vehicle.color}}</small>
                            </div>
                        </td>
                        <td class="font-weight-light">{{vehicle.fuel_type}}</td>
                        <td class="font-weight-light">{{vehicle.tone}}</td>
                        <td class="font-weight-light">
                            <div>
                                <small class="font-weight-bold">Gvm: </small><small class="font-weight-light font-italic"> {{vehicle.gvm}}</small>
                            </div>
                            <div>
                                <small class="font-weight-bold">Loaded Gvm: </small> <small class="font-weight-light font-italic">{{vehicle.loaded_gvm}}</small>
                            </div>
                            <div>
                                <small class="font-weight-bold">Unloaded Gvm: </small> <small class="font-weight-light font-italic">{{vehicle.unloaded_gvm}}</small>
                            </div>

                        </td>
                        <td>
                            <div>
                                <small class="font-weight-bold">Class: </small><small class="font-weight-light font-italic">{{vehicle.class}} </small>
                            </div>
                            <div>
                                <small class="font-weight-bold">Y/Man: </small> <small class="font-weight-light font-italic">{{vehicle.year_of_manufacture}}</small>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary p-1 m-1 dropdown-toggle" type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <small>Actions</small>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="actions">

                                    <router-link :to="{name: 'vehicle_details', params: { id: vehicle.id}}">
                                        <span class="dropdown-item" href="#">
                                            <font-awesome-icon icon="eye" class="fa-sm mr-2"/> <small>Details</small>
                                        </span>
                                    </router-link>
                                    <a class="dropdown-item"   uk-toggle href="#editCargo"   @click="getEditVehicle(index)">
                                        <font-awesome-icon icon="edit" class="fa-sm mr-2"/> <small>Edit</small>
                                    </a>

                                    <div class="uk-flex-top" id="editCargo" uk-modal>
                                        <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-3-4">
                                            <button class="uk-modal-close-default" type="button" uk-close></button>

                                            <div class="uk-modal-header">
                                                <h5 class="uk-modal-title" id="addHorseLabel">Edit Horse</h5>
                                            </div>
                                            <div class="uk-modal-body" uk-overflow-auto>
                                                <form @submit.prevent="editVehicle">
                                                    <div class="row mt-2">
                                                        <div class="col-6">
                                                            <label for="size">Plate Number</label>
                                                            <input type="text" class="uk-input" name="plate_number" v-model="vehicleChange.plate_number" required/>
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="username">Model</label>
                                                            <input type="text" class="uk-input" name="model" v-model="vehicleChange.model"/>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-2">
                                                        <div class="col-6">
                                                            <label for="username">Fuel Type</label>
                                                            <select class="uk-select" name="fuel_type"   v-model="vehicleChange.fuel_type">
                                                                <option value="">Select your choice</option>
                                                                <option value="Petrol">Petrol</option>
                                                                <option value="Diesel">Diesel</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="username">Tone</label>
                                                            <input type="number" class="uk-input" name="tone"  v-model="vehicleChange.tone"/>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-2">
                                                        <div class="col">
                                                            <label for="username">Current Mileage</label>
                                                            <input type="text" class="uk-input" name="current_mileage" v-model="vehicleChange.current_mileage" required/>
                                                        </div>
                                                        <div class="col">
                                                            <label for="username">Type</label>
                                                            <input type="text" class="uk-input" name="type" v-model="vehicleChange.type"/>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-2">
                                                        <div class="col">
                                                            <label for="username">Gvm</label>
                                                            <input type="text" class="uk-input" name="gvm"  v-model="vehicleChange.gvm" required/>
                                                        </div>
                                                        <div class="col">
                                                            <label for="username">Unloaded Gvm</label>
                                                            <input type="text" class="uk-input" name="unloaded_gvm" v-model="vehicleChange.unloaded_gvm"/>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-2">
                                                        <div class="col-6">
                                                            <label for="username">Loaded Gvm </label>
                                                            <input type="text" class="uk-input" name="loaded_gvm" v-model="vehicleChange.loaded_gvm" required/>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="username">Year Of Manufacture</label>
                                                            <input type="number" class="uk-input" name="year_of_manufacture"  v-model="vehicleChange.year_of_manufacture"/>
                                                        </div>

                                                    </div>

                                                    <div class="row mt-2">
                                                        <div class="col-6">
                                                            <label for="username">Class</label>
                                                            <input type="text" class="uk-input" name="class" v-model="vehicleChange.class" />
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="username">Color</label>
                                                            <input type="text" class="uk-input" name="color" v-model="vehicleChange.color"/>
                                                        </div>
                                                    </div>
                                                    <div class="mt-3 text-center">
                                                        <button class="btn btn-sm btn-outline-primary" type="submit">Update Vehicle</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="dropdown-item" href="#" uk-toggle="target: #deleteHorse">
                                        <font-awesome-icon icon="trash" class="fa-sm mr-2"/> <small>Delete</small>
                                    </a>

                                    <div class="uk-flex-top" id="deleteHorse" uk-modal>
                                        <div class="uk-modal-dialog uk-margin-auto-vertical uk-width-2-5">
                                            <button class="uk-modal-close-default" type="button" uk-close></button>

                                            <div class="uk-modal-header">
                                                <h5 class="uk-modal-title" id="">Delete Vehicle</h5>
                                            </div>
                                            <div class="uk-modal-body">
                                                Are you Sure you want to delete this vehicle
                                            </div>
                                            <div class="uk-modal-footer">
                                                <button class="btn btn-sm btn-danger" @click="deleteVehicle(index)">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import HorseDataServices from "../../../services/HorseService";
    import $ from "jquery";
    import {log10} from "chart.js/helpers";

    @Component

    export default class VehicleData extends Vue{
        public vehicles: any = {};
        public vehicleIndex = "";

        public newVehicle: any = {
            plate_number: "",
            current_mileage: "",
            fuel_type: "",
            model: "",
            // make: "",
            tone: "",
            gvm: "",
            color: "",
            class: "",
            unloaded_gvm: "",
            loaded_gvm: "",
            year_of_manufacture: "",
            type: "",
        }

        public vehicleChange: any = {
            plate_number: "",
            current_mileage: "",
            fuel_type: "",
            model: "",
            make: "",
            tone: "",
            gvm: "",
            color: "",
            class: "",
            unloaded_gvm: "",
            loaded_gvm: "",
            year_of_manufacture: "",
            type: "",
        }

        saveVehicle(){
            var data = {
                plate_number: this.newVehicle.plate_number,
                current_mileage: this.newVehicle.current_mileage,
                fuel_type: this.newVehicle.fuel_type,
                model: this.newVehicle.model,
                make: this.newVehicle.make,
                tone: this.newVehicle.tone,
                gvm: this.newVehicle.gvm,
                color: this.newVehicle.color,
                class: this.newVehicle.class,
                unloaded_gvm: this.newVehicle.unloaded_gvm,
                loaded_gvm: this.newVehicle.loaded_gvm,
                year_of_manufacture: this.newVehicle.year_of_manufacture,
                type: this.newVehicle.type,
            };
            HorseDataServices.registerVehicle(data)
                .then((response) => {
                    if (response.status == "success"){
                        $( ".uk-modal-close-default" ).trigger( "click" );
                        this.$swal('Saving', 'Vehicle Registered Success', 'success');
                        this.refreshPage();
                    }else{
                        $( ".uk-modal-close-default" ).trigger( "click" );
                        this.$swal('Failed', 'Vehicle not Registered', 'error');
                        this.refreshPage();
                    }
                }).catch((e) => {
                $( ".uk-modal-close-default" ).trigger( "click" );
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e)
            });
        }

        getEditVehicle(currentIndex: any){
            this.vehicleIndex = currentIndex;
            this.vehicleChange.plate_number = this.vehicles.data.vehicles[currentIndex].plate_number;
            this.vehicleChange.fuel_type = this.vehicles.data.vehicles[currentIndex].fuel_type;
            this.vehicleChange.current_mileage = this.vehicles.data.vehicles[currentIndex].current_mileage;
            this.vehicleChange.model = this.vehicles.data.vehicles[currentIndex].model;
            this.vehicleChange.tone = this.vehicles.data.vehicles[currentIndex].tone;
            this.vehicleChange.gvm = this.vehicles.data.vehicles[currentIndex].gvm;
            this.vehicleChange.class = this.vehicles.data.vehicles[currentIndex].class;
            this.vehicleChange.unloaded_gvm = this.vehicles.data.vehicles[currentIndex].unloaded_gvm;
            this.vehicleChange.color = this.vehicles.data.vehicles[currentIndex].color;
            this.vehicleChange.loaded_gvm = this.vehicles.data.vehicles[currentIndex].loaded_gvm;
            this.vehicleChange.year_of_manufacture = this.vehicles.data.vehicles[currentIndex].year_of_manufacture;
            this.vehicleChange.type = this.vehicles.data.vehicles[currentIndex].type;

        }

        editVehicle(){
            var data = {
                plate_number: this.vehicleChange.plate_number,
                fuel_type: this.vehicleChange.fuel_type,
                current_mileage: this.vehicleChange.current_mileage,
                model: this.vehicleChange.model,
                tone: this.vehicleChange.tone,
                gvm: this.vehicleChange.gvm,
                class: this.vehicleChange.class,
                unloaded_gvm: this.vehicleChange.unloaded_gvm,
                loaded_gvm: this.vehicleChange.loaded_gvm,
                color: this.vehicleChange.color,
                year_of_manufacture: this.vehicleChange.year_of_manufacture,
                type: this.vehicleChange.type,
            };
            HorseDataServices.updateRegisterVehicle(this.vehicles.data.vehicles[this.vehicleIndex].id, data)
                .then((response) => {
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    this.$swal('Updates', 'Horse Updated Success', 'success');
                    this.refreshPage()
                }).catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            })
        }

        deleteVehicle(index: any){
            HorseDataServices.deletedRegisteredVehicle(this.vehicles.data.vehicles[index].id)
                .then((response) => {
                    $( ".uk-modal-close-default" ).trigger( "click" );
                    this.$swal('Deleted', 'Horse Deleted Success', 'info');
                    this.refreshPage()
                }).catch((e) => {
                this.$swal('Error', 'oops something went wrong', 'error');
                console.log(e);
            })
        }

        showVehicles(){
            HorseDataServices.viewRegisteredVehicles().then((response) => {
                this.vehicles = response;
            }).catch((e) => {
                console.log(e);
            })
        }

        mounted(){
            this.showVehicles();
        }

        refreshPage(){
            this.showVehicles()
        }
    }
</script>
